<ion-view title="Tour" id="tourdias" style="background-color: #f2f2f2;" ng-controller = "tourCtrl">
    <div class="bar bar-subheader" style="background-color: #fff;">
      <p class="custom" style="text-align: center; margin-top: 5px;">Datas disponíveis:</p>
    </div>
    <ion-content padding="false" class="has-header has-tabs has-subheader">

      <!--<div class="spacer" style="width: 300px; height: 5px;"></div>-->
      <!--<div style="background-color: #4D7ECD; margin-top: 0px;">
        <div class="spacer" style="width: 300px; height: 5px;"></div>
        <h5 class="custom" style="text-align: center; color: #fff;">Datas disponíveis:</h5>
        <div class="spacer" style="width: 300px; height: 5px;"></div>
      </div>-->

      <!--<div class="row">
        <div class="col text-center">
          <img class="sombra-card" src="img/unb.png" style="width: 40%; height: auto;">
          <img class="full-image" src="img/modular_unb.jpg">
        </div>
      </div>-->


      <!--<p class="custom" style="color: gray; font-size: 14px; text-align: center;">* O Tour pela UnB é gratuito</p>-->
      <div class="spacer" style="width: 300px; height: 20px;"></div>
      <ion-spinner icon="ios-small" style="position: absolute; margin: 0; left: 50%; margin-right: -50%; transform: translate(-50%, -50%);" ng-show = "spintour"></ion-spinner>
      <ion-list>
        <ion-item class="item-icon-left item-icon-right" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "escolheuTour(tour.dia, tour.mes, tour.ano, tour.hora, tour.data, tour.key)" ng-repeat-start = "tour in tours">
            <i class="icon fa fa-university" style="color: #444bb6; font-size: 25px;"></i>
        <strong class="custom">{{tour.data}}</strong><br><p class="custom" style="font-size: 12px;">{{tour.hora}}</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
        </ion-item>
        <div class="spacer" style="width: 300px; height: 10px;" ng-repeat-end></div>
      </ion-list>
      <div class="row" ng-show="nenhumTour">
        <div class="col text-center">
          <i class="icon ion-ios-world" style="font-size: 50px; color: gray; opacity: 0.7;"></i>
          <div class="spacer" style="width: 300px; height: 10px;"></div>
          <p class="custom" style="font-size: 20px; color: gray; opacity: 0.7;">Em breve</p>
        </div>
      </div>
    </ion-content>
</ion-view>
