<ion-view title="Tour" id="tour" style="background-color: #f2f2f2;" ng-controller = "tourCtrl">
    <ion-content  padding="true" class="has-header has-tabs">

      <!--<div class="spacer" style="width: 300px; height: 5px;"></div>
      <h5 class="custom" style="text-align: center;">A Modular te leva para conhecer a UnB!</h5>
      <hr>-->

      <!--<div class="row">
        <div class="col text-center">
          <img class="sombra-card" src="img/unb.png" style="width: 40%; height: auto;">
          <img class="full-image" src="img/modular_unb.jpg">
        </div>
      </div>-->
      <div class="list card" style="margin-top: 0px;">

        <div class="item item-body">
          <img class="full-image" src="img/modular_unb.jpg">
          <p>
            A Modular tem o prazer de poder realizar um tour pela Universidade
            de Brasília com você! Conheceremos os principais locais, incluindo
            auditórios, salas de aula e o restaurante do campus universitário
            Darcy Ribeiro. Não perca essa oportunidade! (O tour é grátis).
          </p>
        </div>

      </div>

      <a ui-sref="tabsController.tourdias" class="button sombra-button button-stable button-block custom" style="font-size: 15px; border-radius: 7px; font-weight: bold;"><i class="icon ion-ios-redo-outline" style="margin-left: -10%; color: #444bb6;"></i><p style="margin-left: 10%; display: inline;">Quero participar</p></a>


      <!--<p class="custom" style="color: gray; font-size: 14px; text-align: center;">* O Tour pela UnB é gratuito</p>
      <div class="spacer" style="width: 300px; height: 20px;"></div>
      <ion-spinner style="position: absolute; margin: 0; left: 50%; margin-right: -50%; transform: translate(-50%, -50%);" ng-show = "spintour"></ion-spinner>
      <ion-list>
        <ion-item class="item-icon-left item-icon-right animated fadeInLeft sombra-button" style="margin-left: auto; margin-right: auto; width: 90%; border-radius: 7px; text-align: center;" ng-click = "escolheuTour(tour.dia, tour.mes, tour.ano, tour.hora, tour.data, tour.key)" ng-repeat-start = "tour in tours">
            <i class="icon ion-ios-calendar-outline" style="color: #3a4ed5; font-size: 25px;"></i>
        <strong class="custom">{{tour.data}}</strong><br><p class="custom" style="font-size: 12px;">{{tour.hora}}</p>
        <i class="icon ion-ios-checkmark-outline icon-accessory"></i>
        </ion-item>
        <div class="spacer" style="width: 300px; height: 10px;" ng-repeat-end></div>
      </ion-list>
      <div class="row" ng-show="nenhumTour">
        <div class="col text-center">
          <i class="icon ion-ios-world" style="font-size: 50px; color: gray; opacity: 0.7;"></i>
          <div class="spacer" style="width: 300px; height: 10px;"></div>
          <p class="custom" style="font-size: 20px; color: gray; opacity: 0.7;">Em breve</p>
        </div>
      </div>-->
      <div class="spacer" style="width: 300px; height: 10px;"></div>
    </ion-content>
</ion-view>
