<ion-view title="Perfil" style="background-color:#f2f2f2;" id="page4" ng-controller = "ajustesCtrl">
    <!--<ion-nav-buttons side="secondary" id="navbtn1">
      <button class="button button-positive button-icon button-clear ion-ios-help-empty custom-back" ng-click = "goContato()"></button>
    </ion-nav-buttons>-->
    <ion-content padding="true" class="has-header has-tabs">
        <!--<div class="spacer" style="width: 300px; height: 20px;"></div>-->
        <!--<p class="custom" style="font-size: 11px; margin-left: 10px; color: #a9a9a9;">IDENTIFICAÇÃO</p>-->
        <ul class="ul-config" id="perfil-list5">
          <div class="hr-baixo">
            <p style="font-size: 11px; margin-left: 15px; color: #444bb6; font-weight: bold;">IDENTIFICAÇÃO</p>
            <hr class="hr-config">
          </div> 
          <li class="a-config custom">Nome
            <i class="fa fa-user icon-config" style="font-size: 20px;"></i>
            <p id="userconfig" class="p-config custom">{{userconfig}}</p>
          </li>
          <li ui-sref="tabsController.escola" class="a-config2 custom" style="border-bottom: none;">Escola
            <i class="fa fa-building-o icon-config" style="font-size: 20px;"></i>
            <i class="icon ion-ios-arrow-right icon-accessory" style="display: inline; float: right; color: gray;"></i>
            <p id="userescola" class="p-config custom">{{userescola}}</p>
          </li>
        </ul>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <!--<p class="custom" style="font-size: 11px; margin-left: 10px; color: #a9a9a9;">CONTA</p>-->
        <ul class="ul-config">
          <div class="hr-baixo">
            <p style="font-size: 11px; margin-left: 15px; color: #444bb6; font-weight: bold;">CONTA</p>
            <hr class="hr-config">
          </div> 
          <li class="a-config custom">E-mail
            <i class="fa fa-envelope icon-config" style="font-size: 20px;"></i>
            <p id="useremail" class="p-config custom">{{useremail}}</p>
          </li>
          <li class="a-config custom">Senha
            <i class="fa fa-lock icon-config fw-o" style="font-size: 20px;"></i>
            <p id="usersenha" class="p-config custom">{{usersenha}}</p>
          </li>
          <li class="a-config custom" style="border-bottom: none;" ng-click = "statusConta()">Status
            <i class="fa fa-thermometer-full icon-config" style="font-size: 20px;"></i>
            <i class="icon ion-ios-arrow-right icon-accessory" style="display: inline; float: right; color: gray;"></i>
            <p id="userverificado" class="p-config custom">{{contastatus}}</p>
            <div ng-class="{'alert-config-ok' : contaok, 'alert-config' : contanotok}"></div>
          </li>
        </ul>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <!--<p class="custom" style="font-size: 11px; margin-left: 10px; color: #a9a9a9;">PESSOAL</p>-->
        <ul class="ul-config">
          <div class="hr-baixo">
            <p style="font-size: 11px; margin-left: 15px; color: #444bb6; font-weight: bold;">PESSOAL</p>
            <hr class="hr-config">
          </div>
          <li class="a-config2 custom" ng-click = "moveMinhaCategoria()">Categoria
            <i class="fa fa-mortar-board icon-config fw-o" style="font-size: 20px;"></i>
            <i class="icon ion-ios-arrow-right icon-accessory" style="display: inline; float: right; color: gray;"></i>
            <p id="usercategoria" class="p-config custom">{{usercategoria}}</p>
          </li>
          <li ui-sref="tabsController.meusenderecos" class="a-config2 custom">Endereços
            <i class="fa fa-map-marker icon-config fw-o" style="font-size: 20px;"></i>
            <i class="icon ion-ios-arrow-right icon-accessory" style="display: inline; float: right; color: gray;"></i>
          </li>
          <li ui-sref="tabsController.meuscodes" class="a-config2 custom">Códigos
            <i class="fa fa-ticket icon-config fw-o" style="font-size: 20px;"></i>
            <i class="icon ion-ios-arrow-right icon-accessory" style="display: inline; float: right; color: gray;"></i>
          </li>
          <li ui-sref="tabsController.meuscartoesconfig" class="a-config2 custom">Cartões
            <i class="fa fa-credit-card icon-config" style="font-size: 20px;"></i>
            <i class="icon ion-ios-arrow-right icon-accessory" style="display: inline; float: right; color: gray;"></i>
          </li>
          <li class="a-config2 custom" style="border-bottom: none;" ng-click = "editContato()">Contato
            <i class="fa fa-phone icon-config fw-o" style="font-size: 20px;"></i>
            <i class="icon ion-ios-arrow-right icon-accessory" style="display: inline; float: right; color: gray;"></i>
            <p id="usercontato" class="p-config custom">{{usercontato}}</p>
          </li>
        </ul>

            <div class="spacer" style="width: 300px; height: 10px;"></div>
            <!--<p class="custom" style="font-size: 11px; margin-left: 10px; color: #a9a9a9;">FALE CONOSCO</p>-->
            <ul class="ul-config">
              <div class="hr-baixo">
                <p style="font-size: 11px; margin-left: 15px; color: #444bb6; font-weight: bold;">FALE CONOSCO</p>
                <hr class="hr-config">
              </div>
              <!--<li class="a-config custom" ng-repeat="modular in modulares">{{modular.nome}}
                <i class="fa fa-phone icon-config fw-o" style="font-size: 20px;"></i>
                <p class="p-config custom">{{modular.numero}}</p>
              </li>-->
              <li class="a-config custom">{{modular1nome}}
                <i class="fa fa-phone icon-config fw-o" style="font-size: 20px;"></i>
                <p class="p-config custom">{{modular1numero}}</p>
              </li>
              <li class="a-config custom">{{modular2nome}}
                <i class="fa fa-phone icon-config fw-o" style="font-size: 20px;"></i>
                <p class="p-config custom">{{modular2numero}}</p>
              </li>
              <li class="a-config custom">E-mail<i class="fa fa-envelope icon-config" style="font-size: 20px;"></i>
                <p class="p-config custom" style="font-size: 12px;">modularaulas@gmail.com</p>
              </li>
              <li class="a-config custom" style="border-bottom: none;" href="#" onclick="window.open('https://www.facebook.com/ModularAulas/', '_system', 'location=yes'); return false;">Facebook
                <i class="fa fa-facebook icon-config fw-o" style="font-size: 20px;"></i>
                <i class="icon ion-ios-arrow-right icon-accessory" style="display: inline; float: right; color: gray;"></i>
                <p class="p-config custom">ModularAulas</p>
              </li>
            </ul>

            <div class="spacer" style="width: 300px; height: 50px;"></div>
            <!--<p class="custom" style="font-size: 11px; margin-left: 10px; color: #a9a9a9;">LOG OUT</p>-->
            <ion-item id="sair" class="item-icon-right" ng-click = "sair()">
              <i class="icon fa fa-sign-out assertive" style="font-size: 20px;"></i>
              <p class="custom" style="text-align: center; color: red; margin-left: 35px; font-size: 15px;">SAIR</p>
            </ion-item>

            <div class="spacer" style="width: 300px; height: 40px;"></div>
            <p style="font-size: 11px; margin-left: 10px; color: #a9a9a9;"></p>
            <ion-item class="custom" style="text-align: center; color: red; font-size: 14px;" ng-click = "excluirConta()">
              EXCLUIR CONTA
            </ion-item>
        </ul>

        <div class="spacer" style="width: 300px; height: 5px;"></div>
        <div class="row">
          <div class="col text-center">
            <img src="img/Modular_logo_branca.png" style="width: 150px; height: auto;">
            <p id="appv" class="custom" style="text-align: center; font-size: 12px; color: gray; margin-top: -20px;">Versão 1.3.4</p>
            <!--<p class="custom" style="text-align: center; font-size: 12px; color: gray;"><i class="fa fa-copyright" style="font-size: 12px;"></i> Instituto Modular 2017</p>-->
          </div>
        </div>

        <div class="spacer" style="width: 300px; height: 20px;"></div>
    </ion-content>
</ion-view>
