<ion-view title="Boleto" id="boleto" style="background-color: #f2f2f2;" ng-controller = "boletoCtrl">
    <ion-content padding="true" class="has-header has-tabs">
      <form name = "formBoleto" novalidate>
        <div class="item item-divider custom" style="text-align: center; background-color: #fff;">
          Informações de Pagamento
        </div>
        <label class="item item-input item-stacked-label" style="background-color: #fff;">
          <span class="input-label custom" style="color: #3a4ed5;">Nome: <p style="color: gray; display: inline;">(Completo)</p></span>
          <input class="custom" id="boletonome" type="text" ng-model = "data.name" ng-minlength="6" ng-maxlength="200" required>
        </label>
        <label class="item item-input item-stacked-label" style="background-color: #fff;">
          <span class="input-label custom" style="color: #3a4ed5;">CPF: <p style="color: gray; display: inline;">(Sem formatação)</p></span>
          <input class="custom" id="boletocpf" type="text" ng-model = "data.cpf" ng-minlength="11" ng-maxlength="50" required>
        </label>
        <label class="item item-input item-stacked-label" style="background-color: #fff;" ng-hide="true">
          <span class="input-label custom" style="color: #3a4ed5;">E-mail:</span>
          <input class="custom" id="boletoemail" type="email" ng-model = "data.email" ng-minlength="6" ng-maxlength="200" required>
        </label>
        <label class="item item-input item-stacked-label" style="background-color: #fff;">
          <span class="input-label custom" style="color: #3a4ed5;">Data de Nascimento:</span>
          <input class="custom" id="boletonascimento" type="date" ng-model = "data.birth" required>
        </label>
        <label class="item item-input item-stacked-label" style="background-color: #fff;">
          <span class="input-label custom" style="color: #3a4ed5;">Telefone: <p style="color: gray; display: inline;">(Com DDD)</p></span>
          <input class="custom" id="boletotelefone" type="tel" ng-model = "data.phone_number" ng-minlength="10" ng-maxlength="50" required>
        </label>

        <div class="spacer" style="width: 300px; height: 10px;"></div>

        <div class="item item-divider custom" style="text-align: center; background-color: #fff;">
          Informações do Endereço
        </div>
        <label class="item item-input item-stacked-label" style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; background-color: #fff;">
          <span class="input-label custom" style="color: #3a4ed5;">Estado: <p style="color: gray; display: inline;">(Sigla)</p></span>
          <input class="custom" type="text" ng-model="data.shippingAddress.state" ng-minlength="2" ng-maxlength="2" required>
        </label>
        <label class="item item-input item-stacked-label" style="background-color: #fff;">
          <span class="input-label custom" style="color: #3a4ed5;">Cidade:</span>
          <input class="custom" type="text" ng-model="data.shippingAddress.city" ng-minlength="3" ng-maxlength="100" required>
        </label>
        <label class="item item-input item-stacked-label" style="background-color: #fff;">
          <span class="input-label custom" style="color: #3a4ed5;">Bairro:</span>
          <input class="custom" type="text" ng-model="data.shippingAddress.district" ng-minlength="1" ng-maxlength="50" required>
        </label>
        <label class="item item-input item-stacked-label" style="background-color: #fff;">
          <span class="input-label custom" style="color: #3a4ed5;">Rua:</span>
          <input class="custom" type="text" ng-model="data.shippingAddress.street" ng-minlength="1" ng-maxlength="50" required>
        </label>
        <label class="item item-input item-stacked-label" style="background-color: #fff;">
          <span class="input-label custom" style="color: #3a4ed5;">Número:</span>
          <input class="custom" type="text" ng-model="data.shippingAddress.streetNumber" ng-minlength="1" ng-maxlength="50" required>
        </label>
        <label class="item item-input item-stacked-label" style="background-color: #fff;">
          <span class="input-label custom" style="color: #3a4ed5;">Complemento:</span>
          <input class="custom" type="text" ng-model="data.shippingAddress.complement" ng-minlength="1" ng-maxlength="100" required>
        </label>
        <label class="item item-input item-stacked-label" style="background-color: #fff;">
          <span class="input-label custom" style="color: #3a4ed5;">CEP: <p style="color: gray; display: inline;">(Sem formatação)</p></span>
          <input class="custom" type="text" ng-model="data.shippingAddress.zipCode" ng-minlength="3" ng-maxlength="50" required>
        </label>

      </div>
      <div class="spacer" style="width: 300px; height: 20px;"></div>
      <p class="custom" style="text-align: center;" ng-show="formBoleto.$invalid"><i class="icon ion-ios-information-outline"></i> Por favor, confira seus dados</p>
      <div class="spacer" style="width: 300px; height: 20px;"></div>
      <button class="button button-block button-stable sombra-button custom" style="font-size: 15px;" ng-disabled="formBoleto.$invalid" ng-click = "confirmarAulaBoleto(data)"><i class="icon ion-ios-checkmark-outline" style="margin-left: -10%; color: #3a4ed5;"></i><p style="margin-left: 10%; display: inline; font-weight: bold;">Confirmar</p></button>
      </form>
    </ion-content>
</ion-view>
