<ion-view title="Resumo" id="page14" style="background-color:#f2f2f2;" ng-controller = "resumoCtrl">
  <ion-content padding="true" class="has-header has-tabs">
    <!--<ion-list id="resumo-list9">
      <ion-item class="item-avatar" style="border: none; margin-left: 1px;" id="professoresDisponVeis-list-item14">
          <img id="avatarprofresumo" ng-src="{{avatarprofresumo}}" style="object-fit: cover;">
          <h2 class="custom" id="h2profresumo">{{h2profresumo}}</h2>
          <p class="custom" style="font-size: 12px;" id="pprofcursoresumo">{{pprofcursoresumo}}</p>
      </ion-item>
    </ion-list>-->
    <!--<div class="spacer" style="width: 300px; height: 10px;"></div>-->
    <ul class="ul-config" style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; border: none;">
      <div class="hr-baixo">
        <img src="img/moip.png" style="object-fit: cover; display: inline; float: right;">
        <p style="font-size: 11px; margin-left: 15px; color: #444bb6; font-weight: bold;">QUADRO RESUMO</p>
        <hr class="hr-config">
      </div>
      <li class="item item-avatar" style="border: none; margin-left: 1px; margin-right: 1px;" id="professoresDisponVeis-list-item14">
          <img id="avatarprofresumo" ng-src="{{avatarprofresumo}}" style="object-fit: cover;">
          <h2 class="custom" id="h2profresumo">{{h2profresumo}}</h2>
          <p class="custom" style="font-size: 12px;" id="pprofcursoresumo">{{pprofcursoresumo}}</p>
      </li>
      <li class="a-config" id="resumo-list-item29">
        <i class="fa fa-bars icon-config fw-o" style="font-size: 20px;"></i>
        <strong class="custom" style="font-size: 15px;">Categoria:</strong>
        <p class="pmodular">{{pcat}}</p>
      </li>
      <li class="a-config" id="resumo-list-item30">
        <i class="fa fa-book icon-config fw-o" style="font-size: 20px;"></i>
        <strong class="custom" style="font-size: 15px;">Disciplina:</strong>
        <p class="pmodular">{{pd}}</p>
      </li>
      <li class="a-config" id="resumo-list-item37">
        <i class="fa fa-map-marker icon-config fw-o" style="font-size: 20px;"></i>
        <strong class="custom" style="font-size: 15px;">Endereço:</strong>
        <p class="pmodular">{{padress}}</p>
      </li>
      <li class="a-config" id="resumo-list-item32">
        <i class="fa fa-users icon-config fw-o" style="font-size: 20px;"></i>
        <strong class="custom" style="font-size: 15px;">Alunos:</strong>
        <p class="pmodular">{{palunos}}</p>
      </li>
      <li class="a-config" id="resumo-list-item33">
        <i class="fa fa-calendar-o icon-config" style="font-size: 20px;"></i>
        <strong class="custom" style="font-size: 15px;">Data:</strong>
        <p class="pmodular">{{pdata}}</p>
      </li>
      <li class="a-config" style="border-bottom: none; border-bottom-right-radius: 0px;" id="resumo-list-item35">
        <i class="fa fa-money icon-config" style="font-size: 20px;"></i>
        <strong class="custom" style="font-size: 15px;">Valor:</strong>
        <p class="pmodular">{{pvalor}}</p>
      </li>
    </ul>

    <p id="presumoano" ng-hide = "true"></p>
    <p id="presumodia" ng-hide = "true"></p>
    <p id="presumomes" ng-hide = "true"></p>
    <p id="presumohora" ng-hide = "true"></p>
    <p id="presumovalor2" ng-hide = "true"></p>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <button id="resumo-button5" class="button button-stable button-block sombra-button custom" style="border-radius: 7px;" ng-click = "check4email()"><i class="fa fa-check-square-o" style="margin-left: -10%; color: #444bb6;"></i><p style="margin-left: 10%; display: inline; font-weight: bold;">Confirmar</p></button>
    <div class="spacer" style="width: 300px; height: 20px;"></div>


    <script id="resumo/paymentDetalhes.html" type="text/ng-template">
      <ion-modal-view style="background-color: #f2f2f2;">
        <ion-header-bar class="bar-stable">
          <div class="buttons">
            <button class="button button-icon icon ion-ios-close-empty" ng-click="modpdl.hide()"></button>
          </div>
          <h1 class="title">Pagamento</h1>
        </ion-header-bar>
        <!--<div class="bar bar-subheader" style="background-color: #f8f8f8;">
          <p class="custom" style="font-size: 15px; text-align: center; margin-top: 5px;">Forma de pagamento</p>
        </div>-->
        <ion-content class="has-header">
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <p class="custom" style="text-align: center; color: gray;">Escolha uma forma de pagamento.
                O pagamento somente será efetuado após você finalizar sua aula.
              </p>

              <div class="row">
                <div class="col custom div-act-dis sombra-aulas" ng-click = "inicioBoleto()" ion-ripple ion-ripple-color="#444bb6">
                  <div class="col text-center">
                    <div class="div-pop-dis">
                      <i class="icon ion-document icon-pop-dis"></i>
                    </div>
                    <div class="spacer" style="width: 300px; height: 5px;"></div>
                    <p class="custom" style="display: inline;">Boleto Bancário</p>
                  </div>
                </div>
                <div class="col custom div-act-dis sombra-aulas" ng-click = "interInicio()" ion-ripple ion-ripple-color="#444bb6">
                  <div class="col text-center">
                    <div class="div-pop-dis">
                      <i class="icon ion-card icon-pop-dis"></i>
                    </div>
                    <div class="spacer" style="width: 300px; height: 5px;"></div>
                    <p class="custom" style="display: inline;">Cartão de Crédito</p>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col custom div-act-dis sombra-aulas" ng-click = "interTrans()" ion-ripple ion-ripple-color="#444bb6">
                  <div class="col text-center">
                    <div class="div-pop-dis">
                      <i class="icon ion-arrow-swap icon-pop-dis"></i>
                    </div>
                    <div class="spacer" style="width: 300px; height: 5px;"></div>
                    <p class="custom" style="display: inline;">Transferência Bancária</p>
                    </div>
                  </div>
              </div>

              <!--<div class="row">
                <div class="col custom div-act-dis sombra-aulas" ng-click = "inicioBoleto()" ion-ripple ion-ripple-color="#444bb6">
                  <div class="col text-center">
                    <div class="div-pop-dis">
                      <i class="icon ion-document icon-pop-dis"></i>
                    </div>
                    <div class="spacer" style="width: 300px; height: 5px;"></div>
                    <p class="custom" style="display: inline;">Boleto Bancário</p>
                  </div>
                </div>
              </div>

              <p class="custom middle-black" style="text-align: center;">ou</p>

              <div class="row">
                <div class="col custom div-act-dis sombra-aulas" ng-click = "interInicio()" ion-ripple ion-ripple-color="#444bb6">
                  <div class="col text-center">
                    <div class="div-pop-dis">
                      <i class="icon ion-card icon-pop-dis"></i>
                    </div>
                    <div class="spacer" style="width: 300px; height: 5px;"></div>
                    <p class="custom" style="display: inline;">Cartão de Crédito</p>
                  </div>
                </div>
              </div>-->


        </ion-content>
      </ion-modal-view>
    </script>
  </ion-content>
</ion-view>
