<ion-view hide-nav-bar="true" style="background: url(img/fundo_2.jpg) no-repeat center; background-size: cover;" id="cadastro" ng-controller = "registerCtrl">
    <ion-content padding="true">

      <div class="row">
        <div class="col text-center">
          <img class="full-image" src="img/Modular_logo_branca.png" style="width: 70%; height: auto;">
        </div>
      </div>

      <form id="cadastro-form1" class="list" name="myForm2" novalidate>
        <div style="padding-left: 30px; padding-right: 30px;">
          <ion-list id="cadastro-list1">
              <label class="item item-input" id="cadastro-input1" style="border: 1px solid #333333; border-left: none; border-right: none; border-top: none; background-color: transparent;" ng-class="{ 'neutral' : myForm2.nome.$invalid, 'no-errors3' : myForm2.nome.$valid}">
                  <i class="input-label icon ion-ios-person-outline" style="color: white; font-size: 20px; margin-left: -5%;"></i>
                  <input class="custom" type="text" name="nome" style="background-color: transparent; margin-left: -15%; color: white; text-align: center;" placeholder="Nome Completo" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Nome Completo'" ng-model = "data.nome" ng-minlength="6" ng-maxlength="300" required>
              </label>
              <div class="spacer" style="width: 300px; height: 20px;"></div>
              <label class="item item-input" id="cadastro-input11" style="border: 1px solid #333333; border-left: none; border-right: none; border-top: none; background-color: transparent;" ng-class="{ 'neutral' : myForm2.email.$invalid, 'no-errors3' : myForm2.email.$valid}">
                  <i class="input-label icon ion-ios-email-outline" style="color: white; font-size: 20px; margin-left: -5%;"></i>
                  <input class="custom" type="email" name="email" style="background-color: transparent; margin-left: -15%; color: white; text-align: center;" placeholder="E-mail" onfocus="this.placeholder = ''" onblur="this.placeholder = 'E-mail'" ng-model = "data.email" ng-minlength="6" ng-maxlength="300" required>
              </label>
              <div class="spacer" style="width: 300px; height: 20px;"></div>
              <label class="item item-input" id="cadastro-input12" style="border: 1px solid #333333; border-left: none; border-right: none; border-top: none; background-color: transparent;" ng-class="{ 'neutral' : myForm2.phone.$invalid, 'no-errors3' : myForm2.phone.$valid}">
                  <i class="input-label icon ion-ios-telephone-outline" style="color: white; font-size: 20px; margin-left: -5%;"></i>
                  <input class="custom" type="tel" name="phone" style="background-color: transparent; margin-left: -15%; color: white; text-align: center;" placeholder="Telefone" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Telefone'" ng-model = "data.phone" ng-minlength="7" ng-maxlength="200" required>
              </label>
              <div class="spacer" style="width: 300px; height: 20px;"></div>
              <ion-item class="item-icon-left" style="border: 1px solid #333333; border-left: none; border-right: none; border-top: none; background-color: transparent;" ng-class="{ 'neutral' : myForm2.niver.$invalid, 'no-errors3' : myForm2.niver.$valid}" ng-click="modal.show()">
                <i class="icon ion-ios-information-outline" style="color: white; font-size: 20px; margin-left: -5%;"></i>
                <p class="custom" style="color: white; font-weight: 700; font-size: 14px; text-align: center; margin-left: -20px;" ng-if = "!data.escola">Escola (Opcional)</p>
                <p class="custom" style="color: white; font-size: 14px; text-align: center; margin-left: -20px;" ng-if = "data.escola" ng-model = "data.escola">{{data.escola}}</p>
              </ion-item>
              <div class="spacer" style="width: 300px; height: 20px;"></div>
              <label class="item item-input" id="cadastro-input3" style="border: 1px solid #333333; border-left: none; border-right: none; border-top: none; background-color: transparent;" ng-class="{ 'neutral' : myForm2.pass.$invalid, 'no-errors3' : myForm2.pass.$valid}">
                  <i class="input-label icon ion-ios-locked-outline" style="color: white; font-size: 20px; margin-left: -5%;"></i>
                  <input class="custom" type="password" name="pass" style="background-color: transparent; margin-left: -15%; color: white; text-align: center;" placeholder="Senha" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Senha'" ng-model = "data.password" ng-minlength="6" ng-maxlength="300" required>
              </label>
              <div class="spacer" style="width: 300px; height: 20px;"></div>
              <label class="item item-input" id="cadastro-input4" style="border: 1px solid #333333; border-left: none; border-right: none; border-top: none; background-color: transparent;" ng-class="{ 'neutral' : myForm2.passconfirm.$invalid, 'no-errors3' : myForm2.passconfirm.$valid}">
                  <i class="input-label icon ion-ios-locked-outline" style="color: white; font-size: 20px; margin-left: -5%;"></i>
                  <input class="custom" type="password" name="passconfirm" style="background-color: transparent; margin-left: -15%; color: white; text-align: center;" placeholder="Confirme a senha" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Confirme a senha'" ng-model = "data.passwordconfirm" ng-minlength="6" ng-maxlength="300" required>
              </label>
          </ion-list>
        </div>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <div class="row">
          <div class="col text-center">
            <p class="custom" style="color: white;" ng-show = "myForm2.pass.$invalid">*Senha de no mínimo 6 caracteres</p>
            <div class="spacer" style="width: 300px; height: 10px;"></div>
            <a class="button button-light button-block button-clear" href="#" onclick="window.open('https://media.wix.com/ugd/d70f1b_539d6f6196344fbabc4f9f1547135410.pdf', '_system', 'location=yes'); return false;">Ao se cadastrar você concorda com os nossos <strong>Termos de Uso</strong></a>
            <div class="spacer" style="width: 300px; height: 30px;"></div>
            <button id="cadastro-button1" class="button button-balanced button-block opaco-noventa custom" style="margin-left: auto; margin-right: auto; width: 85%; font-weight: bold;" ng-disabled="myForm2.$invalid" ng-click = "interRegister(data.nome, data.email, data.phone, data.escola, data.password, data.passwordconfirm)">Cadastrar</button>
            <div class="spacer" style="width: 300px; height: 10px;"></div>
            <a ui-sref="loginAluno" class="button button-block button-light button-clear custom">Já possuo uma conta</a>
          </div>
        </div>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
      </form>

      <script id="cadastro/categoriasCadastro.html" type="text/ng-template">
        <ion-modal-view>
          <ion-header-bar align-title="center" class="bar-stable">
            <button class="button button-secondary button-icon icon ion-ios-close-empty" ng-click="modccl.hide()"></button>
            <h1 class="title custom">Categorias</h1>
          </ion-header-bar>
          <ion-content padding="true" class="has-header">
              <div class="spacer" style="width: 300px; height: 15px;"></div>
              <div class="row">
                <div class="col text-center">
                  <p class="custom" style="font-size: 15px;">Escolha uma categoria:</p>
                  <div class="spacer" style="width: 300px; height: 10px;"></div>
                  <button class="button button-block button-stable custom sombra-button" style="border-radius: 7px;" ng-click="addCat('EF')">Ensino Fundamental</button>
                  <button class="button button-block button-stable custom sombra-button" style="border-radius: 7px;" ng-click="addCat('1EM')">1º ano do Ensino Médio</button>
                  <button class="button button-block button-stable custom sombra-button" style="border-radius: 7px;" ng-click="addCat('2EM')">2º ano do Ensino Médio</button>
                  <button class="button button-block button-stable custom sombra-button" style="border-radius: 7px;" ng-click="addCat('3EM')">3º ano do Ensino Médio</button>
                  <button class="button button-block button-stable custom sombra-button" style="border-radius: 7px;" ng-click="addCat('VE')">Pré-Vestibular</button>
                  <button class="button button-block button-stable custom sombra-button" style="border-radius: 7px;" ng-click="addCat('SUP')">Ensino Superior</button>
                  <button class="button button-block button-stable custom sombra-button" style="border-radius: 7px;" ng-click="addCat('IDI')">Idiomas</button>
                  <!--<button class="button button-block button-stable custom sombra-button" style="border-radius: 7px;" ng-click="addCat('CV')">{{cursosnome}}</button>-->
                </div>
              </div>
              <div class="spacer" style="width: 300px; height: 30px;"></div>
          </ion-content>
        </ion-modal-view>
      </script>

      <script id="cadastro/cadastroescolamodal.html" type="text/ng-template">
        <ion-modal-view style="background-color: #f2f2f2;">
          <ion-header-bar class="bar-stable">
            <div class="buttons button-right">
              <button class="button button-clear button-primary button-icon ion-ios-close-empty" ng-click="modal.hide()"></button>
            </div>
            <h1 class="title custom">Escola</h1>
          </ion-header-bar>
          <ion-content class="has-header">
            <div class="spacer" style="width: 300px; height: 10px;"></div>
            <div class="divcircledprof" style="width: 40%;">
              <p class="custom" style="text-align: center;">Brasília - DF</p>
            </div>
            <div class="spacer" style="width: 300px; height: 10px;"></div>
            <ion-list>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioJK', 'Colégio JK')">Colégio JK</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioLeonardoDaVinci', 'Colégio Leonardo da Vinci')">Colégio Leonardo da Vinci</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioMariaAuxiliadora', 'Colégio Maria Auxiliadora')">Colégio Maria Auxiliadora</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('Sigma', 'Sigma')">Sigma</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('COC', 'COC')">COC</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioALUB', 'Colégio ALUB')">Colégio ALUB</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioBatista', 'Colégio Batista')">Colégio Batista</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioCorJesu', 'Colégio Cor Jesu')">Colégio Cor Jesu</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioDomBosco', 'Colégio Dom Bosco')">Colégio Dom Bosco</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioGalois', 'Colégio Galois')">Colégio Galois</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioImaculadaConceição', 'Colégio Imaculada Conceição')">Colégio Imaculada Conceição</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioLaSalle', 'Colégio La Salle')">Colégio La Salle</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioMadreCarmenSalles', 'Colégio Madre Carmen Salles')">Colégio Madre Carmen Salles</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioMaristadeBrasilia', 'Colégio Marista de Brasília')">Colégio Marista de Brasília</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioDomPauloII', 'Colégio Dom Paulo II')">Colégio Dom Paulo II</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioMaristaPioXII', 'Colégio Marista Pio XII')">Colégio Marista Pio XII</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioOlimpo', 'Colégio Olimpo')">Colégio Olimpo</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioPodion', 'Colégio Pódion')">Colégio Pódion</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioSagradoCoracaodeMaria', 'Colégio Sagrado Coração de Maria')">Colégio Sagrado Coração de Maria</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioSantaDoroteia', 'Colégio Santa Dorotéia')">Colégio Santa Dorotéia</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('CentroDeEnsinoIsaacNewton', 'Centro de Ensino Isaac Newton')">Centro de Ensino Isaac Newton</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('CentroEducacionalAdventistaDeTaguatinga', 'Centro Educacional Adventista de Taguatinga')">Centro Educacional Adventista de Taguatinga</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('CentroEducacionalCerto', 'Centro Educacional Certo')">Centro Educacional Certo</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('Projecao', 'Projeção')">Projeção</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioDJ', 'Colégio DJ')">Colégio DJ</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioEvangelicoBomSamaritano', 'Colégio Evangélico Bom Samaritano')">Colégio Evangélico Bom Samaritano</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioIdeal', 'Colégio Ideal')">Colégio Ideal</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioJesusMariaEJose', 'Colégio Jesus Maria e José')">Colégio Jesus Maria e José</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioMadreTeresa', 'Colégio Madre Teresa')">Colégio Madre Teresa</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioSantaTeresinha', 'Colégio Santa Teresinha')">Colégio Santa Teresinha</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('InstitutoDeEducacaoCrista', 'Instituto de Educação Cristã')">Instituto de Educação Cristã</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('Outra', 'Outra')">Outra</ion-item>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 15px;"></div>
          </ion-content>
        </ion-modal-view>
      </script>
    </ion-content>
</ion-view>
