<ion-view title="Horários" id="page13" style="background: url(img/degrade_modular.jpg) no-repeat center;background-size:cover;" ng-controller = "calendarCtrl">
    <ion-nav-buttons side="right">
        <button class="button button-positive button-icon button-clear ion-ios-help-empty custom-back" ng-click = "help()">
        </button>
    </ion-nav-buttons>
    <ion-content id="contentHorProf" padding="true" class="has-header has-tabs">
      <ion-refresher
        class="custom"
        pulling-text="Atualizar"
        on-refresh="refreshHorarios()">
      </ion-refresher>
        <onezone-datepicker datepicker-object="onezoneDatepicker" class="custom">
            <div class="row show-onezone-datepicker">
                <div  class="col text-center" style="margin-top: -10px;">
                  <img id="imgprofcircled" class="prof-horarios" ng-src="{{imgprofcircled}}">
                  <div class="divcircledprof">
                    <p id="divide" class="custom" style="text-align: center;">{{divide}}</p>
                  </div>
                </div>
            </div>
        </onezone-datepicker>

        <div class="row">
          <div class="col text-center">
            <i class="ion-record" style="color: #00b300; font-size: 20px; "></i>
            <p class="custom" style="display:inline; color: white; position: relative; top: -2px;"> - Dias disponíveis</p>
          </div>
        </div>

        <div class="spacer" style="width: 300px; height: 25px;"></div>
        <p id="profCalendarName" style="text-align: center;"></p>


    <script id="calendarprof/diaDetalhes.html" type="text/ng-template">
      <ion-modal-view style="background-color: #f2f2f2;">
        <ion-header-bar class="bar-stable">
          <button class="button button-primary button-icon icon ion-ios-close-empty" ng-click="modol.hide()"></button>
          <h1 id="navtitle" class="title custom" style="font-size: 14px;">{{navtitle}}</h1>
        </ion-header-bar>
          <ion-content id="diacnt" padding="true">
              <div class="row" style="background: url(img/fundocalendar.jpg) no-repeat center; background-size:cover;">
                <div class="col text-center">
                  <div class="spacer" style="width: 300px; height: 10px;"></div>
                  <div class="circled custom" style="top: -15px; font-size: 16px;">
                    <strong id="datadiacirclehora" style="position: relative; top: 0%;">{{datadiacirclehora}}</strong>
                  </div>
                  <div class="divcircled">
                    <p id="diacirclehora" class="custom" style="font-weight: normal;">{{diacirclehora}}</p>
                  </div>
                </div>
              </div>
            <ion-spinner id = "spindia" icon="ios-small" style="position: absolute; margin: 0; left: 50%; margin-right: -50%; transform: translate(-50%, 50%);" ng-show="data.spinhor"></ion-spinner>
            <ul class="ul-config">
                <li class="a-fin custom" ng-click="escolheuAula(aula.prof, aula.key, aula.data, aula.hora, aula.professor, aula.ano, aula.mes, aula.dia, aula.horares, aula.pdata, aula.phora, aula.profpush, aula.pminutos, aula.merchId)" ng-repeat = "aula in aulas" ng-class = "{'last' : $last}"><strong style="margin-left: 5px;">{{aula.hora}}</strong>
                  <div class="spacer" style="width: 300px; height: 5px;"></div>
                  <div class="divhor custom">Horário Disponível</div>
                  <i class="icon ion-ios-arrow-right icon-accessory ihor" style="display: inline; float: right; color: gray;"></i>
                </li>
            </ul>
            <div id="divpai" class="row">
              <div id="divdiacnt" class="col text-center" ng-show = "data.nenhumhorario">
                <p class="picn custom">NENHUM HORÁRIO DISPONÍVEL PARA ESTE DIA.</p>
                <i class="fa fa-calendar-times-o iconeicn" style="font-size: 70px;"></i>
              </div>
            </div>
            <div class="spacer" style="width: 300px; height: 10px;"></div>
          </ion-content>
      </ion-modal-view>
    </script>
    </ion-content>

</ion-view>
