<ion-view hide-nav-bar="true" style="background: url(img/fundoapp_3.jpg) no-repeat center; background-size: cover;" id="loginAluno" ng-controller = "loginCtrl">

    <ion-content scroll="false" padding="true">

      <div class="row">
        <div class="col text-center">
          <img class="full-image" src="img/Modular_logo_branca.png" style="width: 60%; height: auto;">
        </div>
      </div>
        <form id="loginAluno-form2" class="list" name = "myForm" novalidate>
            <div style="padding-left: 30px; padding-right: 30px;">
              <ion-list id="loginAluno-list2">
                  <label class="item item-input" id="loginAluno-input7" style="background-color: transparent; border: 1px solid #333333; border-left: none; border-right: none; border-top: none;">
                      <i class="input-label icon ion-ios-email-outline" style="color: #fff; font-size: 23px; margin-left: -5%;"></i>
                      <input class="custom" id="inputUserName" name="username" type="email" placeholder="E-mail" onfocus="this.placeholder = ''" onblur="this.placeholder = 'E-mail'" style="margin-left: -15%; text-align: center; color: white; font-weight: bold;" ng-model = "data.login" required>
                  </label>
                  <label class="item item-input" id="loginAluno-input8" style="background-color: transparent; border: 1px solid #333333; border-left: none; border-right: none; border-top: none;">
                      <i class="input-label icon ion-ios-locked-outline" style="color: #fff; font-size: 23px; margin-left: -5%;"></i>
                      <input class="custom" id="inputUserPassword" name="password" type="password" placeholder="Senha" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Senha'" style="margin-left: -15%; text-align: center; color: white; font-weight: bold;" ng-model = "data.password" required>
                  </label>

                  <div class="row">
                    <div class="col text-center">
                      <label class="checkbox checkbox-balanced" style="opacity: 0.9;" ng-hide = "myForm.$invalid">
                        <input id="inputUserCheck" type="checkbox" checked="" ng-model = "data.rememberlogin" ng-checked = "data.rememberlogin">
                      </label>
                      <p class="custom" style="color: white;" ng-hide = "myForm.$invalid">Lembrar-me</p>
                    </div>
                  </div>
              </ion-list>
            </div>

            <button id="loginAluno-button32" class="button button-balanced button-block custom opaco-noventa" style="border-radius: 7px; margin-left: auto; margin-right: auto; width: 85%; font-weight: bold;" ng-disabled="myForm.$invalid" ng-click = "login(data.rememberlogin, data.login, data.password)">Entrar</button>
            <button id="loginAluno-button6" class="button button-light button-block button-clear custom" ng-click="modrpl.show()">Esqueci a senha</button>

        </form>
        <a ui-sref="cadastro" class="button button-block button-light button-clear custom" style="font-weight: normal; position: absolute; top: 90%; margin: 0; left: 50%; margin-right: -50%; transform: translate(-50%, -50%);">Não possui uma conta? <strong>Cadastre-se</strong></a>

        <script id="login/resetPass.html" type="text/ng-template">
          <ion-modal-view>
            <ion-header-bar class="bar-light">
              <div class="buttons button-right">
                <button class="button button-clear button-dark button-primary button-icon ion-ios-close-empty" ng-click="modrpl.hide()"></button>
              </div>
              <h1 class="title custom">Redefinição</h1>
            </ion-header-bar>
            <ion-content padding="true">

              <div class="spacer" style="width: 300px; height: 15px;"></div>
              <div class="row">
                <div class="col text-center">
                  <i class="icon ion-ios-refresh-outline" style="font-size: 50px;"></i>
                  <div class="spacer" style="width: 300px; height: 10px;"></div>
                  <p class="custom" style="text-align: center;">Informe o seu endereço de e-mail no campo abaixo para redefinir sua senha:</p>
                  <div class="spacer" style="width: 300px; height: 15px;"></div>
                  <form name = "resetForm" novalidate>
                    <!--<label class="item item-input" style="background-color: transparent;">
                        <i class="input-label icon ion-ios-email-outline" style="color: #444bb6; font-size: 23px; margin-left: -10%;"></i>
                        <input class="custom" name="username" type="email" style="margin-left: -20%; text-align: center; font-weight: bold;" ng-model = "data.resetpass" ng-minlength="6" required>
                    </label>-->
                    <div style="padding-left: 40px; padding-right: 40px;">
                      <ion-list>
                        <label class="item item-input" style="background-color: transparent; border: 1px solid #333333; border-left: none; border-right: none; border-top: none;">
                            <i class="input-label icon ion-ios-email-outline" style="color: #444bb6; font-size: 23px; margin-left: -5%;"></i>
                            <input class="custom" name="username" type="email" style="margin-left: -15%; text-align: center; font-weight: bold;" ng-model = "data.resetpass" ng-minlength="6" required>
                        </label>
                      </ion-list>
                    </div>
                    <div class="spacer" style="width: 300px; height: 30px;"></div>
                    <button class="button button-block button-stable sombra-button" style="border-radius: 7px; margin-left: auto; margin-right: auto; width: 95%; font-weight: bold;" ng-disabled="myForm.$invalid"><i class="icon ion-ios-paperplane-outline" style="margin-left: -10%; color: #3a4ed5;" ng-click="resetPass(data.resetpass)"></i><p style="margin-left: 10%; display: inline; font-weight: bold;">Enviar</p></button>
                </div>
              </div>
              </form>
            </ion-content>
          </ion-modal-view>
        </script>

    </ion-content>
</ion-view>
