<ion-view title="Editar senha" id="changePass" ng-controller = "mainCtrl">
    <ion-content  padding="true" class="has-header">

      <form id="modalform1" class="list" name = "myFormModal" novalidate>
        <div class="spacer" style="width: 300px; height: 15px;"></div>
        <p class="custom" style="text-align: center; font-size: 15px; font-weight: normal;">Preencha os campos abaixo para atualizar sua senha:</p>
        <hr style="margin-left: 20px; margin-right: 20px;">
        <div class="spacer" style="width: 300px; height: 15px;"></div>
        <label class="item item-input item-stacked-label" id="modal-input1">
            <span class="input-label custom">Senha</span>
            <input type="password" name="pass" style="background-color: transparent;" ng-model = "data.password" ng-minlength="6" required>
        </label>
        <label class="item item-input item-stacked-label" id="modal-input2">
            <span class="input-label custom">Nova senha</span>
            <input type="password" name="passconfirm" style="background-color: transparent;" ng-model = "data.newpassword" ng-minlength="6" required>
        </label>
        <div class="spacer" style="width: 300px; height: 15px;"></div>
        <p class="custom" style="color: black; text-align: center;" ng-show = "myFormModal.pass.$invalid">*Senha de no mínimo 6 caracteres</p>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <button class="button button-block button-stable sombra-button custom" ng-disabled="myFormModal.$invalid" ng-click = "changeSenha(data.password, data.newpassword)"><i class="icon ion-ios-checkmark-empty" style="margin-left: -10%; color: #3a4ed5;"></i><p style="margin-left: 10%; display: inline;">Confirmar</p></button>
      </form>

    </ion-content>
</ion-view>
