<ion-view hide-nav-bar="true" style="background: url(img/modular-home.jpg) no-repeat center;background-size:cover;" id="inicio" ng-controller = "mainCtrl">
  <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    <div>
      <img src="img/Modular_logo_branca.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>

    <div class="spacer" style="width: 300px; height: 60px;"></div>
    <a ui-sref = "cadastro" id="page-button1" class="button button-block custom" style="background-color: #385583; color: white; width: 70%; margin-left: 15%; border-radius: 7px; font-weight: bold;">
      <i class="icon ion-ios-email" style="float: left; display: inline;"></i>
    Cadastrar-se</a>
    <p class="custom" style="text-align: center; font-size: 16px;"><strong>ou</strong></p>
    <a ui-sref = "loginAluno" id="page-button2" class="button button-stable  button-block custom" style="width: 70%; margin-left: 15%; border-radius: 7px; font-weight: bold;">
      <i class="icon ion-ios-person" style="float: left; display: inline;"></i>
    Fazer login</a>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <div class="row">
      <div class="col text-center">
        <button class="button button-light button-clear custom" style="color: #fff;" ng-click="ajuda()">Ajuda</button>
      </div>
    </div>

  </ion-content>
</ion-view>
