<ion-view title="Minha Categoria" id="page30" style="background-color:#f2f2f2;" ng-controller = "mainCtrl">
    <ion-content  padding="true" class="has-header" ng-init = "updateScope()">
      <!--<div class="spacer" style="width: 300px; height: 10px;"></div>
      <p class="custom" style="font-size: 11px; margin-left: 10px; color: #a9a9a9;">CATEGORIAS</p>-->
      <ul class="ul-config">
        <div class="hr-baixo">
          <p style="font-size: 11px; margin-left: 15px; color: #444bb6; font-weight: bold;">CATEGORIAS</p>
          <hr class="hr-config">
        </div> 
        <ion-radio class="custom a-categ first" style="border-top: none; margin-top: -5px;" ng-model="mychoice" ng-value="'EF'" ng-click = "setCat('EF')">Ensino Fundamental</ion-radio>
        <ion-radio class="custom a-categ" ng-model="mychoice" ng-value="'1EM'" ng-click = "setCat('1EM')">1º Ano do Ensino Médio</ion-radio>
        <ion-radio class="custom a-categ" ng-model="mychoice" ng-value="'2EM'" ng-click = "setCat('2EM')">2º Ano do Ensino Médio</ion-radio>
        <ion-radio class="custom a-categ" ng-model="mychoice" ng-value="'3EM'" ng-click = "setCat('3EM')">3º Ano do Ensino Médio</ion-radio>
        <ion-radio class="custom a-categ" ng-model="mychoice" ng-value="'SUP'" ng-click = "setCat('SUP')">Ensino Superior</ion-radio>
        <ion-radio class="custom a-categ" ng-model="mychoice" ng-value="'VE'" ng-click = "setCat('VE')">Vestibular/Enem</ion-radio>
        <ion-radio class="custom a-categ" ng-model="mychoice" ng-value="'IDI'" ng-click = "setCat('IDI')">Idiomas</ion-radio>
        <!--<ion-radio class="custom a-categ" ng-model="mychoice" ng-value="'CV'" ng-click = "setCat('CV')">{{cursosnome}}</ion-radio>-->
      </ul>
      <div class="spacer" style="width: 300px; height: 10px;"></div>

    </ion-content>
</ion-view>
