<ion-view title="Tabs Controller" id="page1" ng-controller = "mainCtrl">
    <ion-tabs class="tabs-background-stable tabs-icon-top" id="tabsController-tabs1">
        <ion-tab class="custom custom-tabs" title="Aulas" icon-off="ion-tab-fa-compass fw-o-g" icon-on="ion-tab-fa-compass fw-o-g-active" href="#/page1/page2" id="tabsController-tab1">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <!--<ion-tab class="custom custom-tabs" title="Favoritos" icon-off="ion-tab-fa-star-o fw-o-g" icon-on="ion-tab-fa-star-o fw-o-g-active" href="#/page1/favoritos" id="tabsController-tab4">
            <ion-nav-view name="tab4"></ion-nav-view>
        </ion-tab>-->
        <ion-tab class="custom custom-tabs" title="Histórico" icon-off="ion-tab-fa-folder-o fw-o-g" icon-on="ion-tab-fa-folder-o fw-o-g-active" href="#/page1/page3" id="tabsController-tab2">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab class="custom custom-tabs" title="Ajustes" icon-off="ion-tab-fa-cogs fw-o-g" icon-on="ion-tab-fa-cogs fw-o-g-active" href="#/page1/page4" id="tabsController-tab3">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
