<ion-view title="Agenda" id="page22" style="background-color: #f2f2f2;" ng-controller = "calendarioPessoalCtrl">
    <ion-nav-buttons side="right">
        <button class="button button-positive button-icon button-clear ion-ios-help-empty custom-back" ng-click = "help2()">
        </button>
    </ion-nav-buttons>
    <ion-content id="contentHorProf" style="background: url(img/fundocalendar.jpg) no-repeat; background-size: 100% 35%;" padding="true" class="has-header has-tabs">
      <ion-refresher
        class="custom"
        pulling-text="Atualizar"
        on-refresh="doRefresh()">
      </ion-refresher>

        <div class="spacer" style="width: 300px; height: 100px;"></div>
        <onezone-datepicker datepicker-object="onezoneDatepicker3" class="custom">
            <div class="row show-onezone-datepicker">

            </div>
            <div class="spacer" style="width: 300px; height: 20px;"></div>
        </onezone-datepicker>

        <div class="row" style="text-align: center;">
          <div class="col" style="display: inline-block;">
            <i class="ion-android-radio-button-off" style="color: black; font-size: 20px; "></i>
            <p class="custom" style="display:inline;"> - Dia atual</p>
          </div>

          <div class="col" style="display: inline-block;">
            <i class="ion-record" style="color: #3acfd5; font-size: 20px;"></i>
            <p class="custom" style="display:inline;"> - Aulas</p>
          </div>
        </div>
        <p id="pdiacprof" ng-hide = "true"></p>
        <p id="pmescprof" ng-hide = "true"></p>
        <div class="spacer" style="width: 300px; height: 25px;"></div>

    <script id="calendariopessoal/diaPessoalDetalhes.html" type="text/ng-template">
      <ion-modal-view style="background-color: #f2f2f2;">
        <ion-header-bar class="bar-stable">
          <button class="button button-primary button-icon icon ion-ios-close-empty" ng-click="modul.hide()"></button>
          <h1 id="navtitleprof" class="title custom" style="font-size: 14px;">{{navtitleprof}}</h1>
        </ion-header-bar>
        <ion-content id="diaprofcnt" padding="true">
            <div class="row" style="background: url(img/fundocalendar.jpg) no-repeat center; background-size:cover;">
              <div class="col text-center">
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <div class="circled custom" style="top: -15px; font-size: 16px;">
                  <strong id="datadiacircle" style="position: relative; top: 0%;">{{datadiacircle}}</strong>
                </div>
                <div class="divcircled">
                  <p id="diacircle" class="custom" style="font-weight: normal;">{{diacircle}}</p>
                </div>
              </div>
            </div>
          <div class="spacer" style="width: 300px; height: 15px;"></div>
          <p class="custom" style="text-align: center; font-size: 12px; color: gray;">AULAS MARCADAS:</p>
          <div class="spacer" style="width: 300px; height: 15px;"></div>
          <ion-spinner id = "spindiaprof" icon="ios-small" style="position: absolute; margin: 0; left: 50%; margin-right: -50%; transform: translate(-50%, -50%);" ng-show = "data.spinpessoal"></ion-spinner>
          <ul class="list" id="diaListProf">
            <li class="item item-icon-left item-icon-right" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 7px; text-align: center; border: 1px solid #bfbfbf;" ng-repeat-start = "marcada in marcadas" ng-click = "escolheuMarcada(marcada.prof, marcada.key, marcada.fach)">
              <strong class="custom">{{marcada.hora}}</strong><br>
              <p class="pinlinemod custom">{{marcada.fach}}</p>
              <i class="icon ion-ios-circle-filled" style="font-size: 30px; color: #3acfd5;"></i>
              <i class="icon ion-ios-arrow-right icon-accessory"></i>
            </li>
            <div class="spacer" style="width: 300px; height: 10px;" ng-repeat-end></div>
          </ul>
          <div class="row" ng-show = "data.nenhumamarcada">
              <div id="divdiaprofcnt" class="col text-center">
                <p class="picn custom">NENHUMA AULA MARCADA PARA ESTE DIA.</p>
                <i class="fa fa-calendar-times-o iconeicn" style="font-size: 70px;"></i>
              </div>
          </div>

        </ion-content>
      </ion-modal-view>
    </script>

    </ion-content>

</ion-view>
