<ion-view title="Professores" id="page10" style="background-color: #f2f2f2;" ng-controller = "teachersCtrl">
    <ion-nav-buttons side="right">
        <a ui-sref="tabsController.todosHorarios" class="button button-positive button-icon button-clear ion-ios-clock-outline custom-back"></a>
    </ion-nav-buttons>
    <ion-content id="cntprofs" padding="false" class="has-header has-tabs">
        <ion-refresher
          class="custom"
          pulling-text="Atualizar"
          on-refresh="refreshProfessores()">
        </ion-refresher>
        <form class="list">
          <div style="padding: 10px;">
            <div class="item item-input-inset" style="border: none; background-color: #fff; margin-left: 1px; margin-right: 0.5px;">
              <label class="item-input-wrapper" style="background-color: #f2f2f2;">
                  <i class="icon ion-search placeholder-icon"></i>
                  <span class="input-label custom" ng-if="!search" style="color: #A9A9A9; font-size: 12px; position: absolute; margin: 0; left: 50%; margin-right: -50%; transform: translate(-45%, 5%);">Procurar professor</span>
                  <input class = "custom" id="searchDProf" type="search" ng-model = "search">
              </label>
              <button ng-click="search = ''" class="button ion-android-close input-button button-small" ng-show="search.length">
              </button>
            </div>
            <ul class="ul-config" id="professores-list3" style="border: none;">
                  <div class="hr-baixo">
                    <p style="font-size: 11px; margin-left: 15px; color: #444bb6; font-weight: bold;">PROFESSORES DISPONÍVEIS</p>
                    <hr class="hr-config">
                  </div> 
                  <div class="row" ng-show="data.spinprofs">
                    <div class="col text-center">
                      <ion-spinner icon="ios-small"></ion-spinner>
                    </div>
                  </div>
                  <!--<li class="a-professores" ng-class = "{'last' : $last}" ng-repeat = "prof in lehrer | filter : {nome : search} | unique : 'key'" ng-click = "escolheuProf(prof.nome, prof.curso, prof.avatar, prof.descricao, prof.avaliacoes, prof.cover, prof.full1, prof.full2, prof.full3, prof.full4, prof.full5, prof.half1, prof.outline1, prof.rating, prof.cadastro)">-->
                  <li class="a-professores" ng-class = "{'last' : $last}" ng-repeat = "prof in lehrer | filter : {nome : search} | unique : 'key'" ng-click = "escolheuProf(prof.nome, prof.curso, prof.avatar, prof.descricao, prof.avaliacoes, prof.rating, prof.cadastro, prof.key, prof.profpush, prof.merchId)">
                    <img class="icon-config icon-img" id="srcprof" ng-src="{{prof.avatar}}">
                    <strong class="custom" style="font-size: 15px;">{{prof.nome}}</strong>
                    <p class="custom" style="color: gray; font-size: 12px;">{{prof.curso}}</p>
                    <i class="icon ion-ios-arrow-right icon-accessory i-professores"></i>
                    <div class="div-profs">
                      <i class="ion-android-star" style="font-size: 18px; color: #daa520; display: inline;" ng-if="prof.rating>1"></i>
                      <i class="ion-android-star" style="font-size: 18px; color: #daa520; display: inline;" ng-if="prof.rating>=2"></i>
                      <i class="ion-android-star" style="font-size: 18px; color: #daa520; display: inline;" ng-if="prof.rating>=3"></i>
                      <i class="ion-android-star" style="font-size: 18px; color: #daa520; display: inline;" ng-if="prof.rating>=4"></i>
                      <i class="ion-android-star" style="font-size: 18px; color: #daa520; display: inline;" ng-if="prof.rating==5"></i>
                      <!--<i class="ion-android-star" style="font-size: 18px; color: #daa520; display: inline;" ng-show="prof.full1"></i>
                      <i class="ion-android-star" style="font-size: 18px; color: #daa520; display: inline;" ng-show="prof.full2"></i>
                      <i class="ion-android-star" style="font-size: 18px; color: #daa520; display: inline;" ng-show="prof.full3"></i>
                      <i class="ion-android-star" style="font-size: 18px; color: #daa520; display: inline;" ng-show="prof.full4"></i>
                      <i class="ion-android-star" style="font-size: 18px; color: #daa520; display: inline;" ng-show="prof.full5"></i>
                      <i class="ion-android-star-half" style="font-size: 18px; color: #daa520; display: inline;" ng-show="prof.half1"></i>
                      <i class="ion-android-star-outline" style="font-size: 18px; color: #daa520; display: inline;" ng-show="prof.outline1"></i>-->
                      <p style="font-size: 12px; display: inline; position: relative; top: -1px;">  <strong>{{prof.rating}}</strong></p>
                    </div>
                  </li>
                  <!--<div class="spacer" style="width: 100%; height: 10px; background-color: #f2f2f2;"></div>-->
                  <div class="row" ng-hide = "data.hideprofsmsg">
                      <div class="col text-center">
                        <div class="spacer" style="width: 300px; height: 20px;"></div>
                        <p class="pntemprof custom">Nenhum professor disponível. <br> Arraste para atualizar</p>
                        <i class="ion-android-arrow-up intemprof"></i>
                      </div>
                  </div>
            </ul>
          </div>
        </form>

    <script id="professores/profDetalhes.html" type="text/ng-template">
      <ion-modal-view style="background-color: #f2f2f2;">
        <ion-header-bar class="bar-aulas" style="border-bottom: none;">
          <div class="buttons">
            <button class="button button-icon icon ion-ios-close-empty custom-close" ng-click="model.hide()"></button>
          </div>
          <!--<h1 class="title custom">Descrição</h1>-->
        </ion-header-bar>
        <ion-content class="has-footer">
            <div class="row" style="margin-top: -1px;">
              <div class="col text-center">
                <img id="imgcoverprof" class="full-image sombra-card2 right-image" src = "img/degrade_modular.jpg">
                <img id="imgfullprof" class="full-image avatar sombra-card2 left-image" style="object-fit: cover;" ng-src="{{imgfullprof}}">
                <!--<div class="spacer" style="width: 300px; height: 20px;"></div>-->
                <div class="divprof">
                  <h4 class="custom" id="nomeperfilprof" style="text-align: center; color: white;">{{nomeperfilprof}}</h4>
                  <h5 class="custom" id="cursoperfilprof" style="text-align: center; color: white;">{{cursoperfilprof}}</h5>
                  <div class="spacer" style="width: 300px; height: 5px;"></div>

                  <div class="row">
                    <div class="col" style="background-color: #fff; margin: 1px;">
                      <i class="fa fa-star" style="font-size: 25px; color: #444bb6;"></i>
                      <br>
                      <strong class="custom">{{profrating}}</strong>
                      <p class="custom" style="font-size: 12px; color: gray;">Avaliação</p>
                    </div>

                    <div class="col" style="background-color: #fff; margin: 1px;">
                      <i class="fa fa-calendar-check-o" style="font-size: 25px; color: #444bb6;"></i>
                      <br>
                      <strong class="custom">{{cadastroperfilprof}}</strong>
                      <p class="custom" style="font-size: 12px; color: gray;">Cadastro</p>
                    </div>

                    <div class="col" style="background-color: #fff; margin: 1px;">
                      <i class="fa fa-book" style="font-size: 25px; color: #444bb6;"></i>
                      <br>
                      <strong class="custom">{{avaliacoesperfilprof}}</strong>
                      <p class="custom" style="font-size: 12px; color: gray;">Aulas</p>
                    </div>

                  </div>

                  <div class="row">
                    <!--<div style="width: 96%; margin-left: auto; margin-right: auto; margin-top: -4px; border: none;">-->
                    <div style="margin: 2px; border: none;">
                      <div class="item item-text-wrap" style="border: none;">
                        <p class="custom" id="descricaoperfilprof" style="text-align: justify; text-justify: inter-word; font-weight: normal; color: #737373;">{{descricaoperfilprof}}</p>
                        <!--<hr>
                        <div class="row">
                          <div class="col text-center">
                            <p id="avaliacoesperfilprof" class="custom" style="display: inline;">{{avaliacoesperfilprof}}</p>
                            <br>
                            <i class="ion-android-star" style="font-size: 30px; color: #daa520; display: inline;" ng-show="proffull1"></i>
                            <i class="ion-android-star" style="font-size: 30px; color: #daa520; display: inline;" ng-show="proffull2"></i>
                            <i class="ion-android-star" style="font-size: 30px; color: #daa520; display: inline;" ng-show="proffull3"></i>
                            <i class="ion-android-star" style="font-size: 30px; color: #daa520; display: inline;" ng-show="proffull4"></i>
                            <i class="ion-android-star" style="font-size: 30px; color: #daa520; display: inline;" ng-show="proffull5"></i>
                            <i class="ion-android-star-half" style="font-size: 30px; color: #daa520; display: inline;" ng-show="profhalf1"></i>
                            <i class="ion-android-star-outline" style="font-size: 30px; color: #daa520; display: inline;" ng-show="profoutline1"></i>
                            <br>
                            <p class="custom" style="display: inline;">Avaliação média: <strong>{{profrating}}</strong></p>
                            <div class="spacer" style="width: 300px; height: 10px;"></div>
                          </div>
                        </div>-->
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="spacer" style="width: 300px; height: 10px;"></div>

        </ion-content>
        <ion-footer-bar class="bar-stable">
          <button class="button button-stable button-block custom" style="font-size: 14px; border-radius: 0px; border: none; background: none; padding: 0; bottom: 8px; font-weight: bold;" ng-click = "agendar()"><i class="icon ion-ios-arrow-right" style="margin-left: -10%; color: #444bb6;"></i><p style="margin-left: 10%; display: inline;">Escolher este professor</p></button>
          <!--<button class="button button-stable button-block custom" style="font-size: 14px; border-radius: 0px; border: none; background: none; padding: 0; bottom: 8px; font-weight: bold;" ng-click = "agendar()"><i class="icon ion-ios-arrow-right" style="float: right; color: #3a4ed5;"></i>Escolher este professor</button>-->
        </ion-footer-bar>
      </ion-modal-view>
    </script>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    </ion-content>
</ion-view>
