<ion-view title="Agendamento" id="agendamentofav" style="background: url(img/degrade_modular.jpg) no-repeat center;background-size:cover;" ng-controller = "agefavCtrl">
    <ion-content padding="true" class="has-header has-tabs">
      <div class="divcircledprof">
        <p class="custom" style="font-size: 18px; text-align: center;">{{favpnome}}</p>
      </div>
      <form name = "myFormAgendamento" novalidate>
        <div style="background-color: rgb(255, 255, 255); border-radius: 0px;">
          <div class="item item-divider custom" style="text-align: center; color: black; font-size: 18px; background-color: transparent;">Quantidade de alunos</div>
          <div class="row">
            <div class="col text-center">
              <button class="button circle-btn custom" ng-class="{'btn-age-act': ageact1}" ng-click="ageact(1)">1</button>
              <button class="button circle-btn custom" ng-class="{'btn-age-act': ageact2}" ng-click="ageact(2)">2</button>
              <button class="button circle-btn custom" ng-class="{'btn-age-act': ageact3}" ng-click="ageact(3)">3</button>
              <button class="button circle-btn custom" ng-class="{'btn-age-act': ageact4}" ng-click="ageact(4)">4</button>
              <button class="button circle-btn custom" ng-class="{'btn-age-act': ageact5}" ng-click="ageact(5)">5</button>
            </div>
          </div>
        </div>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <div style="background-color: rgb(255, 255, 255); border-radius: 0px;" ng-click="moddisfavl.show()" ion-ripple ion-ripple-color="#444bb6">
          <div class="item item-divider custom" style="text-align: center; color: black; font-size: 18px; background-color: transparent;">Disciplina</div>
            <div class="spacer" style="width: 300px; height: 15px;"></div>
            <p id="adresstxtfav" class="custom" style="text-align: center; font-size: 15px; color: gray;" ng-model="disfav" ng-if="disfav" required>{{disfav}}</p>
            <p class="custom" style="text-align: center; font-size: 15px; color: gray;" ng-if="!disfav">Toque para escolher</p>
        </div>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <div style="background-color: rgb(255, 255, 255); border-radius: 0px;" ng-click="modlocfavl.show()" ion-ripple ion-ripple-color="#444bb6">
          <div class="item item-divider custom" style="text-align: center; color: black; font-size: 18px; background-color: transparent;">Endereço</div>
            <div class="spacer" style="width: 300px; height: 15px;"></div>
            <p class="custom" style="text-align: center; font-size: 15px; color: gray;" ng-model="adfav" ng-if="adfav" required>{{adfav}}</p>
            <p class="custom" style="text-align: center; font-size: 15px; color: gray;" ng-if="!adfav">Toque para escolher</p>
        </div>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <div style="background-color: rgb(255, 255, 255); border-radius: 0px;" ng-click="modcodfavl.show()" ion-ripple ion-ripple-color="#444bb6">
          <div class="item item-divider custom" style="text-align: center; color: black; font-size: 18px; background-color: transparent;">Código Promocional</div>
            <div class="spacer" style="width: 300px; height: 15px;"></div>
            <p class="custom" style="text-align: center; font-size: 15px; color: gray;" ng-model="cdfav" ng-if="cdfav" required>{{cdfav}}</p>
            <p class="custom" style="text-align: center; font-size: 15px; color: gray;" ng-if="!cdfav">Toque para escolher</p>
        </div>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <div style="background-color: rgb(255, 255, 255); border-radius: 0px;" ion-ripple ion-ripple-color="#444bb6">
          <div class="item item-divider custom" style="text-align: center; color: black; font-size: 18px; background-color: transparent;">Conteúdo</div>
          <label class="item item-input" style="background-color: transparent;">
              <span class="input-label custom" ng-if="!data.aulaConteudofav" style="color: gray; font-size: 15px; position: absolute; margin: 0; left: 50%; margin-right: -50%; transform: translate(-50%, 0%);">Informe o conteúdo da aula</span>
              <textarea class="custom" id="inputOBSfav" rows=5 style = "background-color: transparent; text-align: center; color: gray;" ng-model="data.aulaConteudofav"></textarea>
          </label>
        </div>
        
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <button class="button sombra-button button-stable button-block custom" style="font-size: 15px; border-radius: 7px; font-weight: bold;" ng-click = "checkAgeFav(disfav, adfav, cdfav, data.aulaConteudofav)"><i class="icon ion-ios-arrow-right" style="margin-left: -10%; color: #444bb6;"></i><p style="margin-left: 10%; display: inline;">Prosseguir</p></button>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
      </form>

    <script id="favoritos/disciplinasfav.html" type="text/ng-template">
      <ion-modal-view style="background-color: #f2f2f2;">
        <ion-header-bar class="bar-stable">
          <div class="buttons button-right">
            <button class="button button-clear button-dark button-primary button-icon ion-ios-close-empty" ng-click="moddisfavl.hide()"></button>
          </div>
          <h1 class="title custom">Disciplinas</h1>
        </ion-header-bar>
        <ion-content>
          <ion-refresher
            pulling-text="Atualizar"
            on-refresh="refreshDisciplinas()">
          </ion-refresher>
          <!--<div class="item item-input-inset" style="border: none;">
            <label class="item-input-wrapper">
                <i class="icon ion-search placeholder-icon"></i>
                <span class="input-label custom" ng-if="!searchQuery" style="color: #C7C7CD; font-size: 12px; position: absolute; margin: 0; left: 50%; margin-right: -50%; transform: translate(-45%, 5%);">Procurar disciplina</span>
                <input class = "custom" id="searchDF" type="search" ng-model = "searchQuery">
            </label>
            <button ng-click="searchQuery = ''" class="button ion-android-close input-button button-small" ng-show="searchQuery.length">
            </button>
          </div>-->
          <!--<div class="spacer" style="width: 300px; height: 5px;"></div>-->

          <!--<div style="margin-top: -1px;">
            <ul class="ul-config" style="border: none;">
              <li class="a-dis custom" style="border: none;" ng-repeat-start = "fach in facher" ng-click = "escolheuDisFav(fach.nome)" ng-class="{'last':$last}">{{fach.nome}}
                <div class="div-dis">
                  <i class="icon {{fach.icon}} icon-dis"></i>
                </div>
              </li>
              <div class="spacer" style="width: 100%; height: 10px; background-color: #f2f2f2;" ng-repeat-end></div>
            </ul>
          </div>-->

          <div class="row" ng-repeat = "fach in facher" ng-if="$index % 2 == 0">
            <div class="col custom div-act-dis">
              <div style="text-align: center;" ng-click = "escolheuDisFav(facher[$index].nome)">
                <div class="div-pop-dis">
                  <i class="icon {{facher[$index].icon}} icon-pop-dis"></i>
                </div>
                <br>
                <p>{{facher[$index].nome}}</p>
              </div>
            </div>
            <div class="col custom div-act-dis" ng-if="facher.length > ($index + 1)">
              <div style="text-align: center;" ng-click = "escolheuDisFav(facher[$index + 1].nome)">
                <div class="div-pop-dis">
                  <i class="icon {{facher[$index + 1].icon}} icon-pop-dis"></i>
                </div>
                <br>
                <p>{{facher[$index + 1].nome}}</p>
              </div>
            </div>
          </div>

          <div class="row" ng-show="nenhumaFacher">
            <div class="col text-center">
              <div class="spacer" style="width: 300px; height: 20px;"></div>
              <i class="icon ion-close-round" style="font-size: 50px; color: gray; opacity: 0.5;"></i>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <p class="custom" style="font-size: 18px; color: gray; opacity: 0.5;">{{favpnome}} não possui disciplinas na sua categoria.</p>
              <div class="spacer" style="width: 300px; height: 20px;"></div>
              <a ui-sref="tabsController.configuraEs" class="button button-clear custom" style="color: #A9A9A9;" ng-click="moddisfavl.hide()"><strong style="text-decoration: underline;">Configurar categoria</strong></a>
            </div>
          </div>

          <div class="spacer" style="width: 300px; height: 5px;"></div>
        </ion-content>
      </ion-modal-view>
    </script>

    <script id="favoritos/locaisfav.html" type="text/ng-template">
      <ion-modal-view style="background-color: #f2f2f2;">
        <ion-header-bar class="bar-stable bar-modal">
          <div class="buttons button-right">
            <button class="button button-clear button-dark button-primary button-icon ion-ios-close-empty" ng-click="modlocfavl.hide()"></button>
          </div>
          <h1 class="title custom">Locais</h1>
        </ion-header-bar>
        <ion-content>
          <ul class="ul-config">
            <li class="a-fav custom" ng-repeat = "loc in locais" ng-click = "escolheuLoc(loc.nome)" ng-class="{'last':$last}">{{loc.nome}}
              <!--<i class="icon ion-ios-arrow-right icon-accessory" style="display: inline; float: right;"></i>-->
            </li>
          </ul>
          <div class="spacer" style="width: 300px; height: 5px;"></div>
        </ion-content>
      </ion-modal-view>
    </script>

    <script id="favoritos/codesfav.html" type="text/ng-template">
      <ion-modal-view style="background-color: #f2f2f2;">
        <ion-header-bar class="bar-stable">
          <div class="buttons button-right">
            <button class="button button-clear button-dark button-primary button-icon ion-ios-close-empty" ng-click="modcodfavl.hide()"></button>
          </div>
          <h1 class="title custom">Códigos</h1>
        </ion-header-bar>
        <ion-content>
          <div class="spacer" style="width: 300px; height: 5px;"></div>
          <div class="card" style="height: auto; border-radius: 0px;" ng-click = "escolheuCode(cd.desconto, cd.key)" ng-repeat = "cd in codes" ion-ripple ion-ripple-color="#444bb6">
            <div class="row">
              <div class="col col-25" style="background-color: #444bb6; height: auto; margin-left: -5px; margin-top: -7px; margin-bottom: -7px; position: relative;">
                <div class="col text-center">
                  <i class="fa fa-ticket" style="font-size: 30px; color: #fff;"></i>
                  <div class="spacer" style="width: 300px; height: 20px;"></div>
                  <strong class="custom strongcodeper">{{cd.desconto}}%</strong>
                </div>
              </div>
              <div class="col text-center">
                <strong class="custom">{{cd.code}}</strong>
                <hr>
                <p class="custom" style="font-size: 12px; color: gray;">*{{cd.desconto}}% de desconto na aula</p>
              </div>
            </div>
          </div>
          <div class="row" ng-show="nenhumCP">
            <div class="col text-center">
              <i class="icon ion-ios-pricetags" style="font-size: 50px; color: gray; opacity: 0.7;"></i>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <p class="custom" style="font-size: 18px; color: gray; opacity: 0.7;">Você ainda não possui <br> nenhum código</p>
            </div>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>

    <script id="favoritos/adressfav.html" type="text/ng-template">
      <ion-modal-view style="background-color: #f2f2f2;">
        <ion-header-bar class="bar-stable">
          <div class="buttons button-right">
            <button class="button button-clear button-dark button-primary button-icon ion-ios-close-empty" ng-click="modadfavl.hide()"></button>
          </div>
          <h1 class="title custom">Endereços</h1>
        </ion-header-bar>
        <ion-content>
          <div class="spacer" style="width: 300px; height: 5px;"></div>
          <div class="row" ng-show="spinadfav">
            <div class="col text-center">
              <ion-spinner icon="ios-small"></ion-spinner>
            </div>
          </div>
          <!--<div class="card" style="height: auto; border-radius: 0px;" ng-click = "escolheuAd(ad.endereco, ad.key)" ng-repeat = "ad in ads" ion-ripple ion-ripple-color="#444bb6">
            <div class="row">
              <div class="col col-25" style="background-color: #fff; height: auto; margin-left: -10px; margin-top: -7px; margin-bottom: -7px; position: relative;">
                <div class="col text-center">
                  <i class="icon ion-ios-location-outline relative-center" style="font-size: 35px; color: #444bb6;"></i>
                </div>
              </div>
              <div class="col text-center" style="margin-left: -20px;">
                <strong class="custom">{{ad.local}}</strong>
                <p class="custom" style="font-size: 12px; color: gray;">{{ad.endereco}}</p>
              </div>
            </div>
          </div>-->
          <ion-list>
            <ion-item class="item-icon-left" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "escolheuAd(ad.endereco, ad.key)" ng-repeat-start = "ad in ads">
                <i class="icon ion-ios-location-outline" style="color: #444bb6; font-size: 25px;"></i>
                <ion-delete-button class="ion-ios-trash-outline" style="color: Red;"></ion-delete-button>
            <strong class="custom">{{ad.local}}</strong><br><p class="custom" style="font-size: 12px;">{{ad.endereco}}</p></ion-item>
            <div class="spacer" style="width: 300px; height: 15px;" ng-repeat-end></div>
          </ion-list>

          <div class="row" ng-show="nenhumadfav">
            <div class="col text-center">
              <div class="spacer" style="width: 300px; height: 20px;"></div>
              <i class="icon ion-ios-location" style="font-size: 50px; color: gray; opacity: 0.5;"></i>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <p class="custom" style="font-size: 18px; color: gray; opacity: 0.5;">Você não possui nenhum<br> endereço nessa cidade</p>
              <div class="spacer" style="width: 300px; height: 20px;"></div>
              <a ui-sref="tabsController.configuraEs" class="button button-clear custom" style="color: #A9A9A9;" ng-click="modadfavl.hide()"><strong style="text-decoration: underline;">Configurar endereços</strong></a>
            </div>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>

    </ion-content>

</ion-view>
