<ion-view title="Boleto" id="boletofav" style="background-color: #f2f2f2;" ng-controller = "boletoFavCtrl">
    <ion-content padding="true" class="has-header has-tabs">
      <form name = "formBoleto" novalidate>
        <div class="item item-divider custom" style="text-align: center; border-top-left-radius: 0px; border-top-right-radius: 0px; background-color: #fff;">
          Informações de Pagamento
        </div>
        <label class="item item-input item-stacked-label" style="background-color: #fff;">
          <span class="input-label custom" style="color: #3a4ed5;">Nome: <p style="color: gray; display: inline;">(Completo)</p></span>
          <input class="custom" type="text" ng-model = "boletonome" ng-minlength="6" ng-maxlength="200" required>
        </label>
        <label class="item item-input item-stacked-label" style="background-color: #fff;">
          <span class="input-label custom" style="color: #3a4ed5;">CPF: <p style="color: gray; display: inline;">(Sem formatação)</p></span>
          <input class="custom" type="text" ng-model = "boletocpf" ng-minlength="11" ng-maxlength="50" required>
        </label>
        <label class="item item-input item-stacked-label" style="background-color: #fff;" ng-hide="true">
          <span class="input-label custom" style="color: #3a4ed5;">E-mail:</span>
          <input class="custom" type="email" ng-model = "boletoemail" ng-minlength="6" ng-maxlength="200" required>
        </label>
        <label class="item item-input item-stacked-label" style="background-color: #fff;">
          <span class="input-label custom" style="color: #3a4ed5;">Data de Nascimento:</span>
          <input class="custom" type="date" ng-model = "boletonascimento" required>
        </label>
        <label class="item item-input item-stacked-label" style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; background-color: #fff;">
          <span class="input-label custom" style="color: #3a4ed5;">Telefone: <p style="color: gray; display: inline;">(Com DDD)</p></span>
          <input class="custom" type="tel" ng-model = "boletotelefone" ng-minlength="10" ng-maxlength="50" required>
        </label>
      </div>
      <div class="spacer" style="width: 300px; height: 20px;"></div>
      <p class="custom" style="text-align: center;" ng-show="formBoleto.$invalid"><i class="icon ion-ios-information-outline"></i> Por favor, confira seus dados</p>
      <div class="spacer" style="width: 300px; height: 20px;"></div>
      <button class="button button-block button-stable sombra-button custom" style="font-size: 15px;" ng-disabled="formBoleto.$invalid" ng-click = "confirmarBoleto(boletonome, boletocpf, boletoemail, boletonascimento, boletotelefone)"><i class="icon ion-ios-checkmark-outline" style="margin-left: -10%; color: #3a4ed5;"></i><p style="margin-left: 10%; display: inline; font-weight: bold;">Confirmar</p></button>
      </form>
    </ion-content>
</ion-view>
