<ion-view title="Horários" id="calendariofav" style="background: url(img/degrade_modular.jpg) no-repeat center;background-size:cover;" ng-controller = "calendariofavoritosCtrl">
    <ion-nav-buttons side="right">
        <button class="button button-positive button-icon button-clear ion-ios-help-empty custom-back" ng-click = "help()">
        </button>
    </ion-nav-buttons>
    <!--<div class="bar bar-subheader">
      <p class="custom" style="text-align: center; color: #444bb6; margin-top: 5px;">{{favpnome}}</p>
    </div>-->
    <ion-content padding="true" class="has-header has-tabs">
      <ion-refresher
        pulling-text="Atualizar"
        on-refresh="refreshHorarios()">
      </ion-refresher>

        <onezone-datepicker datepicker-object="onezoneDatepicker" class="custom">
            <div class="row show-onezone-datepicker">
                <div  class="col text-center" style="margin-top: -10px;">
                  <img id="imgproffavcircled" class="prof-horarios" ng-src="{{favsrc}}">
                  <br>
                  <div class="divcircledprof">
                    <p class="custom" style="text-align: center;">{{favpnome}}</p>
                  </div>
                  <!--<p id="dividefav" class="custom" style="text-align: center; font-weight: bold;">{{favpnome}}</p>-->
                  <!--<hr style="background-color: #333333">-->
                </div>
            </div>
        </onezone-datepicker>

        <div class="row">
          <div class="col text-center">
            <i class="ion-record" style="color: #00b300; font-size: 20px; "></i>
            <p class="custom" style="display:inline; color: white; position: relative; top: -2px;"> - Dias disponíveis</p>
          </div>
        </div>

        <div class="spacer" style="width: 300px; height: 25px;"></div>
        <p id="profFavCalendarName" style="text-align: center;"></p>


    <script id="favoritos/diaFavDetalhes.html" type="text/ng-template">
      <ion-modal-view style="background-color: #f2f2f2;">
        <ion-header-bar class="bar-light">
          <button class="button button-primary button-icon icon ion-ios-close-empty" ng-click="modol.hide()"></button>
          <h1 id="navtitlefav" class="title custom" style="font-size: 14px;">{{navtitlefav}}</h1>
        </ion-header-bar>
          <ion-content id="diacntfav" padding="true" class="has-header">
              <div class="row" style="background: url(img/fundocalendar.jpg) no-repeat center; background-size:cover;">
                <div class="col text-center">
                  <div class="spacer" style="width: 300px; height: 10px;"></div>
                  <div class="circled custom" style="top: -15px; font-size: 16px;">
                    <strong id="datadiacirclehorafav" style="position: relative; top: 0%;">{{datadiacirclehorafav}}</strong>
                  </div>
                  <div class="divcircled">
                    <p id="diacirclehorafav" class="custom" style="font-weight: normal;">{{diacirclehorafav}}</p>
                  </div>
                </div>
              </div>
            <!--<div class="spacer" style="width: 300px; height: 15px;"></div>
            <p class="custom" style="font-size: 12px; margin-left: 10px; color: #a9a9a9; text-align: center;">HORÁRIOS DISPONÍVEIS</p>-->
            <ion-spinner id = "spindiafav" icon="ios-small" style="position: absolute; margin: 0; left: 50%; margin-right: -50%; transform: translate(-50%, 50%);" ng-show="data.spinhor"></ion-spinner>
            <ul class="ul-config">
                <li class="a-fin custom" ng-click="escolheuAula(aula.prof, aula.key, aula.data, aula.hora, aula.professor, aula.ano, aula.mes, aula.dia, aula.horares, aula.pdata, aula.phora, aula.profpush, aula.pminutos)" ng-repeat = "aula in aulas" ng-class = "{'last' : $last}"><strong style="margin-left: 5px;">{{aula.hora}}</strong>
                  <!--<i class="fa fa-calendar-check-o icon-config" style="color: #444bb6; font-size: 20px;"></i>-->
                  <!--<div class="spacer" style="width: 300px; height: 5px;"></div>-->
                  <div class="divhor custom">Horário Disponível</div>
                  <i class="icon ion-ios-arrow-right icon-accessory ihor" style="display: inline; float: right; color: gray;"></i>
            </ul>
            <div id="divpaifav" class="row">
                <div id="divdiacntfav" class="col text-center" ng-show = "data.nenhumhorario">
                  <p class="picn custom">NENHUM HORÁRIO DISPONÍVEL PARA ESTE DIA.</p>
                  <i class="fa fa-calendar-times-o iconeicn" style="font-size: 70px;"></i>
                </div>
            </div>
          </ion-content>
      </ion-modal-view>
    </script>
    </ion-content>

</ion-view>
