<ion-view title="Favoritos" id="favoritos" style="background-color:#f2f2f2;" ng-controller = "favoritosCtrl">
    <ion-nav-buttons side="secondary">
      <button class="button button-positive button-icon button-clear ion-ios-plus-empty custom-back" ng-click="modfavl.show()"></button>
    </ion-nav-buttons>
    <ion-content  padding="false" class="has-header has-tabs">
      <div class="spacer" style="width: 300px; height: 10px;"></div>
      <!--<div class="item item-input-inset" style="border: none; margin-top: -1px; background-color: #4D7ECD;">
        <label class="item-input-wrapper" style="background-color: #88a9dd;">
            <i class="icon ion-search light"></i>
            <span class="input-label custom" ng-if="!searchfav" style="color: #fff; font-size: 12px; position: absolute; margin: 0; left: 50%; margin-right: -50%; transform: translate(-45%, 5%);">Procurar professor</span>
            <input class = "custom" id="searchFavProf" type="search" ng-model = "searchfav">
        </label>
        <button ng-click="searchfav = ''" class="button ion-android-close input-button button-small" ng-show="searchfav.length">
        </button>
      </div>-->

      <div class="row" ng-show="nenhumfav">
        <div class="col text-center">
          <div class="spacer" style="width: 300px; height: 50px;"></div>
          <i class="icon ion-android-star" style="font-size: 50px; color: gray; opacity: 0.3;"></i>
          <div class="spacer" style="width: 300px; height: 20px;"></div>
          <p class="custom" style="opacity: 0.3;">Nenhum favorito adicionado</p>
        </div>
      </div>
      <div class="row" ng-show="loadfav">
        <div class="col text-center">
          <div class="spacer" style="width: 300px; height: 50px;"></div>
          <ion-spinner></ion-spinner>
        </div>
      </div>

      <div class="row" ng-repeat = "fav in favs" ng-if="$index % 2 == 0">
        <div class="col" style="margin: 2px; background-color: #fff; border-radius: 0px;">
          <div class="custom" style="text-align: center;" ng-click = "escolheuFav(favs[$index].nome, favs[$index].curso, favs[$index].avatar, favs[$index].descricao, favs[$index].avaliacoes, favs[$index].rating, favs[$index].key, favs[$index].cadastro, favs[$index].profpush)">
            <div class="div-fav-icon">
              <i class="icon ion-android-star icon-fav-icon"></i>
            </div>
            <div class="div-pop-fav">
              <img class="img-fav-profile" ng-src="{{favs[$index].avatar}}">
            </div>
            <br>
            <strong class="custom" style="font-size: 15px;">{{favs[$index].nome}}</strong>
            <br>
            <p class="custom" style="color: gray; font-size: 12px;">{{favs[$index].curso}}</p>
          </div>
        </div>
        <div class="col" style="margin: 2px; background-color: #fff; border-radius: 0px;" ng-if="favs.length > ($index + 1)">
          <div class="custom" style="text-align: center;" ng-click = "escolheuFav(favs[$index + 1].nome, favs[$index + 1].curso, favs[$index + 1].avatar, favs[$index + 1].descricao, favs[$index + 1].avaliacoes, favs[$index + 1].rating, favs[$index + 1].key, favs[$index + 1].cadastro, favs[$index + 1].profpush)">
            <div class="div-fav-icon">
              <i class="icon ion-android-star icon-fav-icon"></i>
            </div>
            <div class="div-pop-fav">
              <img class="img-fav-profile" ng-src="{{favs[$index + 1].avatar}}">
            </div>
            <br>
            <strong class="custom" style="font-size: 15px;">{{favs[$index + 1].nome}}</strong>
            <br>
            <p class="custom" style="color: gray; font-size: 12px;">{{favs[$index + 1].curso}}</p>
          </div>
        </div>
      </div>

      <!--<ul class="ul-config">
        <li class="a-favoritos" ng-class = "{'last' : $last}" ng-repeat = "fav in favs | filter : {nome : searchfav}" ng-click = "escolheuFav(fav.nome, fav.curso, fav.avatar, fav.descricao, fav.avaliacoes, fav.rating, fav.key)">
          <img class="icon-config icon-img" id="srcproffav" ng-src="{{fav.avatar}}">
          <strong class="custom" style="font-size: 15px;">{{fav.nome}}</strong>
          <p class="custom" style="color: gray; font-size: 12px;">{{fav.curso}}</p>
          <i class="icon ion-ios-arrow-right icon-accessory i-favoritos"></i>
        </li>
      </ul>-->

      <script id="favoritos/favlocais.html" type="text/ng-template">
        <ion-modal-view style="background-color: #f2f2f2;">
          <ion-header-bar class="bar-stable">
            <div class="buttons button-right">
              <button class="button button-clear button-dark button-primary button-icon ion-ios-close-empty" ng-click="modfavl.hide()"></button>
            </div>
            <h1 class="title custom">Locais</h1>
          </ion-header-bar>
          <ion-content>
            <div class="spacer" style="width: 300px; height: 10px;"></div>
            <p class="custom" style="text-align: center;">Escolha uma região</p>
            <div class="spacer" style="width: 300px; height: 10px;"></div>
            <ion-list>
              <!--<ion-item class="item-divider custom" style="text-align: center;">Brasília - DF</ion-item>-->
              <ion-item class="custom" style="text-align: center; margin-left: 10px; margin-right: 10px;" ng-click = "localFavSelect('Lago Sul')">Lago Sul</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="text-align: center; margin-left: 10px; margin-right: 10px;" ng-click = "localFavSelect('Lago Norte')">Lago Norte</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="text-align: center; margin-left: 10px; margin-right: 10px;" ng-click = "localFavSelect('Asa Sul')">Asa Sul</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="text-align: center; margin-left: 10px; margin-right: 10px;" ng-click = "localFavSelect('Asa Norte')">Asa Norte</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="text-align: center; margin-left: 10px; margin-right: 10px;" ng-click = "localFavSelect('Guará')">Guará</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="text-align: center; margin-left: 10px; margin-right: 10px;" ng-click = "localFavSelect('Paranoá')">Paranoá</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="text-align: center; margin-left: 10px; margin-right: 10px;" ng-click = "localFavSelect('Sudoeste')">Sudoeste</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="text-align: center; margin-left: 10px; margin-right: 10px;" ng-click = "localFavSelect('Noroeste')">Noroeste</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="text-align: center; margin-left: 10px; margin-right: 10px;" ng-click = "localFavSelect('Park Way')">Park Way (Aeroporto)</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="text-align: center; margin-left: 10px; margin-right: 10px;" ng-click = "localFavSelect('Núcleo Bandeirante')">Núcleo Bandeirante</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="text-align: center; margin-left: 10px; margin-right: 10px;" ng-click = "localFavSelect('Cruzeiro')">Cruzeiro</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="text-align: center; margin-left: 10px; margin-right: 10px;" ng-click = "localFavSelect('Vicente Pires')">Vicente Pires</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="text-align: center; margin-left: 10px; margin-right: 10px;" ng-click = "localFavSelect('Águas Claras')">Águas Claras</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="text-align: center; margin-left: 10px; margin-right: 10px;" ng-click = "localFavSelect('Taguatinga')">Taguatinga</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="text-align: center; margin-left: 10px; margin-right: 10px;" ng-click = "localFavSelect('Ceilândia')">Ceilândia</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="text-align: center; margin-left: 10px; margin-right: 10px;" ng-click = "localFavSelect('Gama')">Gama</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="text-align: center; margin-left: 10px; margin-right: 10px;" ng-click = "localFavSelect('Samambaia')">Samambaia</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="text-align: center; margin-left: 10px; margin-right: 10px;" ng-click = "localFavSelect('Sobradinho')">Sobradinho</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="text-align: center; margin-left: 10px; margin-right: 10px;" ng-click = "localFavSelect('Brazlândia')">Brazlândia</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="text-align: center; margin-left: 10px; margin-right: 10px;" ng-click = "localFavSelect('Riacho Fundo')">Riacho Fundo</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="text-align: center; margin-left: 10px; margin-right: 10px;" ng-click = "localFavSelect('Recanto das Emas')">Recanto das Emas</ion-item>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 15px;"></div>

          </ion-content>
        </ion-modal-view>
      </script>

    <script id="favoritos/proffavdetalhes.html" type="text/ng-template">
      <ion-modal-view style="background-color: #f2f2f2;">
        <ion-header-bar class="bar-aulas" style="border: none;">
          <div class="buttons">
            <button class="button button-icon icon ion-ios-close-empty custom-close" ng-click="model.hide()"></button>
          </div>
        </ion-header-bar>
        <ion-content>
          <div class="row" style="margin-top: -1px;">
            <div class="col text-center">
              <img id="imgcoverprof" class="full-image sombra-card2 right-image" src = "img/degrade_modular.jpg">
              <img id="imgfullprof" class="full-image avatar sombra-card2 left-image" style="object-fit: cover;" ng-src="{{imgfullproffav}}">
              <div class="divprof">
                <h4 class="custom" id="nomeperfilproffav" style="text-align: center; color: white;">{{nomeperfilproffav}}</h4>
                <h5 class="custom" id="cursoperfilproffav" style="text-align: center; color: white;">{{cursoperfilproffav}}</h5>
                <div class="spacer" style="width: 300px; height: 5px;"></div>

                <div class="row">
                  <div class="col" style="background-color: #fff; margin: 1px;">
                    <i class="fa fa-star" style="font-size: 25px; color: #444bb6;"></i>
                    <br>
                    <strong class="custom">{{profratingfav}}</strong>
                    <p class="custom" style="font-size: 12px; color: gray;">Avaliação</p>
                  </div>

                  <div class="col" style="background-color: #fff; margin: 1px;">
                    <i class="fa fa-calendar-check-o" style="font-size: 25px; color: #444bb6;"></i>
                    <br>
                    <strong class="custom">{{cadastroperfilproffav}}</strong>
                    <p class="custom" style="font-size: 12px; color: gray;">Cadastro</p>
                  </div>

                  <div class="col" style="background-color: #fff; margin: 1px;">
                    <i class="fa fa-book" style="font-size: 25px; color: #444bb6;"></i>
                    <br>
                    <strong class="custom">{{avaliacoesperfilproffav}}</strong>
                    <p class="custom" style="font-size: 12px; color: gray;">Aulas</p>
                  </div>
                </div>
                <div class="row">
                  <div style="margin: 2px; border: none;">
                    <div class="item item-text-wrap" style="border: none;">
                      <p class="custom" id="descricaoperfilproffav" style="text-align: justify; text-justify: inter-word; font-weight: normal; color: #737373;">{{descricaoperfilproffav}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="spacer" style="width: 300px; height: 10px;"></div>
        </ion-content>
      </ion-modal-view>
    </script>
    </ion-content>
</ion-view>
