<ion-view title="Professores" id="favprofs" style="background-color: #f2f2f2;" ng-controller = "addfavoritosCtrl">
    <ion-content padding="false" class="has-header has-tabs">

        <!--<ion-refresher
          pulling-text="Atualizar"
          on-refresh="refreshfavsprofs()">
        </ion-refresher>-->

        <form class="list">
          <div style="padding: 10px;">
            <div class="item item-input-inset" style="border: none; margin-left: 1px; margin-right: 0.5px; background-color: #fff;">
              <label class="item-input-wrapper" style="background-color: #f2f2f2;">
                  <i class="icon ion-search placeholder-icon"></i>
                  <span class="input-label custom" ng-if="!search" style="color: #A9A9A9; font-size: 12px; position: absolute; margin: 0; left: 50%; margin-right: -50%; transform: translate(-45%, 5%);">Procurar professor</span>
                  <input class = "custom" id="searchFProf" type="search" ng-model = "search">
              </label>
              <button ng-click="search = ''" class="button ion-android-close input-button button-small" ng-show="search.length">
              </button>
            </div>
            <ul class="ul-config" style="border: none;">
                <div class="hr-baixo">
                  <p style="font-size: 11px; margin-left: 15px; color: #444bb6; font-weight: bold;">{{localfavselected}}</p>
                  <hr class="hr-config">
                </div> 
                <div class="row" ng-show="data.spinprofs">
                  <div class="col text-center">
                    <ion-spinner icon="ios-small"></ion-spinner>
                  </div>
                </div>
                  <li class="a-professores" ng-class = "{'last' : $last}" ng-repeat = "prof in lehrer | filter : {nome : search} | unique : 'key'" ng-click = "escolheuProf(prof.nome, prof.curso, prof.avatar, prof.descricao, prof.avaliacoes, prof.rating, prof.key, prof.cadastro)">
                    <img class="icon-config icon-img" id="srcaddproffav" ng-src="{{prof.avatar}}">
                    <strong class="custom" style="font-size: 15px;">{{prof.nome}}</strong>
                    <p class="custom" style="color: gray; font-size: 12px;">{{prof.curso}}</p>
                    <i class="icon ion-ios-arrow-right icon-accessory i-professores"></i>
                    <div class="div-profs">
                      <i class="ion-android-star" style="font-size: 18px; color: #daa520; display: inline;" ng-if="prof.rating>1"></i>
                      <i class="ion-android-star" style="font-size: 18px; color: #daa520; display: inline;" ng-if="prof.rating>=2"></i>
                      <i class="ion-android-star" style="font-size: 18px; color: #daa520; display: inline;" ng-if="prof.rating>=3"></i>
                      <i class="ion-android-star" style="font-size: 18px; color: #daa520; display: inline;" ng-if="prof.rating>=4"></i>
                      <i class="ion-android-star" style="font-size: 18px; color: #daa520; display: inline;" ng-if="prof.rating==5"></i>
                      <p style="font-size: 12px; display: inline; position: relative; top: -1px;">  <strong>{{prof.rating}}</strong></p>
                    </div>
                  </li>
                  <div class="spacer" style="width: 100%; height: 10px; background-color: #f2f2f2;"></div>
                  <div class="row" ng-hide = "data.hideprofsmsg">
                      <div class="col text-center">
                        <div class="spacer" style="width: 300px; height: 20px;"></div>
                        <p class="pntemprof custom">Nenhum professor disponível.</p>
                        <i class="ion-android-close intemprof"></i>
                      </div>
                  </div>
            </ul>
          </div>
        </form>

    <script id="favoritos/addproffavdetalhes.html" type="text/ng-template">
      <ion-modal-view style="background-color: #f2f2f2;">
        <ion-header-bar class="bar-aulas" style="border-bottom: none;">
          <div class="buttons">
            <button class="button button-icon icon ion-ios-close-empty custom-close" ng-click="model.hide()"></button>
          </div>
        </ion-header-bar>
        <ion-content>
          <div class="row" style="margin-top: -1px;">
            <div class="col text-center">
              <img id="imgcoverprofaddproffav" class="full-image sombra-card2 right-image" src = "img/degrade_modular.jpg">
              <img id="imgfullprofaddproffav" class="full-image avatar sombra-card2 left-image" style="object-fit: cover;" ng-src="{{imgfullprofaddproffav}}">
              <div class="divprof">
                <h4 class="custom" id="nomeperfilprofaddproffav" style="text-align: center; color: white;">{{nomeperfilprofaddproffav}}</h4>
                <h5 class="custom" id="cursoperfilprofaddproffav" style="text-align: center; color: white;">{{cursoperfilprofaddproffav}}</h5>
                <div class="spacer" style="width: 300px; height: 5px;"></div>

                <div class="row">
                  <div class="col" style="background-color: #fff; margin: 1px;">
                    <i class="fa fa-star" style="font-size: 25px; color: #444bb6;"></i>
                    <br>
                    <strong class="custom">{{profratingaddproffav}}</strong>
                    <p class="custom" style="font-size: 12px; color: gray;">Avaliação</p>
                  </div>

                  <div class="col" style="background-color: #fff; margin: 1px;">
                    <i class="fa fa-calendar-check-o" style="font-size: 25px; color: #444bb6;"></i>
                    <br>
                    <strong class="custom">{{cadastroperfilprofaddproffav}}</strong>
                    <p class="custom" style="font-size: 12px; color: gray;">Cadastro</p>
                  </div>

                  <div class="col" style="background-color: #fff; margin: 1px;">
                    <i class="fa fa-book" style="font-size: 25px; color: #444bb6;"></i>
                    <br>
                    <strong class="custom">{{avaliacoesperfilprofaddproffav}}</strong>
                    <p class="custom" style="font-size: 12px; color: gray;">Aulas</p>
                  </div>

                </div>

                <div class="row">
                  <div style="margin: 2px; border: none;">
                    <div class="item item-text-wrap" style="border: none;">
                      <p class="custom" id="descricaoperfilprofaddproffav" style="text-align: justify; text-justify: inter-word; font-weight: normal; color: #737373;">{{descricaoperfilprofaddproffav}}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


            <div class="spacer" style="width: 300px; height: 10px;"></div>
            <button class="button sombra-button button-stable button-block custom" style="font-size: 15px; border-radius: 7px; font-weight: bold; width: 90%; margin-left: auto; margin-right: auto; background-color: #444bb6;" ng-click = "addFav()" ng-show="jafav"><i class="icon ion-ios-star-outline" style="margin-left: -10%; color: #fff;"></i><p style="margin-left: 10%; display: inline; color: #fff;">Adicionar aos favoritos</p></button>
            <div class="row" ng-hide="jafav">
              <div class="col text-center">
                <i class="icon ion-checkmark-round" style="font-size: 40px; color: #a9a9a9;"></i>
                <div class="spacer" style="width: 300px; height: 20px;"></div>
                <p class="custom" style="opacity: 0.3;">Adicionado aos favoritos</p>
              </div>
            </div>
            <div class="spacer" style="width: 300px; height: 10px;"></div>

        </ion-content>

      </ion-modal-view>
    </script>
    <div class="spacer" style="width: 300px; height: 10px;"></div>
    </ion-content>
</ion-view>
