<ion-view title="Resumo" id="resumofav" style="background-color:#f2f2f2;" ng-controller = "resumoFavCtrl">
  <ion-content padding="true" class="has-header has-tabs">
    <ul class="ul-config">
      <div class="hr-baixo">
        <p style="font-size: 11px; margin-left: 15px; color: #444bb6; font-weight: bold;">QUADRO RESUMO</p>
        <hr class="hr-config">
      </div>
      <li class="item item-avatar" style="border: none; margin-left: 1px; margin-right: 1px;">
        <img id="avatarprofresumofav" ng-src="{{avatarprofresumo}}" style="object-fit: cover;">
        <h2 class="custom" id="h2profresumofav">{{h2profresumo}}</h2>
        <p class="custom" style="font-size: 12px;" id="pprofcursoresumofav">{{pprofcursoresumo}}</p>
      </li>
      <li class="a-config">
        <i class="fa fa-bars icon-config fw-o" style="font-size: 20px;"></i>
        <strong class="custom" style="font-size: 15px;">Categoria:</strong>
        <p class="pmodular">{{pcat}}</p>
      </li>
      <li class="a-config">
        <i class="fa fa-book icon-config fw-o" style="font-size: 20px;"></i>
        <strong class="custom" style="font-size: 15px;">Disciplina:</strong>
        <p class="pmodular">{{pd}}</p>
      </li>
      <li class="a-config">
        <i class="fa fa-map-marker icon-config fw-o" style="font-size: 20px;"></i>
        <strong class="custom" style="font-size: 15px;">Endereço:</strong>
        <p class="pmodular">{{padress}}</p>
      </li>
      <li class="a-config">
        <i class="fa fa-users icon-config fw-o" style="font-size: 20px;"></i>
        <strong class="custom" style="font-size: 15px;">Alunos:</strong>
        <p class="pmodular">{{palunos}}</p>
      </li>
      <li class="a-config">
        <i class="fa fa-calendar-o icon-config" style="font-size: 20px;"></i>
        <strong class="custom" style="font-size: 15px;">Data:</strong>
        <p class="pmodular">{{pdata}}</p>
      </li>
      <li class="a-config" style="border-bottom: none;">
        <i class="fa fa-money icon-config" style="font-size: 20px;"></i>
        <strong class="custom" style="font-size: 15px;">Valor:</strong>
        <p class="pmodular">{{pvalor}}</p>
      </li>
    </ul>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <button class="button button-stable button-block sombra-button custom" style="border-radius: 7px;" ng-click = "check4email()"><i class="fa fa-check-square-o" style="margin-left: -10%; color: #3a4ed5;"></i><p style="margin-left: 10%; display: inline; font-weight: bold;">Confirmar</p></button>
    <div class="spacer" style="width: 300px; height: 20px;"></div>


    <script id="favoritos/resumofavmodal.html" type="text/ng-template">
      <ion-modal-view style="background-color: #f2f2f2;">
        <ion-header-bar class="bar bar-header bar-stable">
          <div class="buttons">
            <button class="button button-icon icon ion-ios-close-empty" ng-click="modpdl.hide()"></button>
          </div>
          <h1 class="title">Pagamento</h1>
        </ion-header-bar>
        <ion-content class="has-header">
          <div class="spacer" style="width: 300px; height: 10px;"></div>
          <p class="custom" style="text-align: center; color: gray;">Escolha uma forma de pagamento.
            O pagamento somente será efetuado após você finalizar sua aula.
          </p>
          <div class="row">
            <div class="col custom div-act-dis sombra-aulas" ng-click = "inicioBoleto()" ion-ripple ion-ripple-color="#444bb6">
              <div class="col text-center">
                <div class="div-pop-dis">
                  <i class="icon ion-document icon-pop-dis"></i>
                </div>
                <div class="spacer" style="width: 300px; height: 5px;"></div>
                <p class="custom" style="display: inline;">Boleto Bancário</p>
              </div>
            </div>
            <div class="col custom div-act-dis sombra-aulas" ng-click = "interInicio()" ion-ripple ion-ripple-color="#444bb6">
              <div class="col text-center">
                <div class="div-pop-dis">
                  <i class="icon ion-card icon-pop-dis"></i>
                </div>
                <div class="spacer" style="width: 300px; height: 5px;"></div>
                <p class="custom" style="display: inline;">Cartão de Crédito</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col custom div-act-dis sombra-aulas" ng-click = "interTrans()" ion-ripple ion-ripple-color="#444bb6">
              <div class="col text-center">
                <div class="div-pop-dis">
                  <i class="icon ion-arrow-swap icon-pop-dis"></i>
                </div>
                <div class="spacer" style="width: 300px; height: 5px;"></div>
                <p class="custom" style="display: inline;">Transferência Bancária</p>
                </div>
              </div>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>

    <script id="favoritos/cardsfavmodal.html" type="text/ng-template">
      <ion-modal-view style="background-color: #f2f2f2;">
        <ion-header-bar class="bar-stable">
          <div class="buttons">
            <button class="button button-icon icon ion-ios-close-empty" ng-click="modcardsl.hide()"></button>
          </div>
          <h1 class="title">Cartões</h1>
        </ion-header-bar>
        <ion-content>
          <ion-list>
            <div class="row" ng-show="data.spincards">
              <div class="col text-center">
                <ion-spinner></ion-spinner>
              </div>
            </div>
            <div class="spacer" style="width: 300px; height: 10px;"></div>
            <!--<ion-item class="item-icon-left" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "escolheuCard(card.cartaoid)" ng-repeat-start = "card in cards">
              <i class="icon ion-card" style="color: #444bb6; font-size: 25px;"></i>
              <p class="custom" style="text-transform: uppercase; font-weight: bold;">{{card.brand}}</p>
              <p class="custom">Validade: {{card.expiration_month}}/{{card.expiration_year}}</p>
              <p class="custom" style="color: gray;">{{card.mask}}</p>
              <ion-delete-button class="ion-ios-trash-outline" style="color: Red" ng-click = "deleteMyCard(card.cartaoid)"></ion-delete-button>
            </ion-item>-->
            <ion-item class="item-icon-left" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "escolheuCard(card.id, card.brand, card.last4, card.cvc)" ng-repeat-start = "card in cards">
              <i class="icon ion-card" style="color: #444bb6; font-size: 25px;"></i>
              <p class="custom" style="text-transform: uppercase; font-weight: bold;">{{card.brand}}</p>
              <p class="custom" style="color: gray;">•••{{card.last4}}</p>
              <ion-delete-button class="ion-ios-trash-outline" style="color: Red" ng-click = "deleteMyCard(card.id, card.brand, card.last4)"></ion-delete-button>
            </ion-item>
            <div class="spacer" style="width: 300px; height: 10px;" ng-repeat-end></div>
            <div class="row" ng-show="nenhumCard">
              <div class="col text-center">
                <i class="icon ion-card" style="font-size: 50px; color: gray; opacity: 0.5;"></i>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <p class="custom" style="font-size: 18px; color: gray; opacity: 0.5;">Nenhum cartão<br> adicionado</p>
                <div class="spacer" style="width: 300px; height: 20px;"></div>
                <a ui-sref="tabsController.configuraEs" class="button button-clear custom" style="color: #A9A9A9;" ng-click="modcardsl.hide()"><strong style="text-decoration: underline;">Configurar cartões</strong></a>
              </div>
            </div>
          </ion-list>
        </ion-content>
      </ion-modal-view>
    </script>
  </ion-content>
</ion-view>
