<ion-view title="Transferência" id="transferfav" style="background-color:#f2f2f2;" ng-controller = "transferFavCtrl">
  <ion-content padding="true" class="has-header has-tabs">
    <p class="custom" style="color: gray; text-align: center;">Por favor, certifique-se de anotar os dados abaixo antes de continuar</p>
    <div style="background-color: #fff; margin: 5px;">
      <div class="hr-baixo">
        <p style="font-size: 11px; margin-left: 15px; color: #444bb6; font-weight: bold;">BANCO</p>
        <hr class="hr-config">
      </div>
      <div class="spacer" style="width: 300px; height: 5px;"></div>
      <p class="custom text-center" style="color: gray;">Banco do Brasil 001</p>
      <div class="spacer" style="width: 300px; height: 5px;"></div>
    </div>

    <div style="background-color: #fff; margin: 5px;">
      <div class="hr-baixo">
        <p style="font-size: 11px; margin-left: 15px; color: #444bb6; font-weight: bold;">CONTA</p>
        <hr class="hr-config">
      </div>
      <div class="spacer" style="width: 300px; height: 5px;"></div>
      <p class="custom text-center" style="color: gray;">Conta Corrente</p>
      <div class="spacer" style="width: 300px; height: 5px;"></div>
    </div>

    <div style="background-color: #fff; margin: 5px;">
      <div class="hr-baixo">
        <p style="font-size: 11px; margin-left: 15px; color: #444bb6; font-weight: bold;">AGÊNCIA</p>
        <hr class="hr-config">
      </div>
      <div class="spacer" style="width: 300px; height: 5px;"></div>
      <p class="custom text-center" style="color: gray;">3476-2</p>
      <div class="spacer" style="width: 300px; height: 5px;"></div>
    </div>

    <div style="background-color: #fff; margin: 5px;">
      <div class="hr-baixo">
        <p style="font-size: 11px; margin-left: 15px; color: #444bb6; font-weight: bold;">CONTA</p>
        <hr class="hr-config">
      </div>
      <div class="spacer" style="width: 300px; height: 5px;"></div>
      <p class="custom text-center" style="color: gray;">27547-6</p>
      <div class="spacer" style="width: 300px; height: 5px;"></div>
    </div>

    <div style="background-color: #fff; margin: 5px;">
      <div class="hr-baixo">
        <p style="font-size: 11px; margin-left: 15px; color: #444bb6; font-weight: bold;">CNPJ</p>
        <hr class="hr-config">
      </div>
      <div class="spacer" style="width: 300px; height: 5px;"></div>
      <p class="custom text-center" style="color: gray;">27100243/0001-58</p>
      <div class="spacer" style="width: 300px; height: 5px;"></div>
    </div>

    <div class="spacer" style="width: 300px; height: 5px;"></div>
    <p class="custom" style="text-align: center;">Instituto Modular Ltda - ME</p>

    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <button id="resumo-button5" class="button button-stable button-block sombra-button custom" style="border-radius: 7px;" ng-click = "check4email()"><i class="fa fa-check-square-o" style="margin-left: -10%; color: #444bb6;"></i><p style="margin-left: 10%; display: inline; font-weight: bold;">Confirmar</p></button>
    <div class="spacer" style="width: 300px; height: 20px;"></div>


  </ion-content>
</ion-view>
