<ion-view hide-nav-bar="false" title="" id="page2" style="background-color: #f2f2f2;" ng-controller = "aulasCtrl">
  <ion-nav-bar class="custom bar-aulas">
    <ion-nav-buttons side="secondary">
      <button class="button button-light button-icon button-clear ion-ios-telephone" style="color: #fff;" ng-click = "modalcontato.show()"></button>
    </ion-nav-buttons>
    <!--<ion-nav-buttons side="primary">
      <button class="button button-light button-icon button-clear ion-social-facebook" style="color: #fff;" href="#" onclick="window.open('https://www.facebook.com/ModularAulas/', '_system', 'location=yes'); return false;"></button>
    </ion-nav-buttons>-->
  </ion-nav-bar>
    <ion-content id="contentaulasaluno" padding="false" class="has-tabs" scroll="false" ng-init = "checkSpan()">
    <div class="row" style="margin-top: -10px; background: url(img/degrade_modular.jpg) no-repeat top; background-size: 100% 100%;">
      <div class="col text-center">
        <img src="img/modular_M.png" style="width: 30%; height: auto;">
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <p class="custom" style="color: white;">Olá, <strong id="alunoaulasid">{{alunoaulasid}}</strong>!</p>
        <p ui-sref="tabsController.calendarioPessoal" class="custom" style="text-decoration: underline; color: white; font-size: 12px;">Você tem <span id="spanaulas"></span> aula(s) agendada(s)</p>
      </div>
    </div>

    <!--<div class="spacer" style="width: 300px; height: 60px;"></div>-->
    <div class="obj-wrapper">
      <div class="content">
        <ion-item ui-sref="tabsController.disciplinas" class="item-icon-left sombra-button" style="border: none; border-radius: 7px; background-color: #f8f8f8; width: 95%; margin-left: auto; margin-right: auto;">
          <i class="icon fa fa-check-square-o" style="margin-left: 12%; font-size: 15px; color: #444bb6;"></i>
          <p class="custom" style="text-align: center; font-size: 15px; margin-left: 10%; font-weight: bold;">Marcar novas aulas</p>
        </ion-item>

        <!--<div class="spacer" style="width: 300px; height: 10px;"></div>
        <ion-item ui-sref="tabsController.aulasSemanais" class="item-icon-left sombra-button" style="border: none; border-radius: 7px; background-color: #f8f8f8; width: 95%; margin-left: auto; margin-right: auto;">
          <i class="icon fa fa-cubes" style="margin-left: 12%; font-size: 15px; color: #444bb6;"></i>
          <p class="custom" style="text-align: center; font-size: 15px; margin-left: 10%; font-weight: bold;">Pacotes de aulas</p>
        </ion-item>-->
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <ion-item class="item-icon-left sombra-button" style="border: none; border-radius: 7px; background-color: #f8f8f8; width: 95%; margin-left: auto; margin-right: auto;" href="#" onclick="window.open('https://www.facebook.com/ModularAulas/', '_system', 'location=yes'); return false;">
          <i class="icon fa fa-facebook" style="margin-left: 12%; font-size: 15px; color: #444bb6;"></i>
          <p class="custom" style="text-align: center; font-size: 15px; margin-left: 10%; font-weight: bold;">Fale conosco</p>
        </ion-item>

        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <ion-item ui-sref="tabsController.calendarioPessoal" id="calendarspan" class="item-icon-left sombra-button" style="border: none; border-radius: 7px; background-color: #f8f8f8; width: 95%; margin-left: auto; margin-right: auto;">
          <i class="icon fa fa-calendar-o" style="margin-left: 12%; font-size: 15px; color: #444bb6;"></i>
          <p class="custom" style="text-align: center; font-size: 15px; margin-left: 10%; font-weight: bold;">Minha agenda</p>
        </ion-item>
      </div>
    </div>
    <div class="spacer" style="width: 300px; height: 20px;"></div>

    <p id="divcategoriaaulas" ng-hide = "true"></p>

    <script id="aulas/modalcontato.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar-stable">
          <div class="buttons button-right">
            <button class="button button-clear button-primary button-icon ion-ios-close-empty" ng-click="modalcontato.hide()"></button>
          </div>
          <h1 class="title custom">Contato</h1>
        </ion-header-bar>
        <ion-content class="has-header">
          <div style="padding: 10px;">
            <p class="custom" style="font-size: 15px; font-weight: normal; text-align: center;">Entre em contato conosco para tirar suas dúvidas ou enviar sugestões</p>
            <div class="spacer" style="width: 300px; height: 10px;"></div>
            <ul class="ul-config">
              <li class="a-config custom">{{modular1nome}}
                <i class="fa fa-phone icon-config fw-o" style="font-size: 20px;"></i>
                <p class="p-config custom">{{modular1numero}}</p>
              </li>
              <li class="a-config custom" style="border-bottom: none;">{{modular2nome}}
                <i class="fa fa-phone icon-config fw-o" style="font-size: 20px;"></i>
                <p class="p-config custom">{{modular2numero}}</p>
              </li>
            </ul>
          <div class="spacer" style="width: 300px; height: 25px;"></div>

          <p class="custom" style="text-align: center; font-weight: normal;">modularaulas@gmail.com</p>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>

    </ion-content>
</ion-view>
