<ion-view title="Disciplinas" id="page6" style="background-color: #f2f2f2;" ng-controller = "disciplinasCtrl">
    <ion-content padding="true" class="has-header has-tabs">
        <ion-refresher
          class="custom"
          pulling-text="Atualizar"
          on-refresh="refreshDisciplinas()">
        </ion-refresher>
        <p id="pcategoria" ng-hide = "true"></p>
        <form id="disciplinas-form2" class="list">
            <!--<div class="item item-input-inset" style="border: none; margin-top: -1px; background-color: #4D7ECD;">
              <label class="item-input-wrapper" style="background-color: #88a9dd;">
                  <i class="icon ion-search light"></i>
                  <span class="input-label custom" ng-if="!searchQuery" style="color: #fff; font-size: 12px; position: absolute; margin: 0; left: 50%; margin-right: -50%; transform: translate(-45%, 5%);">Procurar disciplina</span>
                  <input class = "custom" id="searchD" type="search" style="color: #fff;" ng-model = "searchQuery">
              </label>
              <button ng-click="searchQuery = ''" class="button ion-android-close input-button button-small" ng-show="searchQuery.length">
              </button>
            </div>-->

            <!--<div class="row" ng-repeat = "fach in facher" ng-if="$index % 2 == 0">
              <div class="col custom div-act-dis">
                <div style="text-align: center;" ng-click = "mudaPage(facher[$index].nome)">
                  <div class="div-pop-dis">
                    <i class="icon {{facher[$index].icon}} icon-pop-dis"></i>
                  </div>
                  <br>
                  <p>{{facher[$index].nome}}</p>
                </div>
              </div>
              <div class="col custom div-act-dis" ng-if="facher.length > ($index + 1)">
                <div style="text-align: center;" ng-click = "mudaPage(facher[$index + 1].nome)">
                  <div class="div-pop-dis">
                    <i class="icon {{facher[$index + 1].icon}} icon-pop-dis"></i>
                  </div>
                  <br>
                  <p>{{facher[$index + 1].nome}}</p>
                </div>
              </div>
            </div>-->

            <ul class="ul-config" style="border: none;">
              <div class="hr-baixo">
                <p style="font-size: 11px; margin-left: 15px; color: #444bb6; font-weight: bold;">DISCIPLINAS DISPONÍVEIS</p>
                <hr class="hr-config">
              </div>
              <li class="a-dis custom" ng-repeat = "fach in facher" ng-click = "mudaPage(fach.nome)" ng-class="{'last':$last}">{{fach.nome}}
                <i class="icon {{fach.icon}} icon-config"></i>
                <i class="icon ion-ios-arrow-right icon-accessory" style="display: inline; float: right; color: gray;"></i>
              </li>
            </ul>
        </form>
        <div class="spacer" style="width: 300px; height: 5px;"></div>
    </ion-content>
</ion-view>
