<ion-view title="Meus Endereços" id="page27" style="background-color: #f2f2f2;" ng-controller = "addressMineCtrl">
    <ion-nav-buttons side="secondary" id="navbtnadress">
      <button id="btneditadress" class="button button-positive button-clear custom custom-back" ng-click="editaAdress()">
        {{textoadress}}
      </button>
    </ion-nav-buttons>
    <ion-content id="adresscnt" padding="false" class="has-header has-tabs">
        <ion-refresher
          on-refresh="adressRefresh()">
        </ion-refresher>

        <div class="row" style="background-color: #fff;">
          <div class="col text-center">
            <button class="button button-icon icon fa fa-plus-square-o" style="color: #444bb6;" ng-click = "checkAdressLimit()"></button>
            <!--<button class="button button-block button-positive custom" style="font-size: 15px; border-radius: 7px; font-weight: bold; background-color: transparent; width: 90%; margin-left: auto; margin-right: auto; border: 1px solid #444bb6;" ng-click = "checkAdressLimit()" ion-ripple ion-ripple-color="#444bb6"><i class="icon ion-ios-plus-outline" style="margin-left: -10%; color: #444bb6;"></i><p style="margin-left: 10%; display: inline; color: #444bb6;">Adicionar endereço</p></button>-->
          </div>
        </div>

        <ion-list show-delete="upadress">
          <!--<ion-item class="item-divider centrado custom">Brasília - DF</ion-item>-->
          <div class="row" ng-show="data.spinads">
            <div class="col text-center">
              <ion-spinner icon="ios-small"></ion-spinner>
            </div>
          </div>
          <div class="spacer" style="width: 300px; height: 10px;"></div>
          <ion-item class="item-icon-left" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "escolheuAdress(ad.adress, ad.local)" ng-repeat-start = "ad in ads track by ad.key">
              <i class="icon ion-ios-location-outline" style="color: #444bb6; font-size: 25px;"></i>
              <ion-delete-button class="ion-ios-trash-outline" style="color: #ef473a;" ng-click = "adressDelete(ad.key)"></ion-delete-button>
              <ion-option-button class="button-info custom" style="color: #444bb6;" ng-click = "adressStd(ad.key, ad.adress)">Padrão</ion-option-button>
              <strong class="custom">{{ad.local}}</strong><br><p class="custom" style="font-size: 12px;">{{ad.adress}}</p>
          </ion-item>
          <div class="spacer" style="width: 300px; height: 10px;" ng-repeat-end></div>
        </ion-list>

        <!--<div class="row" ng-show="data.nenhumadress">
          <div class="col text-center">
            <i class="ion-ios-location iconeicn"></i>
            <p class="picn">NENHUM ENDEREÇO ADICIONADO.</p>
          </div>
        </div>-->

        <script id="enderecos/modal.html" type="text/ng-template">
          <ion-modal-view style="background-color: #f2f2f2;">
            <ion-header-bar class="bar-stable">
              <div class="buttons button-right">
                <button class="button button-clear button-dark button-primary button-icon ion-ios-close-empty" ng-click="modal.hide()"></button>
              </div>
              <h1 class="title custom">Local da aula</h1>
            </ion-header-bar>
            <!--<div class="bar bar-subheader" style="background-color: #f8f8f8;">
              <p class="custom" style="font-size: 15px; text-align: center; color: #444bb6; margin-top: 5px;">Brasília - DF</p>
            </div>-->
            <ion-content id="modalcnt" class="has-header">
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <div class="divcircledprof" style="width: 40%;">
                <p class="custom" style="text-align: center;">Brasília - DF</p>
              </div>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-list>
                <!--<ion-item class="item-divider custom" style="text-align: center;">Brasília - DF</ion-item>-->
                <!--<ion-item class="item-divider buttonmod opaco"></ion-item>-->
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Lago Sul')">Lago Sul</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Lago Norte')">Lago Norte</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Asa Sul')">Asa Sul</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Asa Norte')">Asa Norte</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Guará')">Guará</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Paranoá')">Paranoá</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Sudoeste')">Sudoeste</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Noroeste')">Noroeste</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Park Way')">Park Way (Aeroporto)</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Núcleo Bandeirante')">Núcleo Bandeirante</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Cruzeiro')">Cruzeiro</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Vicente Pires')">Vicente Pires</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Águas Claras')">Águas Claras</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Taguatinga')">Taguatinga</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Ceilândia')">Ceilândia</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Gama')">Gama</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Samambaia')">Samambaia</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Sobradinho')">Sobradinho</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Brazlândia')">Brazlândia</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Riacho Fundo')">Riacho Fundo</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Recanto das Emas')">Recanto das Emas</ion-item>
              </ion-list>
              <div class="spacer" style="width: 300px; height: 15px;"></div>

            </ion-content>
          </ion-modal-view>
        </script>

    </ion-content>
</ion-view>
