<ion-view title="Meus Endereços" id="meusenderecos" style="background-color: #f2f2f2;" ng-controller = "addressCtrl">
    <ion-nav-buttons side="secondary">
      <button class="button button-positive button-clear custom custom-back" ng-click="editaAdress()">
        {{textoadress}}
      </button>
    </ion-nav-buttons>
    <div class="bar bar-subheader" style="height: 50px; background-color: #fff;">
      <div class="col text-center">
        <button class="button button-icon icon fa fa-plus-square-o" style="color: #444bb6;" ng-click = "checkAdressLimit()"></button>
      </div>
    </div>
    <ion-content padding="false" class="has-header has-tabs has-subheader">

        <!--<ul class="list-address">
          <li>element 1</li>
          <li>element 2</li>
          <li>element 3</li>
          <li>element 4</li>
          <li>element 5</li>
        </ul>-->

        <div class="spacer" style="width: 300px; height: 10px;"></div>

        <!--<ul class="list">
          <div class="row" ng-show="data.spinads">
            <div class="col text-center">
              <ion-spinner icon="ios-small"></ion-spinner>
            </div>
          </div>
          <div class="spacer" style="width: 300px; height: 10px;"></div>
          <li class="item" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px;" ng-click = "escolheuMeuAdress(ad.adress, ad.local)" ng-repeat = "ad in ads track by ad.key">
            <div ng-class="{'container-top' : $first, 'container-middle' : $middle, 'container-bottom' : $last, 'container-none' : 0 === $middle}">
              <div ng-class="{'circle-address-top' : $first, 'circle-address-middle' : $middle, 'circle-address-bottom' : $last}">
                <i class="icon {{ad.class}} circle-address-icon" style="color: #444bb6; font-size: 25px;"></i>
              </div>
            </div>
            <div style="display: inline; text-align: center;">
              <p class="custom" style="font-weight: bold;">{{ad.local}}</p>
              <br>
              <p class="custom" style="font-size: 12px;">{{ad.adress}}</p>
            </div>
          </li>
        </ul>-->

        <ion-list class="list-address" show-delete="upadress">
          <div class="row" ng-show="data.spinads">
            <div class="col text-center">
              <ion-spinner icon="ios-small"></ion-spinner>
            </div>
          </div>
          <div class="spacer" style="width: 300px; height: 10px;"></div>
          <ion-item class="item-icon-left" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "escolheuMeuAdress(ad.adress, ad.local)" ng-repeat-start = "ad in ads track by ad.key">
              <i class="icon {{ad.class}}" style="color: #444bb6; font-size: 25px;"></i>
              <ion-delete-button class="ion-ios-trash-outline" style="color: Red;" ng-click = "adressDelete(ad.key)"></ion-delete-button>
              <ion-option-button class="button-info custom" style="color: #444bb6;" ng-click = "adressStd(ad.key, ad.adress)">Padrão</ion-option-button>
          <strong class="custom">{{ad.local}}</strong><br><p class="custom" style="font-size: 12px;">{{ad.adress}}</p></ion-item>
          <div class="spacer" style="width: 300px; height: 15px;" ng-repeat-end></div>
        </ion-list>

        <div class="row" ng-show="data.nenhumadress">
          <div class="col text-center">
            <i class="fa fa-map-marker" style="color: gray; font-size: 50px; opacity: 0.3;"></i>
            <p class="picn custom">Nenhum Endereço Adicionado</p>
          </div>
        </div>

        <script id="enderecos/addMeuAddress.html" type="text/ng-template">
          <ion-modal-view style="background-color: #f2f2f2;">
            <ion-header-bar class="bar-stable">
              <div class="buttons button-right">
                <button class="button button-clear button-dark button-primary button-icon ion-ios-close-empty" ng-click="modal.hide()"></button>
              </div>
              <h1 class="title custom">Local da aula</h1>
            </ion-header-bar>
            <ion-content class="has-header">
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <div class="divcircledprof" style="width: 40%;">
                <p class="custom" style="text-align: center;">Brasília - DF</p>
              </div>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-list>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Lago Sul')">Lago Sul</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Lago Norte')">Lago Norte</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Asa Sul')">Asa Sul</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Asa Norte')">Asa Norte</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Guará')">Guará</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Paranoá')">Paranoá</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Sudoeste')">Sudoeste</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Noroeste')">Noroeste</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Park Way')">Park Way (Aeroporto)</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Núcleo Bandeirante')">Núcleo Bandeirante</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Cruzeiro')">Cruzeiro</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Vicente Pires')">Vicente Pires</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Águas Claras')">Águas Claras</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Taguatinga')">Taguatinga</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Ceilândia')">Ceilândia</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Gama')">Gama</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Samambaia')">Samambaia</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Sobradinho')">Sobradinho</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Brazlândia')">Brazlândia</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Riacho Fundo')">Riacho Fundo</ion-item>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "localSelect('Recanto das Emas')">Recanto das Emas</ion-item>
              </ion-list>
              <div class="spacer" style="width: 300px; height: 15px;"></div>

            </ion-content>
          </ion-modal-view>
        </script>

    </ion-content>
</ion-view>
