<ion-view title="Códigos" id="codigoPromocional" style="background-color: #f2f2f2;" ng-controller = "codigoPromocionalCtrl">
  <ion-nav-buttons side="right">
      <button class="button button-positive button-icon button-clear ion-ios-help-empty custom-back" ng-click = "help3()">
      </button>
  </ion-nav-buttons>
    <ion-content padding="false" class="has-header has-tabs">
      <!--<div class="spacer" style="width: 300px; height: 20px;"></div>-->
      <div style="background-color: #fff;">
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <button class="button button-block button-stable custom custom-back" style="margin-left: auto; margin-right: auto; width: 95%; background-color: transparent; border: 1px solid #444bb6; border-radius: 7px;" ng-click = "originalCode()" ion-ripple ion-ripple-color="#fff"><i class="icon ion-ios-undo-outline" style="float: left; color: #444bb6"></i>Manter preço original</button>
        <div class="item item-input-inset" style="background-color: #fff;">
          <label class="item-input-wrapper" style="background-color: #f2f2f2; border: none;">
              <i class="icon ion-ios-pricetags-outline placeholder-icon"></i>
              <span class="input-label custom" ng-if="!searchCode" style="color: #A9A9A9; font-size: 12px; position: absolute; margin: 0; left: 50%; margin-right: -50%; transform: translate(-45%, 5%);">Digite um código</span>
              <input class = "custom" id="searchC" type="search" ng-model = "searchCode">
              <hr style="color: black;">
          </label>
          <button ng-click="addCodePromo(searchCode)" class="button ion-checkmark-round input-button button-small" style="color: #387ef5;" ng-show="searchCode.length">
          </button>
        </div>
      </div>
      <div class="spacer" style="width: 300px; height: 5px;"></div>

      <div class="row" ng-show="data.spincodes">
        <div class="col text-center">
          <ion-spinner icon="ios-small"></ion-spinner>
        </div>
      </div>

      <div class="card" style="height: auto; border-radius: 0px;" ng-click = "escolheuCode(cd.desconto, cd.key)" ng-repeat = "cd in codes" ion-ripple ion-ripple-color="#444bb6">
        <div class="row">
          <div class="col col-25" style="background-color: #444bb6; height: auto; margin-left: -5px; margin-top: -7px; margin-bottom: -7px; position: relative;">
            <div class="col text-center">
              <i class="fa fa-ticket" style="font-size: 30px; color: #fff;"></i>
              <div class="spacer" style="width: 300px; height: 20px;"></div>
              <strong class="custom strongcodeper">{{cd.desconto}}%</strong>
            </div>
          </div>
          <div class="col text-center">
            <strong class="custom">{{cd.code}}</strong>
            <hr>
            <p class="custom" style="font-size: 12px; color: gray;">*{{cd.desconto}}% de desconto na aula</p>
          </div>
        </div>
      </div>

      <div class="row" ng-show="nenhumCP">
        <div class="col text-center">
          <i class="icon ion-ios-pricetags" style="font-size: 50px; color: gray; opacity: 0.2;"></i>
          <div class="spacer" style="width: 300px; height: 10px;"></div>
          <p class="custom" style="font-size: 15px; color: gray; opacity: 0.3;">Nenhum Código Adicionado</p>
        </div>
      </div>

    </ion-content>
</ion-view>
