<ion-view title="Histórico" id="page3" style="background-color: #f2f2f2;" ng-controller = "historicoCtrl">
    <ion-content padding="true" class="has-header has-tabs">
        <!--<div class="spacer" style="width: 300px; height: 20px;"></div>-->
        <!--<p class="custom" style="font-size: 11px; margin-left: 10px; color: #a9a9a9;">AULAS</p>-->
        <ul class="ul-config" id="histRico-list3">
            <div class="hr-baixo">
              <p style="font-size: 11px; margin-left: 15px; color: #444bb6; font-weight: bold;">AULAS</p>
              <hr class="hr-config">
            </div>
            <div style="border-radius: 0px;">
              <li class="a-hist custom">Aulas Concluídas
                <i class="fa fa-check-square-o icon-config fw-o" style="font-size: 25px;"></i>
                <p id="aconc" class="p-config custom">{{aconc}}</p>
              </li>
              <li class="a-hist custom" style="border-bottom: none;">Aulas Canceladas
                <i class="fa fa-times icon-config fw-o" style="font-size: 25px;"></i>
                <p id="acanc" class="p-config custom">{{acanc}}</p>
              </li>
            </div>
          </ul>

            <div class="spacer" style="width: 300px; height: 10px;"></div>

            <!--<p class="custom" style="font-size: 11px; margin-left: 10px; color: #a9a9a9;">FINANCEIRO</p>-->
            <ul class="ul-config">
              <div class="hr-baixo">
                <p style="font-size: 11px; margin-left: 15px; color: #444bb6; font-weight: bold;">FINANCEIRO</p>
                <hr class="hr-config">
              </div>
              <div class="spacer" style="width: 300px; height: 5px;"></div>
              <li class="a-config2 custom" ui-sref="tabsController.financeiro" style="border-bottom: none;">Histórico de Aulas
                <i class="fa fa-folder-o icon-config fw-o" style="font-size: 25px;"></i>
                <i class="icon ion-ios-arrow-right icon-accessory" style="display: inline; float: right; color: gray;"></i>
              </li>
              <div class="spacer" style="width: 300px; height: 5px;"></div>
            </ul>

            <div class="spacer" style="width: 300px; height: 10px;"></div>
            <!--<p class="custom" style="font-size: 11px; margin-left: 10px; color: #a9a9a9;">DISCIPLINAS CURSADAS</p>-->
            <!--<div class="row" ng-show = "noHist">
                <div class="col text-center">
                  <p class="picn custom">Nenhuma disciplina cursada</p>
                  <i class="fa fa-history iconeicn" style="font-size: 70px;"></i>
                </div>
            </div>-->
            <!--<div class="row" ng-show="loadhist">
              <div class="col text-center">
                <div class="spacer" style="width: 300px; height: 50px;"></div>
                <ion-spinner icon="ios-small"></ion-spinner>
              </div>
            </div>-->
          <ul class="ul-config">
            <div class="hr-baixo">
              <p style="font-size: 11px; margin-left: 15px; color: #444bb6; font-weight: bold;">DISCIPLINAS CURSADAS</p>
              <hr class="hr-config">
            </div>
            <div class="row" ng-if="nenhumhist">
              <div class="col text-center">
                <div class="spacer" style="width: 300px; height: 50px;"></div>
                <i class="fa fa-calendar-times-o iconeicn" style="font-size: 50px;"></i>
                <div class="spacer" style="width: 300px; height: 20px;"></div>
                <p class="custom" style="opacity: 0.3;">Nenhuma aula concluída</p>
              </div>
            </div>
            <li class="a-histdis custom" ng-class = "{'last' : $last}" ng-repeat = "hist in hists">{{hist.nome}}
              <p class="custom" style="display: inline; color: gray; font-size: 12px;">{{hist.cat}}</p>
              <p class="p-config custom">{{hist.aulas}}</p>
            </li>
        </ul>
        <div class="spacer" style="width: 300px; height: 10px;"></div>
    </ion-content>
</ion-view>
