<ion-view title="Agendamento" id="page7" style="background: url(img/degrade_modular.jpg) no-repeat center;background-size:cover;" ng-controller = "agendamentoCtrl">
    <ion-content padding="true" class="has-header has-tabs">
        <div class="divcircledprof">
          <p class="custom" id="divider1" style="font-size: 18px; text-align: center;">{{disnome}}</p>
        </div>
        <form id="agendamento-form3" class="list" name="myFormAgendamento" novalidate>
            <div class="list">
              <p id="localselect" style="text-align: center; font-size: 15px;" ng-hide = "true">Toque para escolher</p>
              <div style="background-color: rgb(255, 255, 255); border-radius: 0px;">
                <div class="item item-divider custom" style="text-align: center; font-size: 18px; background-color: transparent; border-left: none; border-right: none; border-top: none;">Aula</div>
                <div class="row">
                  <div class="col text-center">
                    <button class="button button-stable custom" ng-class="{'btn-select-agendamento': !grupo}" ng-click="grupo = false; ageact(1)">Individual</button>
                    <button class="button button-stable custom" ng-class="{'btn-select-agendamento': grupo}" ng-click="grupo = true">Em grupo</button>
                  </div>
                </div>
                <div class="row" ng-if="grupo">
                  <div class="col text-center">
                    <p class="custom">Quantidade de alunos</p>
                    <!--<button class="button circle-btn custom" ng-class="{'btn-age-act': ageact1}" ng-click="ageact(1)">1</button>-->
                    <button class="button circle-btn custom" ng-class="{'btn-age-act': ageact2}" ng-click="ageact(2)">2</button>
                    <button class="button circle-btn custom" ng-class="{'btn-age-act': ageact3}" ng-click="ageact(3)">3</button>
                    <button class="button circle-btn custom" ng-class="{'btn-age-act': ageact4}" ng-click="ageact(4)">4</button>
                    <button class="button circle-btn custom" ng-class="{'btn-age-act': ageact5}" ng-click="ageact(5)">5</button>
                  </div>
                </div>
              </div>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <div style="background-color: rgb(255, 255, 255); border-radius: 0px;" ng-click="goModal2()" ion-ripple ion-ripple-color="#4D7ECD">
                <div class="item item-divider custom" style="text-align: center; font-size: 18px; background-color: transparent; border-left: none; border-right: none; border-top: none;">Endereço</div>
                    <div class="spacer" style="width: 300px; height: 15px;"></div>
                    <p id="adresstxt" class="custom" style="text-align: center; font-size: 15px; color: gray;">Toque para escolher</p>
              </div>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <div ui-sref="tabsController.codigoPromocional" style="background-color: rgb(255, 255, 255); border-radius: 0px;" ion-ripple ion-ripple-color="#4D7ECD">
                <div class="item item-divider custom" style="text-align: center; font-size: 18px; background-color: transparent; border-left: none; border-right: none; border-top: none;">Código promocional</div>
                    <div class="spacer" style="width: 300px; height: 15px;"></div>
                    <p id="codetxt" class="custom" style="text-align: center; font-size: 15px; color: gray;">Toque para escolher</p>
              </div>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <div style="background-color: rgb(255, 255, 255); border-radius: 0px;" ion-ripple ion-ripple-color="#4D7ECD">
                <div class="item item-divider custom" style="text-align: center; font-size: 18px; background-color: transparent; border-left: none; border-right: none; border-top: none;">Conteúdo</div>
                <label class="item item-input" id="agendamentoobs" style="background-color: transparent; border: none;">
                    <span class="input-label custom" ng-if="!data.aulaConteudo" style="font-size: 15px; color: gray; position: absolute; margin: 0; left: 50%; margin-right: -50%; transform: translate(-50%, 0%);">Informe o conteúdo da aula</span>
                    <textarea class="custom" id="inputOBS" rows=5 style = "background-color: transparent; text-align: center; color: gray;" ng-model="data.aulaConteudo"></textarea>
                </label>
              </div>
          </div>
          <div class="spacer" style="width: 300px; height: 5px;"></div>
          <button id="agendamento-button11" class="button sombra-button button-stable button-block custom" style="font-size: 15px; border-radius: 7px; font-weight: bold;" ng-click = "moveProfs(data.aulaConteudo)"><i class="icon ion-ios-arrow-right" style="margin-left: -10%; color: #444bb6;"></i><p style="margin-left: 10%; display: inline;">Prosseguir</p></button>
        </form>

        <div class="spacer" style="width: 300px; height: 20px;"></div>
    </ion-content>
</ion-view>
