<ion-view title="Escola" id="escola" style="background-color: #f2f2f2;" ng-controller = "escolaCtrl">
    <ion-nav-buttons side="secondary">
      <button class="button button-positive button-icon button-clear ion-ios-plus-empty custom-back" ng-click="modal.show()"></button>
    </ion-nav-buttons>
    <!--<div class="bar bar-subheader" style="height: 50px; background-color: #4D7ECD;">
      <div class="col text-center">
        <button class="button button-icon icon fa fa-plus-square-o" style="color: #fff;" ng-click = "modal.show()"></button>
      </div>
    </div>-->
    <ion-content padding="false" class="has-header has-tabs">
        <div class="spacer" style="width: 300px; height: 10px;"></div>
        <div style="padding-left: 10px; padding-right: 10px;">
          <p class="custom" style="font-size: 12px; color: gray; text-align: center;">Adicione uma escola para ficar por dentro de eventos, descontos especiais em aulas, notificações e muito mais!</p>
        </div>

        <div class="row" ng-show="spinescola">
          <div class="col text-center">
            <ion-spinner icon="ios-small"></ion-spinner>
          </div>
        </div>

        <div class="col text-center" style="background-color: #fff; width: 95%; margin: auto;" ng-if="escola">
          <div class="div-fav-icon" style="position: absolute; background-color: #fff; border: 1px solid #444bb6;">
            <i class="icon ion-checkmark-round icon-fav-icon" style="color: #444bb6;"></i>
          </div>
          <div class="spacer" style="width: 300px; height: 10px;"></div>
          <i class="fa fa-building-o" style="font-size: 70px; color: #444bb6;"></i>
          <br>
          <div class="spacer" style="width: 300px; height: 10px;"></div>
          <strong class="custom" style="color: #444bb6; font-size: 15px;">{{escola}}</strong>
        </div>

        <!--<ion-list ng-if="escola">
          <div class="spacer" style="width: 300px; height: 10px;"></div>
          <ion-item class="item-icon-left" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "">
              <i class="icon ion-ios-checkmark-outline" style="color: #444bb6; font-size: 25px;"></i>
              <strong class="custom">{{escola}}</strong>
          </ion-item>
          <div class="spacer" style="width: 300px; height: 10px;"></div>
        </ion-list>-->

        <div class="row" ng-show="nenhumaescola">
          <div class="col text-center">
            <div class="spacer" style="width: 300px; height: 30px;"></div>
            <p class="picn custom">Nenhuma Escola Adicionada</p>
            <i class="fa fa-building-o iconeicn" style="font-size: 70px;"></i>
          </div>
        </div>
<!----------------------------------------------------------------------------->
      <script id="escola/escolamodal.html" type="text/ng-template">
        <ion-modal-view style="background-color: #f2f2f2;">
          <ion-header-bar class="bar-stable">
            <div class="buttons button-right">
              <button class="button button-clear button-primary button-icon ion-ios-close-empty" ng-click="modal.hide()"></button>
            </div>
            <h1 class="title custom">Escola</h1>
          </ion-header-bar>
          <!--<div class="bar bar-subheader" style="background-color: #f8f8f8;">
            <p class="custom" style="font-size: 15px; text-align: center; color: #444bb6; margin-top: 5px;">Brasília - DF</p>
          </div>-->
          <ion-content class="has-header">
            <div class="spacer" style="width: 300px; height: 10px;"></div>
            <div class="divcircledprof" style="width: 40%;">
              <p class="custom" style="text-align: center;">Brasília - DF</p>
            </div>
            <div class="spacer" style="width: 300px; height: 10px;"></div>
            <ion-list>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioJK', 'Colégio JK')">Colégio JK</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioLeonardoDaVinci', 'Colégio Leonardo da Vinci')">Colégio Leonardo da Vinci</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioMariaAuxiliadora', 'Colégio Maria Auxiliadora')">Colégio Maria Auxiliadora</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('Sigma', 'Sigma')">Sigma</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('COC', 'COC')">COC</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioALUB', 'Colégio ALUB')">Colégio ALUB</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioBatista', 'Colégio Batista')">Colégio Batista</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioCorJesu', 'Colégio Cor Jesu')">Colégio Cor Jesu</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioDomBosco', 'Colégio Dom Bosco')">Colégio Dom Bosco</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioGalois', 'Colégio Galois')">Colégio Galois</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioImaculadaConceição', 'Colégio Imaculada Conceição')">Colégio Imaculada Conceição</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioLaSalle', 'Colégio La Salle')">Colégio La Salle</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioMadreCarmenSalles', 'Colégio Madre Carmen Salles')">Colégio Madre Carmen Salles</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioMaristadeBrasilia', 'Colégio Marista de Brasília')">Colégio Marista de Brasília</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioDomPauloII', 'Colégio Dom Paulo II')">Colégio Dom Paulo II</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioMaristaPioXII', 'Colégio Marista Pio XII')">Colégio Marista Pio XII</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioOlimpo', 'Colégio Olimpo')">Colégio Olimpo</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioPodion', 'Colégio Pódion')">Colégio Pódion</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioSagradoCoracaodeMaria', 'Colégio Sagrado Coração de Maria')">Colégio Sagrado Coração de Maria</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioSantaDoroteia', 'Colégio Santa Dorotéia')">Colégio Santa Dorotéia</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('CentroDeEnsinoIsaacNewton', 'Centro de Ensino Isaac Newton')">Centro de Ensino Isaac Newton</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('CentroEducacionalAdventistaDeTaguatinga', 'Centro Educacional Adventista de Taguatinga')">Centro Educacional Adventista de Taguatinga</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('CentroEducacionalCerto', 'Centro Educacional Certo')">Centro Educacional Certo</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('Projecao', 'Projeção')">Projeção</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioDJ', 'Colégio DJ')">Colégio DJ</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioEvangelicoBomSamaritano', 'Colégio Evangélico Bom Samaritano')">Colégio Evangélico Bom Samaritano</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioIdeal', 'Colégio Ideal')">Colégio Ideal</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioJesusMariaEJose', 'Colégio Jesus Maria e José')">Colégio Jesus Maria e José</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioMadreTeresa', 'Colégio Madre Teresa')">Colégio Madre Teresa</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('ColegioSantaTeresinha', 'Colégio Santa Teresinha')">Colégio Santa Teresinha</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('InstitutoDeEducacaoCrista', 'Instituto de Educação Cristã')">Instituto de Educação Cristã</ion-item>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <ion-item class="custom" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center; font-size: 14px;" ng-click = "escolaSelect('Outra', 'Outra')">Outra</ion-item>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 15px;"></div>
          </ion-content>
        </ion-modal-view>
      </script>

    </ion-content>
</ion-view>
