<ion-view title="Horários" id="page23" style="background: url(img/degrade_modular.jpg) no-repeat center;background-size:cover;" ng-controller = "calendarAllCtrl">
    <div class="bar bar-subheader" style="background-color: #fff;">
      <p class="custom" style="text-align: center; margin-top: 5px;">Agenda de todos os professores</p>
    </div>
    <ion-content id="contenttodosProf" padding="true" class="has-header has-tabs has-subheader">
      <ion-refresher
        class="custom"
        pulling-text="Atualizar"
        on-refresh="refreshTodosHorarios()">
      </ion-refresher>

      <div class="spacer" style="width: 300px; height: 10px;"></div>

        <onezone-datepicker datepicker-object="onezoneDatepicker4" class="custom">

            <div class="row show-onezone-datepicker">
                <div  class="col text-center">
                  <!--<p class="gradient-custom custom" style="font-size: 18px;">
                     Agenda de todos os professores
                  </p>-->
                  <!--<hr style="background-color: #333333">-->
                </div>
            </div>
            <div class="spacer" style="width: 300px; height: 10px;"></div>
        </onezone-datepicker>

        <div class="row">
          <div class="col text-center">
            <i class="ion-record" style="color: #00b300; font-size: 20px; "></i>
            <p class="custom" style="display:inline; color: white; position: relative; top: -2px;"> - Dias disponíveis</p>
          </div>
        </div>

        <div class="spacer" style="width: 300px; height: 25px;"></div>
        <p id="profCalendarTodosName" style="text-align: center" ng-hide="true">Instituto Modular</p>

  <script id="calendarall/diaTodos.html" type="text/ng-template">
      <ion-modal-view style="background-color: #f2f2f2;">
        <ion-header-bar class="bar-stable">
          <button class="button button-primary button-icon icon ion-ios-close-empty" ng-click="modtodol.hide()"></button>
          <h1 id="navtitle" class="title custom" style="font-size: 14px;">{{navtitle}}</h1>
        </ion-header-bar>
          <ion-content id="diacnt" padding="true">
              <div class="row" style="background: url(img/fundocalendar.jpg) no-repeat center; background-size:cover;">
                <div class="col text-center">
                  <div class="spacer" style="width: 300px; height: 10px;"></div>
                  <div class="circled custom" style="top: -15px; font-size: 16px;">
                    <strong id="datadiacircletodos" style="position: relative; top: 0%;">{{datadiacircletodos}}</strong>
                  </div>
                  <div class="divcircled">
                    <p id="diacircletodos" class="custom" style="font-weight: normal;">{{diacircletodos}}</p>
                  </div>
                </div>
              </div>
            <!--<ion-spinner id = "spindia" style="position: absolute; margin: 0; left: 50%; margin-right: -50%; transform: translate(-50%, -50%);" ng-show = "data.spintodos"></ion-spinner>-->
            <div class="col text-center" ng-show = "data.spintodos">
              <ion-spinner id = "spindia" icon="ios-small"></ion-spinner>
            </div>
            <ul class="ul-config" id="diaList">
                <li class="a-tds custom" ng-click="escolheuTodos(todo.prof, todo.key, todo.data, todo.hora, todo.professor, todo.ano, todo.mes, todo.dia, todo.horares, todo.pdata, todo.phora, todo.profpush, todo.pminutos)" ng-repeat = "todo in todos" ng-class = "{'last' : $last}">{{todo.hora}}
                  <i class="fa fa-calendar-check-o icon-config" style="color: #444bb6; font-size: 20px; margin-top: 10px;"></i>
                  <p class="custom" style="color: gray; font-size: 13px;">{{todo.professor}}</p>
                  <i class="icon ion-ios-arrow-right icon-accessory i-favoritos"></i>
                </li>
            </ul>
            <div id="divpai" class="row" ng-show = "data.add">
                <div id="divdiacnt" class="col text-center">
                  <p class="picn custom">NENHUM PROFESSOR DISPONÍVEL PARA ESTE DIA.</p>
                  <i class="fa fa-calendar-times-o iconeicn" style="font-size: 70px;"></i>
                </div>
            </div>
            <div class="spacer" style="width: 300px; height: 20px;"></div>
          </ion-content>
      </ion-modal-view>
   </script>
    </ion-content>

</ion-view>
