<ion-view title="Financeiro" id="page25" style="background-color:#f2f2f2;" ng-controller = "financeiroCtrl">
    <ion-content id="cntFinanceiro" padding="true" class="has-header has-tabs">

        <!--<div class="spacer" style="width: 300px; height: 10px;"></div>
        <p class="custom" style="font-size: 11px; margin-left: 10px; color: #a9a9a9;">AULAS</p>-->
        <ul class="ul-config">
            <div class="hr-baixo">
              <p style="font-size: 11px; margin-left: 15px; color: #444bb6; font-weight: bold;">AULAS</p>
              <hr class="hr-config">
            </div>
            <li class="a-financeiro custom" ng-click="finitem(classe.nome)" ng-repeat = "classe in classes" ng-class = "{'last' : $last}">{{classe.data}}
              <i class="fa fa-folder-open-o icon-config" style="font-size: 20px; color: #444bb6; margin-top: 10px;"></i>
              <p class="custom" style="font-size: 12px; color: gray;">{{classe.disciplina}}</p>
              <i class="icon ion-ios-information-outline icon-accessory i-favoritos"></i>
            </li>
        </ul>

        <!--<div class="card sombra-button" style="height: auto; border-radius: 7px;" ng-click="finitem(classe.nome)" ng-repeat = "classe in classes" ion-ripple ion-ripple-color="#444bb6">
          <div class="row">
            <div class="col col-25 modback" style="height: auto; margin-left: -5px; margin-top: -7px; margin-bottom: -7px; position: relative;">
              <div class="col text-center">
                <strong class="custom" style="color: white;">R$</strong>
                <strong class="custom" style="color: white;">{{classe.valor}}</strong>
                <div class="spacer" style="width: 300px; height: 30px;"></div>
                <p class="custom" style="color: white;">{{classe.datares}}</p>
                <p class="custom" style="color: white;">{{classe.hora}}</p>
              </div>
            </div>
            <div class="col text-center">
              <i class="icon ion-ios-location-outline" style="font-size: 30px; color: #444bb6;"></i>
              <p class="custom">{{classe.local}}</p>
              <hr>
              <p class="custom">{{classe.disciplina}}</p>
            </div>
          </div>
        </div>-->

        <div class="spacer" style="width: 300px; height: 30px;"></div>

        <div class="row" ng-show="nenhumhistfin">
          <div class="col text-center">
            <div class="spacer" style="width: 300px; height: 50px;"></div>
            <i class="fa fa-folder-open-o iconeicn" style="font-size: 70px;"></i>
            <div class="spacer" style="width: 300px; height: 20px;"></div>
            <p class="custom" style="opacity: 0.2;">Nenhuma Aula</p>
          </div>
        </div>
        <div class="row" ng-show="loadhistfin">
          <div class="col text-center">
            <div class="spacer" style="width: 300px; height: 50px;"></div>
            <ion-spinner icon="ios-small"></ion-spinner>
          </div>
        </div>

    <script id="financeiro/financeiroDetalhes.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar-royal">
          <button class="button button-primary button-icon icon ion-ios-close-empty" ng-click="modil.hide()"></button>
          <h1 class="title custom">Detalhes</h1>
        </ion-header-bar>
        <ion-content>

          <div class="card" style="margin-left: -20px; margin-right: -20px; height: 100px; margin-top: 0px;">
            <div class="item item-text-wrap" style="margin-left: -20px; margin-right: -20px; height: 100px; background-color: #444bb6;">
              <p id="findata" class="custom" style="color: white; font-size: 18px; position: absolute; margin: 0; left: 50%; margin-right: -50%; transform: translate(-50%, -50%);">{{findata}}</p>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <strong id="finvalor" class="custom" style="color: white; font-size: 30px; position: absolute; margin: 0; left: 50%; margin-right: -50%; transform: translate(-50%, 50%);">{{finvalor}}</strong>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <p id="finhora" class="custom" style="color: white; font-size: 15px; position: absolute; margin: 0; left: 50%; margin-right: -50%; transform: translate(-50%, 150%);">{{finhora}}</p>
            </div>
          </div>

          <div class="row">
            <div class="col text-center">
              <div class="div-pop">
                <i class="icon ion-android-bookmark icon-pop"></i>
              </div>
              <h4 class="custom">Disciplina:</h4>
              <p class="custom" id="findisciplina" style="color: gray;">{{findisciplina}}</p>
              <hr style="width: 80%; margin-left: auto; margin-right: auto;">

              <div class="div-pop">
                <i class="icon ion-person icon-pop"></i>
              </div>
              <h4 class="custom">Professor:</h4>
              <p class="custom" id="finprof" style="color: gray;">{{finprof}}</p>
              <hr style="width: 80%; margin-left: auto; margin-right: auto;">

              <!--<i class="icon ion-ios-calendar-outline" style="color: #444bb6; font-size: 30px;"></i>
              <h4 class="custom">Data:</h4>
              <p class="custom" id="findata" style="color: gray;"></p>
              <hr>-->

              <div class="div-pop">
                <i class="icon ion-location icon-pop"></i>
              </div>
              <h4 class="custom">Local:</h4>
              <p class="custom" id="finlocal" style="color: gray;">{{finlocal}}</p>
              <hr style="width: 80%; margin-left: auto; margin-right: auto;">

              <!--<i class="icon ion-ios-clock-outline" style="color: #444bb6; font-size: 30px;"></i>
              <h4 class="custom">Hora:</h4>
              <p class="custom" id="finhora" style="color: gray;"></p>
              <hr>-->

              <!--<i class="icon ion-cash" style="color: #444bb6; font-size: 30px;"></i>
              <h4 class="custom">Valor:</h4>
              <p class="custom" id="finvalor" style="color: gray;"></p>
              <hr>-->
            </div>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>

    </ion-content>
</ion-view>
