<ion-view title="Pacotes" id="page29" style="background-color: #f2f2f2;" ng-controller = "pacotesCtrl">
    <div class="bar bar-subheader" style="background-color: #fff;">
      <p class="custom" style="font-size: 15px; text-align: center; margin-top: 5px;">{{pktcat}}</p>
    </div>
    <ion-content  padding="true" class="has-header has-tabs has-subheader">
      <div class="spacer" style="width: 300px; height: 10px;"></div>
      <div class="col text-center" ng-show = "loadpkt">
        <ion-spinner icon="ios-small"></ion-spinner>
      </div>
      <p class="custom" style="text-align: center;" ng-show = "!loadpkt">Você tem <strong>{{aulasqtd}} aulas</strong> pagas restantes</p>
      <div class="spacer" style="width: 300px; height: 5px;"></div>

      <div style="height: auto; border-radius: 0px; background-color: #fff;" ng-click = "escolheuPkt(4)" ion-ripple ion-ripple-color="#444bb6">
        <div class="col text-center">
          <div class="div-pop">
            <strong class="custom icon-pop" style="top: 25px;">4</strong>
          </div>
          <div class="spacer" style="width: 300px; height: 20px;"></div>
          <strong class="custom" style="display: inline; font-size: 16px;">4 </strong> <p class="custom" style="display: inline;">aulas por</p> <strong class="custom" style="display: inline; font-size: 16px;">R$ {{pkt4}}</strong>
          <br>
          <hr>
          <p class="custom" style="font-size: 12px; color: gray;">*5 Reais de desconto por aula</p>
        </div>
      </div>
      <div class="spacer" style="width: 300px; height: 10px;"></div>
      <div style="height: auto; border-radius: 0px; background-color: #fff;" ng-click = "escolheuPkt(8)" ion-ripple ion-ripple-color="#444bb6">
        <div class="col text-center">
          <div class="div-pop">
            <strong class="custom icon-pop" style="top: 25px;">8</strong>
          </div>
          <div class="spacer" style="width: 300px; height: 20px;"></div>
          <strong class="custom" style="display: inline; font-size: 16px;">8 </strong> <p class="custom" style="display: inline;">aulas por</p> <strong class="custom" style="display: inline; font-size: 16px;">R$ {{pkt8}}</strong>
          <br>
          <hr>
          <p class="custom" style="font-size: 12px; color: gray;">*10 Reais de desconto por aula</p>
        </div>
      </div>

    <script id="pacotes/pktmodal.html" type="text/ng-template">
      <ion-modal-view style="background-color: #f2f2f2;">
        <ion-header-bar class="bar-stable">
          <div class="buttons">
            <button class="button button-icon icon ion-ios-close-empty" ng-click="modal.hide()"></button>
          </div>
          <h1 class="title">Cartões</h1>
        </ion-header-bar>
        <ion-content>
          <ion-list>
            <div class="row" ng-show="data.spincards">
              <div class="col text-center">
                <ion-spinner></ion-spinner>
              </div>
            </div>
            <div class="spacer" style="width: 300px; height: 10px;"></div>
            <!--<ion-item class="item-icon-left" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "escolheuCard(card.mask, card.cartaoid)" ng-repeat-start = "card in cards">
              <i class="icon ion-card" style="color: #444bb6; font-size: 25px;"></i>
              <p class="custom" style="text-transform: uppercase; font-weight: bold;">{{card.brand}}</p>
              <p class="custom">Validade: {{card.expiration_month}}/{{card.expiration_year}}</p>
              <p class="custom" style="color: gray;">{{card.mask}}</p>
            </ion-item>-->
            <ion-item class="item-icon-left" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "escolheuCard(card.id, card.brand, card.last4, card.cvc)" ng-repeat-start = "card in cards">
              <i class="icon ion-card" style="color: #444bb6; font-size: 25px;"></i>
              <p class="custom" style="text-transform: uppercase; font-weight: bold;">{{card.brand}}</p>
              <p class="custom" style="color: gray;">•••{{card.last4}}</p>
            </ion-item>
            <div class="spacer" style="width: 300px; height: 10px;" ng-repeat-end></div>
            <div class="row" ng-show="nenhumCard">
              <div class="col text-center">
                <i class="icon ion-card" style="font-size: 50px; color: gray; opacity: 0.5;"></i>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <p class="custom" style="font-size: 18px; color: gray; opacity: 0.5;">Nenhum cartão de<br>crédito adicionado</p>
                <div class="spacer" style="width: 300px; height: 20px;"></div>
                <a ui-sref="tabsController.configuraEs" class="button button-clear custom" style="color: #A9A9A9;" ng-click="modal.hide()"><strong style="text-decoration: underline;">Configurar cartões</strong></a>
              </div>
            </div>
          </ion-list>
        </ion-content>
      </ion-modal-view>
    </script>

    </ion-content>
</ion-view>
