<ion-view title="Resumo" id="page16" style="background-color:#f2f2f2;" ng-controller = "marcadasCtrl">
  <ion-content id = "contentmarcadas" padding="true" class="has-header has-tabs">
    <ul class="ul-config">
      <div class="hr-baixo">
        <img src="img/moip.png" style="object-fit: cover; display: inline; float: right;">
        <p style="font-size: 11px; margin-left: 15px; color: #444bb6; font-weight: bold;">QUADRO RESUMO</p>
        <hr class="hr-config">
      </div>
      <li class="item item-avatar" style="border: none; margin-left: 1px; margin-right: 1px;" id="professoresDisponVeis-list-item14">
          <img id="avatarprofmarcadas" ng-src="{{avatarprof}}" style="object-fit: cover;">
          <h2 class="custom" id="h2profmarcadas">{{nomeprof}}</h2>
          <p class="custom" style="color: gray; font-size: 12px;" id="pprofcursomarcadas">{{cursoprof}}</p>
      </li>
      <li class="a-config" id="marcadas-list-item29">
        <i class="fa fa-bars icon-config fw-o" style="font-size: 20px; color: #444bb6;"></i>
        <strong class="custom" style="font-size: 15px;">Categoria:</strong>
        <p class="pmodular">{{categoriaaluno}}</p>
      </li>
      <li class="a-config" id="marcadas-list-item30">
        <i class="fa fa-book icon-config fw-o" style="font-size: 20px; color: #444bb6;"></i>
        <strong class="custom" style="font-size: 15px;">Disciplina:</strong>
        <p class="pmodular">{{disciplinaaluno}}</p>
      </li>
      <li class="a-config" id="marcadas-list-item37" ng-click="showAddressInfo()">
        <i class="fa fa-map-marker icon-config fw-o" style="font-size: 20px; color: #444bb6;"></i>
        <i class="icon ion-ios-arrow-right icon-accessory" style="display: inline; float: right; color: gray;"></i>
        <strong class="custom" style="font-size: 15px;">Endereço:</strong>
        <p class="pmodular">{{enderecoaluno}}</p>
      </li>
      <li class="a-config" id="marcadas-list-item32">
        <i class="fa fa-users icon-config fw-o" style="font-size: 20px; color: #444bb6;"></i>
        <strong class="custom" style="font-size: 15px;">Alunos:</strong>
        <p class="pmodular">{{alunosaluno}}</p>
      </li>
      <li class="a-config" id="marcadas-list-item33">
        <i class="fa fa-calendar-o icon-config" style="font-size: 20px; color: #444bb6;"></i>
        <strong class="custom" style="font-size: 15px;">Data:</strong>
        <p class="pmodular">{{dataaluno}}</p>
      </li>
      <li class="a-config" id="marcadas-list-fp">
        <i class="icon ion-cash icon-config" style="font-size: 20px; color: #444bb6;"></i>
        <strong class="custom">Pagamento:</strong>
        <p class="pmodular">{{pagamentoaluno}}</p>
      </li>
      <li class="a-config" id="marcadas-list-item35" style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; border-bottom: none;">
        <i class="fa fa-money icon-config" style="font-size: 20px; color: #444bb6;"></i>
        <strong class="custom" style="font-size: 15px;">Valor:</strong>
        <p class="pmodular">{{valoraluno}}</p>
      </li>
    </ul>
    <div class="spacer" style="width: 300px; height: 15px;"></div>
    
    <button class="button button-block button-stable sombra-button custom" style="font-size: 15px; border-radius: 7px;" ng-click = "realPayment()"><i class="icon ion-ios-checkmark-outline" style="margin-left: -10%; color: #3a4ed5;"></i><p style="margin-left: 10%; display: inline; font-weight: bold;">Finalizar aula</p></button>
    <button class="button button-block button-stable sombra-button custom" style="font-size: 15px; border-radius: 7px;" ng-click = "cancelarMarcada()"><i class="icon ion-ios-close-outline" style="margin-left: -10%; color: #ef473a;"></i><p style="margin-left: 10%; display: inline; font-weight: bold;">Cancelar aula</p></button>
    <div class="spacer" style="width: 300px; height: 15px;"></div>


    <script id="marcadas/profRating.html" type="text/ng-template">
      <ion-modal-view style="background-color: #f2f2f2;">
        <ion-header-bar class="bar-stable">
          <h1 class="title custom">Avaliação</h1>
        </ion-header-bar>
        <ion-content>
          <!--<div class="row">
            <div class="col text-center">
              <i class="icon ion-ios-help-outline dark" style="font-size: 50px;"></i>
            </div>
          </div>
          <div style="margin-left: auto; margin-right: auto; width: 95%;">
            <p class="custom" style="text-align: center; font-weight: normal;">Por favor, avalie sua aula:</p>
          </div>-->
          <div style="background-color: #fff; margin: 10px;">
            <div class="spacer" style="width: 300px; height: 10px;"></div>
            <p class="custom" style="text-align: center;">Você gostou da aula?</p>
            <hr style="margin-left: auto; margin-right: auto; width: 90%;">
            <div class="row">
              <div class="col text-center custom" style="margin-left: 10px; height: 50px;" ng-class="{'ava-act' : avasim}" ng-click="avaprof('sim')">
                <p class="custom" style="position: relative; top: 10px;">Sim</p>
              </div>
              <div class="col text-center custom" style="margin-right: 10px; height: 50px;" ng-class="{'ava-act' : avanao}" ng-click="avaprof('nao')">
                <p class="custom" style="position: relative; top: 10px;">Não</p>
              </div>
            </div>
            <div class="spacer" style="width: 300px; height: 10px;"></div>
          </div>
          <div style="background-color: #fff; margin: 10px;">
            <div class="spacer" style="width: 300px; height: 10px;"></div>
            <p class="custom" style="text-align: center;">Desempenho do Professor:</p>
            <hr style="margin-left: auto; margin-right: auto; width: 90%;">
            <div class="row">
              <div class="col text-center">
                <ionic-ratings index="0" ratingsobj='ratingsObject'></ionic-ratings>
              </div>
            </div>
          </div>
          <div class="spacer" style="width: 300px; height: 20px;"></div>
          <button class="button sombra-button button-stable button-block custom" style="font-size: 15px; border-radius: 7px; font-weight: bold; width: 95%; margin: 10px;" ng-click = "rateProf()"><i class="icon ion-ios-paperplane-outline" style="margin-left: -10%; color: #444bb6;"></i><p style="margin-left: 10%; display: inline;">Confirmar</p></button>
          <!--<button class="button button-block button-stable sombra-button custom" style="font-size: 15px; border-radius: 7px; margin-left: auto; margin-right: auto; width: 95%;" ng-click = "rateProf()">Confirmar
            <i class="ion-ios-checkmark-outline" style="float: right;  font-size: 20px; color: #3a4ed5;"></i>
          </button>-->
        </ion-content>
      </ion-modal-view>
    </script>


  </ion-content>
</ion-view>
