
@font-face {
    font-family: 'fontawesome';
    src:url('../fonts/fontawesome-webfont.eot');
    src:url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
        url('../fonts/fontawesome-webfont.woff') format('woff'),
        url('../fonts/fontawesome-webfont.ttf') format('truetype'),
        url('../fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.middle-black {
  overflow: hidden;
  text-align: center;
}
.middle-black:before,
.middle-black:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}
.middle-black:before {
  right: 0.5em;
  margin-left: -50%;
}
.middle-black:after {
  left: 0.5em;
  margin-right: -50%;
}

.btn-select-agendamento {
  border: 1px solid #444bb6;
  color: #444bb6 !important;
  font-weight: bold;
}

.hr-baixo {
  position: relative;
  top: 10px;
}

.hr-config {
  border-top: 1px solid #c0c0c0;
  margin-top: -10px;
  margin-left: 15px;
}

.icon-pop {
  font-size: 50px;
  color: #444bb6;
  text-align: center;
  position: relative;
  top: 10px;
}

.div-pop {
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #444bb6;
  width: 70px;
  height: 70px;
  margin: auto;
}

.ava-act {
  border: 1px solid #444bb6;
}

.container-top {
  width: 1px;
  height: 70px;
  background-color: #444bb6;
  position: absolute;
  left: 20px;
  top: 35px;
}
.circle-address-top {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-color: white;
  border: solid 1px #444bb6;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: calc(50% - 16px);
}

.container-middle {
  width: 1px;
  height: 100px;
  background-color: #444bb6;
  position: absolute;
  left: 20px;
  top: 0px;
}
.circle-address-middle {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-color: white;
  border: solid 1px #444bb6;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: calc(50% - 16px);
}

.container-bottom {
  width: 1px;
  height: 60px;
  background-color: #444bb6;
  position: absolute;
  left: 20px;
  top: 0px;
}
.circle-address-bottom {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  background-color: white;
  border: solid 1px #444bb6;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: calc(50% - 16px);
}

.container-none {
  width: 0px;
  height: 0px;
  background-color: #444bb6;
  position: absolute;
  left: 20px;
  top: 0px;
}

.circle-address-icon {
  position: relative;
  left: 7px;
  top: 1px;
}


.custom-ground {
  background-color: #2d599f !important;
  width: 15%;
  height: 39px;
  margin-top: -5px;
  margin-left: -5px;
  border-radius: 0px;
}

.custom-ground-right {
  background-color: #2d599f !important;
  width: 60px;
  height: 70px;
  margin-top: -4px;
  margin-right: -5px;
  border-radius: 0px;
}

.custom-ground-modal {
  background-color: #2d599f !important;
  width: 55px;
  height: 42px;
  margin-top: -4px;
  margin-left: -5px;
  border-radius: 0px;
}

.custom-tabs {
  height: 50px;
  margin-top: -2px;
}

.div-act-dis {
  /*margin: 2px;*/
  margin: 5px;
  background-color: #fff;
  border-radius: 0px;
}

.div-act-dis.active {
  background-color: #f2f2f2;
}

.div-fav-icon {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  float: left;
  background-color: #444bb6;
}

.icon-fav-icon {
  color: #fff;
  font-size: 15px;
}

.img-fav-profile {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 50%;
}

.divhor {
  font-size: 11px;
  /*border: 1px solid #00b300;*/
  width: 70%;
  /*color: #00b300;*/
  color: #a9a9a9;
  margin-left: 5px;
}

.ihor {
  margin-top: -30px;
}

.bar.bar-royal {
  /*background-color: #4D7ECD;*/
  background-color: #444bb6;
  background-image: none;
}

.bar.bar-energized {
  background-color: #07A5A4;
  background-image: none;
}

.bar-aulas {
  background: url(../img/degrade_modular.jpg) no-repeat top;
  background-size: cover;
  overflow:auto;
}

.fw-o {
  /*-webkit-text-stroke-width: 1.3px !important;
  -webkit-text-stroke-color: #444bb6 !important;
  color: transparent !important;*/
  color: #444bb6;
}

.fw-o-g {
  /*-webkit-text-stroke-width: 1.5px !important;
  -webkit-text-stroke-color: #666 !important;
  color: transparent !important;*/
  color: #808080;
}

.fw-o-g-active {
  /*-webkit-text-stroke-width: 1.5px !important;
  -webkit-text-stroke-color: #fff !important;
  color: transparent !important;*/
  color: #fff;
}

.fw-o-g-active2 {
  -webkit-text-stroke-width: 1.2px !important;
  -webkit-text-stroke-color: #fff !important;
  color: transparent !important;
}

.circle-btn {
  border-radius: 50%;
}

.btn-age-act {
  border: 1px solid #444bb6;
  color: #444bb6 !important;
}

.bar.bar-light {
  /*background-color: rgba(255,255,255,.66) !important; */
  /*background: none;*/
  background-color: rgba(242,242,242,.89) !important;
}
.bar.bar-calm {
  background: none;
}
.scroll-content {
  overflow: visible !important;
}

.icon-pop {
  font-size: 50px;
  /*color: #fff;*/
  color: #444bb6;
  text-align: center;
  position: relative;
  top: 10px;
}

.div-pop {
  border-radius: 50%;
  /*background-color: #444bb6;*/
  background-color: #fff;
  border: 1px solid #444bb6;
  width: 70px;
  height: 70px;
  margin: auto;
}

.div-pop-fav {
  border-radius: 50%;
  background-color: #444bb6;
  width: 70px;
  height: 70px;
  margin: auto;
}

.icon-pop-dis {
  font-size: 50px;
  color: #444bb6;
  text-align: center;
  position: relative;
  top: 10px;
}

.div-pop-dis {
  border-radius: 50%;
  background-color: #fff;
  width: 70px;
  height: 70px;
  margin: auto;
}

.icon-square {
  position: relative;
  top: 5px;
}

.div-square {
  border-radius: 20%;
  /*background-color: #adebeb;*/
  /*background: url(../img/degrade_modular.jpg) bottom;*/
  background-color: #99ffe6;
  background-size: cover;
  width: 30px;
  height: 30px;
  display: inline;
  float: left;
  margin-left: -45px;
  margin-top: -5px;
  font-size: 20px;
  color: #444bb6;
}

.div-dis {
  /*background-color: #9AEED9;*/
  background-color: #444bb6;
  width: 50px;
  height: 60px;
  display: inline;
  float: left;
  margin-left: -60px;
  margin-top: -20px;
  font-size: 25px;
  color: #fff;
  /*border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;*/
}

.btn-modal {
  position: absolute;
  z-index: 5;
}

.alert-config {
  width: 10px;
  height: 10px;
  display: inline;
  background-color: #ef473a;
  float: right;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 5px;
}

.alert-config-ok {
  width: 10px;
  height: 10px;
  display: inline;
  background-color: #32cd32;
  float: right;
  border-radius: 50%;
  margin-top: 5px;
  margin-right: 5px;
}

.bar-modal {
  border: 0px !important;
  border-bottom-color: transparent !important;
  background-image: none !important;
  border-bottom: none !important;
}

.radio-icon{
  visibility: visible !important;
  margin-top: 4px;
}
.radio-icon:before{
  content:"" ;
  border:2px solid gray ;
  width: 24px ;
  height: 24px ;
  border-radius: 50% ;
  overflow:hidden ;
}

.radio-icon:after{
  content:"";
  position: absolute;
  right: 20px;
  top: 21px;
  background:#444bb6;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  overflow:hidden;
  visibility: hidden;
}

.item-radio input:checked + .radio-content .radio-icon:after{
  visibility: visible;
}

.opaco-noventa {
	opacity: 0.9;
}

.custom-title {
  color: #444bb6;
}

.custom-back {
  /*color: #fff !important;*/
  color: #444bb6 !important;
}

.custom-close {
	color: #000 !important;
}

.custom-close-light {
	color: #fff !important;
}

.modalview {
	width: 90%;
	height: auto;
	min-height: 0;
	max-height: 500px;
	top: 10%;
	left: 5%;
	right: 5%;
	bottom: 20%;
	background-color: #fff;
}

.modalviewprof {
	width: 90%;
	height: 90%;
	min-height: 0;
	max-height: 90%;
	top: 5%;
	left: 5%;
	right: 5%;
	bottom: 5%;
	background-color: #fff;
}

.modalviewprof-edit {
	width: 90%;
	height: 90%;
	min-height: 0;
	max-height: 90%;
	top: 5%;
	left: 5%;
	right: 5%;
	bottom: 5%;
	background-color: #fff;
}

/*@media (min-width: 0px) {
  .modal-backdrop-bg {
    opacity: 0.5 !important;
    background-color: #000;
  }

  .modal{
    border-radius: 7px !important;
  }
}*/

.popcustom > .popup {
	border-radius: 10px !important;
	background-color: #fff;
  /*background-color: #444bb6;*/
  text-align: center;
  width: 90%;
  color: #737373;
}

/*.popcustom > .popup-buttons  {
	border-radius: 0px !important;
	background-color: #000;
}*/

.popcustom .popup-title {
	font-size: 17px;
  /*color: gray;*/
  font-family: 'Montserrat', sans-serif;
}

.popcustom .popup-head {
	background-color: #fff;
  border-bottom: none;
  border-top-left-radius: 7px !important;
  border-top-right-radius: 7px !important;
}

.customok {
	/*border-radius: 0px !important;*/
  background-color: #fff;
  color: #444bb6;
  /*margin-left: -10px;
  margin-right: -10px !important;
  margin-bottom: -10px;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;*/
	font-family: 'Montserrat', sans-serif;
}

.customconfirm {
	border-radius: 0px !important;
  background-color: #fff;
	color: #444bb6;
	font-family: 'Montserrat', sans-serif;
}

/****************************CADASTRO******************************************/
.middle {
    overflow: hidden;
    text-align: center;
}
.middle:before,
.middle:after {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.middle:before {
    right: 0.5em;
    margin-left: -50%;
}
.middle:after {
    left: 0.5em;
    margin-right: -50%;
}

.middle-black {
    overflow: hidden;
    text-align: center;
}
.middle-black:before,
.middle-black:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.middle-black:before {
    right: 0.5em;
    margin-left: -50%;
}
.middle-black:after {
    left: 0.5em;
    margin-right: -50%;
}

.logo-cadastro{
    /*position: absolute;*/
    /*left: 40px;*/
    display: block;
    margin: 0 auto;
    top: 0px;
    width: 50%;
    height: auto;

}
.cover-cadastro{
    position: absolute;
    right: 0px;
    z-index: -1;
    top: 0px;
    height: 15%;
}

::-webkit-input-placeholder {
   color: white !important;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   color: white !important;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: white !important;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   text-align: center;
}

:-ms-input-placeholder {
   color: white !important;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   text-align: center;
}

/******************************************************************************/

.ul-config {
    list-style-type: none;
    padding: 0;
    background: #fff;
    border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;
}

.a-config {
    display: block;
    padding: 10px 10px 10px 5px;
    border-bottom: 1px solid #E7E7E7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 50px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

.a-config2 {
    display: block;
    padding: 10px 10px 10px 5px;
    border-bottom: 1px solid #E7E7E7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 50px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

.a-fav {
    display: block;
    padding: 20px 10px 20px 5px;
    border-bottom: 1px solid #E7E7E7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    font-size: 15px;
}

.a-professores {
    display: block;
    padding: 10px 10px 5px 10px;
    border-bottom: 1px solid #E7E7E7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 70px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

.a-professores:active {
    background: #f2f2f2;
    color: #000;
}

.a-favoritos {
    display: block;
    padding: 10px 10px 5px 10px;
    border-bottom: 1px solid #E7E7E7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 70px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

.a-favoritos:active {
    background: #f2f2f2;
    color: #000;
}

.a-financeiro {
    display: block;
    padding: 10px 10px 0px 10px;
    border-bottom: 1px solid #E7E7E7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 50px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

.a-financeiro:active {
    background: #f2f2f2;
    color: #000;
}

.a-fav:active {
    background: #f2f2f2;
    color: #000;
}

.div-profs {
	position: relative;
	top: -10px;
}

.a-hist {
    display: block;
    padding: 15px 10px 15px 5px;
    border-bottom: 1px solid #E7E7E7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 50px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
}


.a-histdis {
    display: block;
    padding: 15px 10px 15px 5px;
    border-bottom: 1px solid #E7E7E7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 20px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

.i-professores {
	display: inline;
	float: right;
	position: relative;
	top: -25px;
  color: gray;
}

.i-favoritos {
	display: inline;
	float: right;
	position: relative;
	top: -40px;
  color: gray;
}

.a-fin {
    display: block;
    padding: 20px 15px 20px 5px;
    border-bottom: 1px solid #E7E7E7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 50px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
		font-size: 16px;
}

.a-fin:active{
    background: #f2f2f2;
    color: #000;
}

.a-tds {
    display: block;
    padding: 20px 15px 15px 5px;
    border-bottom: 1px solid #E7E7E7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 50px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
		font-size: 16px;
}

.a-tds:active{
    background: #f2f2f2;
    color: #000;
}

.a-categ {
    display: block;
    padding: 5px 10px 5px 5px;
    border-bottom: 1px solid #E7E7E7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 20px;
		border-left: none;
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

.a-categ:active{
    background: #fff;
    color: #000;
}

.a-dis {
    display: block;
    /*padding: 15px 15px 15px 5px;*/
    padding: 20px 15px 20px 10px;
    border-bottom: 1px solid #E7E7E7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 50px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    /*border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;*/
    font-size: 15px;
}

.a-dis:active{
    background: #f2f2f2;
    color: #000;
}

.a-profs {
    display: block;
    padding: 10px 10px 10px 50px;
    border-bottom: 1px solid #E7E7E7;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 50px;
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

.a-config2:active {
    background: #f2f2f2;
    color: #000;
}

.icon-config {
  display: inline;
  float: left;
  margin-left: -40px;
  font-size: 25px;
  color: #444bb6;
}

.icon-dis {
  position: relative;
  /*top: 7px;*/
  top: 17px;
  display: table;
  margin: 0 auto;
}

.face-config {
  display: inline;
  float: left;
  margin-left: -36px;
  font-size: 25px;
  color: #444bb6;
}

.icon-img {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	object-fit: cover;
	display: inline;
	margin-left: -70px;
  background-color: #444bb6;
}

.img-fav {
	border-radius: 50%;
	width: 90px;
	height: 90px;
	object-fit: cover;
	display: inline;
	/*border: 2px solid rgba(255, 255, 255, .9);*/
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.relative-center {
  margin: auto;
  position: relative;
  top: 20px; left: 0; bottom: 0; right: 0;
}

.icon-config2 {
  display: inline;
  float: left;
  margin-left: -40px;
  font-size: 25px;
  color: #444bb6;
}

.p-config {
  display: inline;
  color: gray;
  float: right;
  text-align: right;
  margin-right: 5px;
}

.last {
	border-bottom: none;
}

.strongcodeper {
	color: white;
	font-size: 20px;
	margin-top: 30px;
}

.custom {
  font-family: 'Montserrat', sans-serif;
}

.gradient-custom {
  background: -webkit-linear-gradient(#3acfd5, #3a4ed5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.obj-wrapper {
    position:relative;
    width:100%;
    padding-top:15%;
    height:0;
  }

.content {
    position:absolute;
    width:100%;
    height:100%;
  }

.custom-bar {
  background: #0148ba !important
}

.custom-tab {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.tab-item.tab-item-active, .tab-item.active, .tab-item.activated {
    opacity: 1;
    background: #444bb6;
    color: white;
    /*color: #444bb6;*/
}



.tab-item {
    opacity: 0.7;
}

.tab-item:not(:last-of-type) {
    border-right: 1px solid #ccc;
}

.tabs .tab-item .icon {
  font-size: 27px;
}

.tabs .title {
  font-size: 17px;
}

.btn-edit {
  color: #444bb6;
}

.ionic_ratings .icon {
    font-size: 50px;
  }

.diacustom {
  background: #fff; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#dbe3f0, #fff); /* For Safari 5.1 to 6.0 */
  background: linear-gradient(#dbe3f0, #fff); /* Standard syntax */
}

.divborder {
  width   : 400px;
  height  : 5px;
  position: relative;
  z-index : 1;
}

.divborder:before {
  content : "";
  position: absolute;
  right   : 0;
  bottom  : 0;
  height  : 1px;
  width   : 87%;  /* or 100px */
  border-bottom:2px solid #d9d9d9;
}

.cinzado {
  background-color: #F8F8F8;
}

.circled {
  margin: 0 auto;
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  /*border: 2px solid rgba(154, 238, 217, .9);*/
  border: 1px solid rgba(255, 255, 255, .9);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
  font-size: 20px;
  color: #fff;
  line-height: 70px;
  text-align: center;
  /*background: #9AEED9;*/
  background: rgba(255, 255, 255, .5);
}

.divcircled {
  background: rgba(255, 255, 255, .5);
  color: #fff;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.divcircledprof {
  background: rgba(255, 255, 255, .5);
  color: #444bb6;
  /*width: 50%;*/
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.circled-home {
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid rgb(127, 0, 0);
  border: 2px solid rgba(255, 255, 255, .7);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  overflow: hidden;
  font-size: 30px;
  color: #fff;
  line-height: 70px;
  text-align: center;
  background: #3a4ed5;
}

.p-home {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 5;
  top: 120px;
  /*margin-left: auto;
  margin-right: auto;*/
  overflow: hidden;
  font-size: 17px;
  color: #fff;
  line-height: 70px;
  text-align: center;
}

.p-home2 {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 5;
  top: 150px;
  /*margin-left: auto;
  margin-right: auto;*/
  overflow: hidden;
  font-size: 15px;
  color: #fff;
  line-height: 70px;
  text-align: center;
}


.circled-agenda {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 5;
  top: 100px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 3px solid rgb(127, 0, 0);
  border: 3px solid rgba(192, 192, 192, .9);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  overflow: hidden;
  font-size: 20px;
  color: #fff;
  line-height: 70px;
  text-align: center;
  background: rgb(68, 75, 182);
}

.circled-horarios {
  margin: 0 auto;
  left: 0;
  right: 0;
  /*top: 10px;*/
  /*margin-left: auto;
  margin-right: auto;*/
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid rgb(127, 0, 0);
  border: 3px solid rgba(192, 192, 192, .9);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  /*border-style: inset;*/
  overflow: hidden;
  font-size: 20px;
  color: #fff;
  line-height: 70px;
  text-align: center;
  background: rgba(255, 255, 255, .5);
}


.novali {
  border: 2px solid #385583;
}

.circle {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.prof-horarios {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
	object-fit: cover;
  border: 2px solid rgb(127, 0, 0);
  border: 2px solid rgba(255, 255, 255, .7);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  /*border-style: inset;*/
  overflow: hidden;
  border-radius: 50%;
}

.prof-agendamento {
  display: inline-block;
  position: relative;
  width: 90px;
  height: 90px;
	top: -20px;
	object-fit: cover;
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  overflow: hidden;
  border-radius: 50%;
}

.avatar {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
  border: 5px solid rgb(127, 0, 0);
  border: 5px solid rgba(255, 255, 255, .5);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  /*border-style: inset;*/
  overflow: hidden;
  border-radius: 50%;
}

.avatar-icon {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  /*border:3px solid black;*/
  /*border: 2px solid black;*/
  border: 7px solid rgb(127, 0, 0);
  border: 7px solid rgba(192, 192, 192, .5);
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  /*border-style: inset;*/
  overflow: hidden;
  border-radius: 50%;
}


.left-image{
    display: block;
    margin: 0 auto;
    /*top: 15px;*/
    top: 0px;
}
.right-image{
    position: absolute;
    right: 0px;
    z-index: 5;
    top: 0px;
    min-height: 300px;
		max-height: 300px;
		/*min-height: 130px;
		max-height: 130px;*/
}

.divprof {
	position: relative;
	top: 20px;
}

.right-icon{
    position: absolute;
    right: 0px;
    z-index: 5;
    top: 0px;
}

.floating-div{
    position: absolute;
    top: 215px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.mod {
  background-color: #385583;
}

.neutral {
  border-bottom: 1px solid #A9A9A9;
}

.has-errors {
  border-bottom: 3px solid #1E90FF;
}

.no-errors {
  border-bottom: 1px solid #385583;
  border-top: 1px solid #385583;
  border-left: 1px solid #385583;
  border-right: 1px solid #385583;
}

.no-errors2 {
  border-bottom: 1px solid #385583;
  border-left: 1px solid #385583;
  border-right: 1px solid #385583;
}

.no-errors3 {
  border-bottom: 2px solid #3acfd5;
}

.error {
  padding: 10px 7px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #B83E2C;
  vertical-align: middle;
}

.error-light {
  padding: 10px 7px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: black;
  vertical-align: middle;
}

/*.loading-container .loading {
    background-color: white;
    color: #333;
    border-width: 1px !important;
    border-color: #999 !important;
    border-style: solid !important;
}*/

.input-destaque {
  background: #F84072;
  border: 2px red solid;
}


.caixa-sombreada {
  box-shadow: 10px 10px 5px grey;
}

.sombra-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sombra-nada {
  box-shadow: 0 0px 0px 0;
}

.sombra-card2 {
    z-index: -1; /* hide shadow behind image */
    /*box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);*/
}

.sombra-card3 {
    z-index: -1; /* hide shadow behind image */
}

.sombra-button {
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.sombra-dia {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}

.sombra-aulas {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
}

.radio-icon {
  color: #387ef5;
}

.iconazul {
  color: #387ef5;
}

.centrado{
  text-align: center;
}

.cor1 {
  background-color: #000e2a;
  color: white;
}

.cor2 {
  background-color: #900ceb;
  color: white;
}

.cordomodular{
  background: #444bb6; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #33ffd6, #444bb6); /* For Safari 5.1 to 6.0 */
  background: linear-gradient(to bottom right, #33ffd6, #444bb6); /* Standard syntax */
  color: #fff;
}

.cordomodular2{
  background: #8f94d6; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #444bb6, #000); /* For Safari 5.1 to 6.0 */
  background: linear-gradient(to bottom right, #444bb6, #404040); /* Standard syntax */
  color: #fff;
}

.cordomodular3{
  background: #33ffd6; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#33ffd6 , #444bb6); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#33ffd6, #444bb6); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#33ffd6, #444bb6); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#33ffd6 , #444bb6); /* Standard syntax */
}

.cordomodular4{
  background: #33ffd6; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left, #444bb6 , #00e6b8); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #444bb6, #00e6b8); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #444bb6, #00e6b8); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #444bb6 , #00e6b8); /* Standard syntax */
}

.iconemod{
  color: #385583 !important;
}

.btncancelar{
  background-color: #DC143C !important;
  color: #fff;
  opacity: 0.8;
}

.btnconfirmar{
  background-color: #3CB371 !important;
  color: #fff;
  opacity: 1;
}

.pinlinemod{
  color: #385583;
  display: inline;
}

.buttonmod{
  background-color: #385583 !important;
  color: #fff;
}

.justo{
  text-align: justify;
  text-justify: inter-word;
}

.opaco{
  opacity: 0.8;
}

.pmodular{
  display: inline;
  text-align: right;
  float: right;
  color: #387ef5 !important;
  font-weight: normal;
	font-family: 'Montserrat', sans-serif;
}

.pmodular-contato{
  display: inline;
  text-align: right;
  float: right;
  color: #fff !important;
  font-weight: normal;
	font-family: 'Montserrat', sans-serif;
}


.pmodular-adress{
  color: #387ef5 !important;
  font-weight: bold;
}


.pmodular2{
  display: inline;
  text-align: right;
  float: right;
}

.iconeicn{
  /*font-size: 80px;*/
  /*font-size: 50px !important;*/
  color: #A9A9A9 !important;
  opacity: 0.4;
}

.picn{
  font-size: 15px;
  color: #A9A9A9 !important;
  opacity: 0.6;
}

.pntemprof{
  font-size: 15px;
  color: #A9A9A9 !important;
  opacity: 0.6;
}

.intemprof{
  font-size: 50px;
  color: #A9A9A9 !important;
  opacity: 0.6;
}

.cordocancelar{
  background-color: #f8f8f8 !important;
  color: #fff;
}

.headermod{
  background: #385583 !important;
  color: #fff;

}

.estilodvd {
  text-align: center;
}

.amarelo {
  background-color: #ffe73a !important;
  color: white;
}

.vermelho {
  background-color: #ff4500 !important;
  color: white;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-left: 10px solid crimson;
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right:10px solid crimson;
}

/*@media (min-width: 680px){
  .modal{
    border-radius: 8px !important;
    overflow:hidden !important;
  }
}*/

.img-circular{
 width: 200px;
 height: 200px;
 background-image: url('http://strawberry-fest.org/wp-content/uploads/2012/01/Coca-Cola-logo.jpg');
 background-size: cover;
 display: block;
 border-top-left-radius: 100px;
 -webkit-border-top-left-radius: 100px;
 -moz-border-top-left-radius: 100px;
 border-bottom-right-radius: 100px;
 -webkit-border-bottom-right-radius: 100px;
 -moz-border-bottom-right-radius: 100px;
}

.cima {
  bottom: 5px;
}
