<ion-view title="Detalhes" id="addCartaoAdress" style="background-color: #f2f2f2;" ng-controller = "cardsCtrl">
    <ion-content padding="true" class="has-header has-tabs" ng-init="loadCardInfoConfig()">
        <!--<form class="list" name="myForm" novalidate>
          <div class="list">
                  <div class="item item-divider custom" style="text-align: center; border-top-left-radius: 0px; border-top-right-radius: 0px;">
                    Informações do Cliente
                  </div>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label custom" style="color: #3a4ed5;">Nome: <p style="color: gray; display: inline;">(Completo)</p></span>
                    <input class="custom" id="cardnome" type="text" ng-model="data.cartaonome" ng-minlength="3" ng-maxlength="50" required>
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label custom" style="color: #3a4ed5;">CPF: <p style="color: gray; display: inline;">(Sem formatação)</p></span>
                    <input class="custom" id="cardcpf" type="text" ng-model="data.cartaocpf" ng-minlength="5" ng-maxlength="50" required>
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label custom" style="color: #3a4ed5;">Telefone: <p style="color: gray; display: inline;">(Com DDD)</p></span>
                    <input class="custom" id="cardtelefone" type="tel" ng-model="data.cartaotelefone" ng-minlength="10" ng-maxlength="50" required>
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label custom" style="color: #3a4ed5;">E-mail:</span>
                    <input class="custom" id="cardemail" type="email" ng-model="data.cartaoemail" ng-minlength="5" ng-maxlength="50" required>
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label custom" style="color: #3a4ed5;">Data de Nascimento:</span>
                    <input class="custom" id="cardbirth" type="date" ng-model="data.cartaobirth" required>
                  </label>

                  <div class="item item-divider custom" style="text-align: center;">
                    Informações do Endereço
                  </div>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label custom" style="color: #3a4ed5;">Rua:</span>
                    <input class="custom" id="cardrua" type="text" ng-model="data.cartaorua" ng-minlength="1" ng-maxlength="50" required>
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label custom" style="color: #3a4ed5;">Número:</span>
                    <input class="custom" id="cardnumero" type="text" ng-model="data.cartaonumero" ng-minlength="1" ng-maxlength="50" required>
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label custom" style="color: #3a4ed5;">Bairro:</span>
                    <input class="custom" id="cardbairro" type="text" ng-model="data.cartaobairro" ng-minlength="1" ng-maxlength="50" required>
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label custom" style="color: #3a4ed5;">CEP: <p style="color: gray; display: inline;">(Sem formatação)</p></span>
                    <input class="custom" id="cardcep" type="text" ng-model="data.cartaocep" ng-minlength="3" ng-maxlength="50" required>
                  </label>
                  <label class="item item-input item-stacked-label">
                    <span class="input-label custom" style="color: #3a4ed5;">Cidade:</span>
                    <input class="custom" id="cardcidade" type="text" ng-model="data.cartaocidade" ng-minlength="3" ng-maxlength="50" required>
                  </label>
                  <label class="item item-input item-stacked-label" style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;">
                    <span class="input-label custom" style="color: #3a4ed5;">Estado: <p style="color: gray; display: inline;">(Sigla)</p></span>
                    <input class="custom" id="cardestado" type="text" ng-model="data.cartaoestado" ng-minlength="2" ng-maxlength="2" required>
                  </label>

                </div>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <p class="custom" style="text-align: center;" ng-show="myForm.$invalid"><i class="icon ion-ios-information-outline"></i> Por favor, confira seus dados</p>
                <div class="spacer" style="width: 300px; height: 10px;"></div>
                <button class="button button-block button-stable sombra-button custom" style="font-size: 15px;" ng-click = "addMyCard(data.cartaonome, data.cartaocpf, data.cartaotelefone, data.cartaoemail, data.cartaobirth, data.cartaorua, data.cartaonumero, data.cartaobairro, data.cartaocep, data.cartaocidade, data.cartaoestado, 'meusCartoes')" ng-disabled="myForm.$invalid"><strong>Confirmar</strong>
                  <i class="ion-ios-checkmark-outline" style="float: right; font-size: 25px; color: #3a4ed5;"></i>
                </button>

        </form>-->

        <form class="list" name="myForm" novalidate>
          <div class="list">
              <div class="item item-divider custom" style="text-align: center; border-top-left-radius: 0px; border-top-right-radius: 0px; background-color: #fff;">
                Informações do Cliente
              </div>
              <label class="item item-input item-stacked-label" style="background-color: #fff;">
                <span class="input-label custom" style="color: #3a4ed5;">Nome: <p style="color: gray; display: inline;">(Completo)</p></span>
                <input class="custom" type="text" ng-model="data.holder.fullname" ng-minlength="3" ng-maxlength="50" required>
              </label>
              <label class="item item-input item-stacked-label" style="background-color: #fff;">
                <span class="input-label custom" style="color: #3a4ed5;">CPF: <p style="color: gray; display: inline;">(Sem formatação)</p></span>
                <input class="custom" type="text" ng-model="data.holder.cpf" ng-minlength="5" ng-maxlength="50" required>
              </label>
              <label class="item item-input item-stacked-label" style="background-color: #fff;">
                <span class="input-label custom" style="color: #3a4ed5;">Telefone: <p style="color: gray; display: inline;">(Com DDD)</p></span>
                <input class="custom" type="tel" ng-model="data.holder.phone.number" ng-minlength="10" ng-maxlength="50" required>
              </label>
              <label class="item item-input item-stacked-label" style="background-color: #fff;">
                <span class="input-label custom" style="color: #3a4ed5;">E-mail:</span>
                <input class="custom" type="email" ng-model="data.holder.email" ng-minlength="5" ng-maxlength="50" required>
              </label>
              <label class="item item-input item-stacked-label" style="background-color: #fff;">
                <span class="input-label custom" style="color: #3a4ed5;">Data de Nascimento:</span>
                <input class="custom" type="date" ng-model="data.holder.birthDate" required>
              </label>

              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <div class="item item-divider custom" style="text-align: center; background-color: #fff;">
                Informações do Endereço
              </div>
              <label class="item item-input item-stacked-label" style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; background-color: #fff;">
                <span class="input-label custom" style="color: #3a4ed5;">Estado: <p style="color: gray; display: inline;">(Sigla)</p></span>
                <input class="custom" type="text" ng-model="data.shippingAddress.state" ng-minlength="2" ng-maxlength="2" required>
              </label>
              <label class="item item-input item-stacked-label" style="background-color: #fff;">
                <span class="input-label custom" style="color: #3a4ed5;">Cidade:</span>
                <input class="custom" type="text" ng-model="data.shippingAddress.city" ng-minlength="3" ng-maxlength="100" required>
              </label>
              <label class="item item-input item-stacked-label" style="background-color: #fff;">
                <span class="input-label custom" style="color: #3a4ed5;">Bairro:</span>
                <input class="custom" type="text" ng-model="data.shippingAddress.district" ng-minlength="1" ng-maxlength="50" required>
              </label>
              <label class="item item-input item-stacked-label" style="background-color: #fff;">
                <span class="input-label custom" style="color: #3a4ed5;">Rua:</span>
                <input class="custom" type="text" ng-model="data.shippingAddress.street" ng-minlength="1" ng-maxlength="50" required>
              </label>
              <label class="item item-input item-stacked-label" style="background-color: #fff;">
                <span class="input-label custom" style="color: #3a4ed5;">Número:</span>
                <input class="custom" type="text" ng-model="data.shippingAddress.streetNumber" ng-minlength="1" ng-maxlength="50" required>
              </label>
              <label class="item item-input item-stacked-label" style="background-color: #fff;">
                <span class="input-label custom" style="color: #3a4ed5;">Complemento:</span>
                <input class="custom" type="text" ng-model="data.shippingAddress.complement" ng-minlength="1" ng-maxlength="100" required>
              </label>
              <label class="item item-input item-stacked-label" style="background-color: #fff;">
                <span class="input-label custom" style="color: #3a4ed5;">CEP: <p style="color: gray; display: inline;">(Sem formatação)</p></span>
                <input class="custom" type="text" ng-model="data.shippingAddress.zipCode" ng-minlength="3" ng-maxlength="50" required>
              </label>

            </div>
            <div class="spacer" style="width: 300px; height: 10px;"></div>
            <p class="custom" style="text-align: center;" ng-show="myForm.$invalid"><i class="icon ion-ios-information-outline"></i> Por favor, confira seus dados</p>
            <div class="spacer" style="width: 300px; height: 10px;"></div>
            <button class="button button-block button-stable sombra-button custom" style="font-size: 15px;" ng-click = "addMyCard(data, 'meusCartoes')" ng-disabled="myForm.$invalid"><strong>Confirmar</strong>
              <i class="ion-ios-checkmark-outline" style="float: right; font-size: 25px; color: #3a4ed5;"></i>
            </button>

        </form>
    </ion-content>
</ion-view>
