<ion-view title="Cartões" id="addCartao" style="background-color: #f2f2f2;" ng-controller = "cardsCtrl">
    <ion-content padding="true" class="has-header has-tabs">
      
        <!--<form class="list" name="myForm" novalidate>
          <div class="item item-divider custom" style="text-align: center; border-top-left-radius: 0px; border-top-right-radius: 0px; background-color: #fff;">
            Informações de Pagamento
          </div>
          <label class="item item-input item-stacked-label" style="background-color: #fff;">
            <span class="input-label custom" style="font-size: 14px; color: #3a4ed5;">Número do cartão: <p style="color: gray; display: inline;">(Sem formatação)</p></span>
            <input class="custom" id="cardcartao2" type="text" ng-model = "data.n" ng-minlength="13" ng-maxlength="30" required>
          </label>
          <label class="item item-input item-select" style="background-color: #fff;">
            <div class = "input-label custom" style="font-size: 14px; color: #3a4ed5;">
              Bandeira:
           </div>
            <select class="custom" id="cardbandeira2" ng-model = "data.b" required>
              <option>Visa</option>
              <option>MasterCard</option>
              <option>American Express</option>
              <option>Diners Club</option>
              <option>Aura</option>
              <option>Elo</option>
              <option>Discover Network</option>
              <option>JCB</option>
            </select>
            <i class="fa fa-cc-visa" style="float: right; display: inline; color: #444bb6;" ng-show="data.b === 'Visa'"></i>
            <i class="fa fa-cc-mastercard" style="float: right; display: inline; color: #444bb6;" ng-show="data.b === 'MasterCard'"></i>
            <i class="fa fa-cc-amex" style="float: right; display: inline; color: #444bb6;" ng-show="data.b === 'American Express'"></i>
            <i class="fa fa-cc-diners-club" style="float: right; display: inline; color: #444bb6;" ng-show="data.b === 'Diners Club'"></i>
            <i class="fa fa-cc-discover" style="float: right; display: inline; color: #444bb6;" ng-show="data.b === 'Discover Network'"></i>
            <i class="fa fa-cc-jcb" style="float: right; display: inline; color: #444bb6;" ng-show="data.b === 'JCB'"></i>
          </label>
          <label class="item item-input item-stacked-label" style="background-color: #fff;">
            <span class="input-label custom" style="font-size: 14px; color: #3a4ed5;">Código de segurança: <p style="color: gray; display: inline;">(CVV)</p></span>
            <input class="custom" id="cardcvv2" type="text" ng-model = "data.c" ng-minlength="3" ng-maxlength="3" required>
          </label>
          <label class="item item-input item-stacked-label" style="background-color: #fff;">
            <span class="input-label custom" style="font-size: 14px; color: #3a4ed5;">Mês de vencimento: <p style="color: gray; display: inline;">(2 dígitos)</p></span>
            <input class="custom" id="cardmes2" type="text" ng-model = "data.m" ng-minlength="2" ng-maxlength="2" required>
          </label>
          <label class="item item-input item-stacked-label" style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; background-color: #fff;">
            <span class="input-label custom" style="font-size: 14px; color: #3a4ed5;">Ano de vencimento: <p style="color: gray; display: inline;">(4 dígitos)</p></span>
            <input class="custom" id="cardano2" type="text" ng-model = "data.y" ng-minlength="4" ng-maxlength="4" required>
          </label>

        </div>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <p class="custom" style="text-align: center;" ng-show="myForm.$invalid"><i class="icon ion-ios-information-outline"></i> Por favor, confira seus dados</p>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <button class="button button-block button-stable sombra-button custom" style="font-size: 15px;" ng-click = "addCardAdress()" ng-disabled = "myForm.$invalid"><strong>Confirmar</strong>
          <i class="ion-ios-checkmark-outline" style="float: right; font-size: 25px; color: #3a4ed5;"></i>
        </button>

        </form>-->

        <form class="list" name="myForm" novalidate>
          <div class="item item-divider custom" style="text-align: center; border-top-left-radius: 0px; border-top-right-radius: 0px; background-color: #fff;">
            Informações de Pagamento
          </div>
          <label class="item item-input item-stacked-label" style="background-color: #fff;">
            <span class="input-label custom" style="font-size: 14px; color: #3a4ed5;">Número do cartão: <p style="color: gray; display: inline;">(Sem formatação)</p></span>
            <input class="custom" type="text" ng-model = "data.cc_number" ng-minlength="3" ng-maxlength="30" required>
          </label>
          <label class="item item-input item-stacked-label" style="background-color: #fff;">
            <span class="input-label custom" style="font-size: 14px; color: #3a4ed5;">Código de segurança: <p style="color: gray; display: inline;">(CVV)</p></span>
            <input class="custom" type="text" ng-model = "data.cc_cvc" ng-minlength="3" ng-maxlength="3" required>
          </label>
          <label class="item item-input item-stacked-label" style="background-color: #fff;">
            <span class="input-label custom" style="font-size: 14px; color: #3a4ed5;">Mês de vencimento: <p style="color: gray; display: inline;">(2 dígitos)</p></span>
            <input class="custom" type="text" ng-model = "data.cc_exp_month" ng-minlength="2" ng-maxlength="2" required>
          </label>
          <label class="item item-input item-stacked-label" style="border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; background-color: #fff;">
            <span class="input-label custom" style="font-size: 14px; color: #3a4ed5;">Ano de vencimento: <p style="color: gray; display: inline;">(2 dígitos)</p></span>
            <input class="custom" type="text" ng-model = "data.cc_exp_year" ng-minlength="2" ng-maxlength="2" required>
          </label>

        </div>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <p class="custom" style="text-align: center;" ng-show="myForm.$invalid"><i class="icon ion-ios-information-outline"></i> Por favor, confira seus dados</p>
        <div class="spacer" style="width: 300px; height: 20px;"></div>
        <button class="button button-block button-stable sombra-button custom" style="font-size: 15px;" ng-click = "addCardAdressConfig(data, 'addCartaoAdress')" ng-disabled = "myForm.$invalid"><strong>Confirmar</strong>
          <i class="ion-ios-checkmark-outline" style="float: right; font-size: 25px; color: #3a4ed5;"></i>
        </button>

        </form>



    </ion-content>
</ion-view>
