<ion-view title="Meus Cartões" id="meusCartoesConfig" style="background-color: #f2f2f2;" ng-controller = "cardsCtrl">
    <ion-nav-buttons side="secondary">
      <button class="button button-positive button-clear custom custom-back" ng-click="editaCard()">
        {{textocard}}
      </button>
    </ion-nav-buttons>
    <div class="bar bar-subheader" style="height: 50px; background-color: #fff;">
      <div class="col text-center">
        <a ui-sref="tabsController.addCartaoConfig" class="button button-icon icon fa fa-plus-square-o" style="color: #444bb6;"></a>
      </div>
    </div>
    <ion-content padding="false" class="has-header has-tabs has-subheader">

        <div class="spacer" style="width: 300px; height: 10px;"></div>

        <ion-list show-delete="upcard">
          
          <div class="row" ng-show="data.spincards">
            <div class="col text-center">
              <ion-spinner></ion-spinner>
            </div>
          </div>
          <div class="spacer" style="width: 300px; height: 10px;"></div>
          <!--<ion-item class="item-icon-left" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-repeat-start = "card in cards">
            <i class="icon ion-card" style="color: #444bb6; font-size: 25px;"></i>
            <p class="custom" style="text-transform: uppercase; font-weight: bold;">{{card.brand}}</p>
            <p class="custom">Validade: {{card.expiration_month}}/{{card.expiration_year}}</p>
            <p class="custom" style="color: gray;">{{card.mask}}</p>
            <ion-delete-button class="ion-ios-trash-outline" style="color: Red" ng-click = "deleteMyCard(card.cartaoid)"></ion-delete-button>
          </ion-item>-->
          <ion-item class="item-icon-left" style="margin-left: auto; margin-right: auto; width: 95%; border-radius: 0px; text-align: center;" ng-click = "detailCard(card)" ng-repeat-start = "card in cards">
            <i class="icon ion-card" style="color: #444bb6; font-size: 25px;"></i>
            <p class="custom" style="text-transform: uppercase; font-weight: bold;">{{card.brand}}</p>
            <p class="custom" style="color: gray;">•••{{card.last4}}</p>
            <ion-delete-button class="ion-ios-trash-outline" style="color: Red" ng-click = "deleteMyCard(card.id, card.brand, card.last4)"></ion-delete-button>
          </ion-item>
          <div class="spacer" style="width: 300px; height: 10px;" ng-repeat-end></div>
          <div class="row" ng-show="nenhumCard">
            <div class="col text-center">
              <i class="icon ion-card" style="font-size: 50px; color: gray; opacity: 0.5;"></i>
              <div class="spacer" style="width: 300px; height: 10px;"></div>
              <p class="custom" style="font-size: 18px; color: gray; opacity: 0.5;">Nenhum cartão<br> adicionado</p>
            </div>
          </div>

    </ion-content>
</ion-view>
